@inherits UmbracoViewPage<ForgottenPassword>
@{
    Layout = "~/Views/SitePage.cshtml";
}

<div class="page-bg">

    <div class="container gutter">

        <div class="wgrid-main centered">

            <div class="boxx" m-radius-picker>

                <h1> you're password has been reset</h1>

            </div>

        </div>

    </div>

</div>