@inherits UmbracoViewPage<ForgottenPassword>
@{
    Layout = "~/Views/SitePage.cshtml";
}

<div class="page-bg">

    <div class="container gutter">

        <div class="wgrid-main centered">

            <div class="boxx" m-radius-picker>

                <h1>Password <br/><span class="bigger">reset</span></h1>

                <hr/>

                <h4>Your password has been reset</h4>


            </div>

        </div>

    </div>

</div>