@model ForgottenPasswordForm

@using (Html.BeginUmbracoForm<ForgottenPasswordSurfaceController>("HandleForgottenPasswordForm"))
{
    @Html.AntiForgeryToken()


    <div class="grid-8 grid-mobile-12 margin-bottom-large">

        <h4>Your details</h4>

        <p>If you can't remmeber the password you used for our Wonderland site, you can enter you email below, recieve an email and follow the steps to change your password.</p>


        <label for="EmailAddress">Email</label>
        <div class="margin-bottom-small" ng-show="errorEmailMessage.length>0" ng-init="errorEmailMessage='@Html.ValidationMessageFor(x => x.EmailAddress)'">@Html.ValidationMessageFor(x => x.EmailAddress)</div>
        @Html.TextBoxFor(x => x.EmailAddress, new { @m_radius_picker="small" })
    </div>

    <div class="grid-12">
        <hr />
        <button type="submit" class="btn-primary float-right" m-radius-picker="small">Reset password ></button>
        <a href="/" class="cancel margin-right-1 float-right">Cancel</a>
    </div>
}