@model ForgottenPasswordForm

@using (Html.BeginUmbracoForm<ForgottenPasswordSurfaceController>("HandleForgottenPasswordForm"))
{
    @Html.AntiForgeryToken()
    <div class="grid-8 grid-mobile-12 margin-bottom-large">
        <label for="EmailAddress">Email</label>
        <input name="EmailAddress" type="text" m-radius-picker="small" />
    </div>

    <div class="grid-12">
        <hr />
        <button type="submit" class="btn-primary float-right" m-radius-picker="small">Login ></button>
        <a href="/" class="cancel margin-right-1 float-right">Cancel</a>
    </div>
}