<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	
	<!-- Distrubuted Calls Package, syncs EC2 nodes -->
	<extendedDistributedCalling xdt:Transform="SetAttributes(enabled)" enabled="true" />

	<appSettings>
		<add key="umbracoDebugMode" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="DotMailer:Enabled" value="true" />
		<!-- SagePay Live -->
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SagePay:Vendor" value="macmillancance3" />
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SagePay:TransactionRegistrationUrl" value="https://live.sagepay.com/gateway/service/vspserver-register.vsp" />
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SagePay:NotificationUrl" value="https://www.welcometowonderland.org.uk/Umbraco/Api/SagePayApi/Notifcation/" />
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SagePay:RedirectDomain" value="https://www.welcometowonderland.org.uk" />
		<!-- AgeBase Distrubuted Calls (keeps web servers insync) -->
		<add xdt:Transform="Insert" key="AWS_ACCESS_KEY_ID" value="AKIAJGFQT56XNLQBAQSA"/>
		<add xdt:Transform="Insert" key="AWS_SECRET_KEY" value="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" />
		<add xdt:Transform="Insert" key="AWS_ENV_NAME" value="wonderland" />
		<add xdt:Transform="Insert" key="AWS_REGION" value="eu-west-1" />
		<!-- Please also see /config/FileSystemProviders.config, as this contains references to AWS -->

    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="Wonderland:CacheMinutes" value="5" />
  </appSettings>
   
	<connectionStrings>
		<add name="umbracoDbDSN" connectionString="Data Source=wonderlanddb.cvhckjyoscdl.eu-west-1.rds.amazonaws.com,1433;Initial Catalog=wonderland-4;Persist Security Info=True;User ID=paperdb;Password=w0nder!and"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>

	<!-- Enable DistributedCalling, used to allow AWS instances to communicate -->
	<extendedDistributedCalling xdt:Locator="SetAttributes" enabled="true" />

	
	<system.web>
		
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors xdt:Transform="SetAttributes" mode="RemoteOnly" />
		<!-- Supress the .NET version being displayed on the response header -->
		<httpRuntime xdt:Transform="SetAttributes" enableVersionHeader="false" />
		<pages xdt:Transform="SetAttributes" enableEventValidation="true" validateRequest="true"/>
		
	</system.web>

	<!-- Email -->
	<system.net>
		<mailSettings xdt:Transform="Replace">
			<smtp deliveryMethod="Network" from="wonderland@macmillan.org.uk">
				<network 
					defaultCredentials="false"
					port="587" 
					host="smtp.mandrillapp.com" 
					password="RD96iBs2lGp4rApUTWKrqg"
					userName="mail@voodoobytes.net" />
			</smtp>  
		</mailSettings>
	</system.net>	
		
	<system.webServer>
		
		<!-- Rewrite errors -->
		<httpErrors errorMode="Custom" existingResponse="Replace" xdt:Transform="Replace">
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" path="/page-not-found/" responseMode="ExecuteURL" />
      <error statusCode="404" path="/page-not-found/" responseMode="ExecuteURL" />
    </httpErrors>
			
		<!-- Force all traffic onto HTTPS -->
		<rewrite xdt:Transform="Insert">
			
			<rules>

				<rule name="Redirect to WWW" stopProcessing="true" >
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^www\." negate="true"/>
					</conditions>
					<action type="Redirect" url="https://www.{HTTP_HOST}{HTTP_URL}" redirectType="Permanent" appendQueryString="false" />
				</rule>
				
				<rule name="Force HTTPS" stopProcessing="true">
					<match url="healthcheck.html" negate="true" />
					 <conditions>
							 <add input="{HTTP_X_FORWARDED_PROTO}" pattern="https" negate="true" />
					 </conditions>
					 <action type="Redirect" url="https://{HTTP_HOST}{HTTP_URL}" redirectType="Permanent" />
				</rule>
			
			</rules>
			
		</rewrite>
	</system.webServer>
	

</configuration>