<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
	<!-- TODO: Replace with Release ready transforms -->
	<system.net>
		<mailSettings xdt:Transform="Replace">
			<smtp deliveryMethod="Network">
				<network enableSsl="true" port="587" host="email-smtp.eu-west-1.amazonaws.com" password=" {bV{dYzyckH2 " userName="paperemail"/>
			</smtp>  
		</mailSettings>
	</system.net>

	<!-- AWS Configuration -->
	<appSettings>
		<add xdt:Transform="Insert" key="AWS_ACCESS_KEY_ID" value="AKIAJGFQT56XNLQBAQSA"/>
		<add xdt:Transform="Insert" key="AWS_SECRET_KEY" value="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" />
		<add xdt:Transform="Insert" key="AWS_ENV_NAME" value="" />
		<add xdt:Transform="Insert" key="AWS_REGION" value="" />
	</appSettings>
   
	<connectionStrings>
		<add name="umbracoDbDSN" connectionString="Data Source=wonderlanddb.cvhckjyoscdl.eu-west-1.rds.amazonaws.com,1433;Initial Catalog=wonderland-LIVE;Persist Security Info=True;User ID=paperdb;Password=w0nder!and"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>

	<!-- Enable DistributedCalling, used to allow AWS instances to communicate -->
	<extendedDistributedCalling xdt:Locator="SetAttributes" enabled="true" />

</configuration>