@model CustomPartyImageForm


<div m-image-upload m-on-success-event="partyImageCustomUrlUploaded">
    @using (Html.BeginUmbracoForm<PartySurfaceController>("HandleCustomPartyImageForm", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="ng-hide" m-ios-version m-min-ios="6" m-ios-remove-class="ng-hide">
            <div class="choose-file-wrapper icon-icon_camera margin-bottom-small width-mobile-100p">
                <input class="choose-file" type="file" name="customPartyImage" accept="image/jpeg,image/gif,image/png" m-file-selected="submit()" />
            </div>
        </div>
    }
</div>
