@model PartyCopyForm

<div ng-init="partyCopyDataInit(@Html.Raw(Json.Encode(Model)))"></div>

<script type="text/template" m-template-creator="partyCopyPartial">
    <div class="clearfix" ng-init="maxCharLength=600">
        @using (Html.BeginUmbracoForm<PartySurfaceController>("HandlePartyCopyForm", FormMethod.Post, new { m_serialized="", m_post_on_submit="partyCopyData", m_on_success_event="partyCopyDataUpdated", m_on_error_event="partyCopyDataErrored", ng_submit="feedback.processing=true" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-holder margin-bottom-3">
                <h4>Party description</h4>

                <label for="Copy">Description <span>(Max. <span ng-bind="maxCharLength"></span> characters)</span></label>
                <textarea class="body-medium font-futura" name="Copy" ng-model="partyCopyData.Copy" ng-readonly="feedback.processing" m-radius-picker="small" ng-class="{'error': partyCopyData.Copy.length>maxCharLength}"></textarea>

                <div class="form-info" ng-show="partyCopyData.Copy.length<=maxCharLength">
                    <span ng-bind="maxCharLength-partyCopyData.Copy.length"></span>
                    <span ng-pluralize count="maxCharLength-partyCopyData.Copy.length" when="{'one': 'character', 'other': 'characters'}"></span>
                    <span> remaining</span>
                </div>

                <div class="warning" ng-show="partyCopyData.Copy.length>maxCharLength">
                    <span class="icon-icon_alert"></span>
                    <span>You have exceeded the maximum length by </span>
                    <span ng-bind="partyCopyData.Copy.length-maxCharLength"></span>
                    <span ng-pluralize count="partyCopyData.Copy.length-maxCharLength" when="{'one': 'character', 'other': 'characters'}"></span>
                </div>
            </div>

            <div class="errorred" ng-show="feedback.showNetworkError" ng-cloak>Sorry, your connection timed out. <br/>Please login again.</div>

            <button type="submit" class="btn-primary float-right width-mobile-100p" ng-disabled="partyCopyData.Copy.length>maxCharLength || feedback.processing" m-radius-picker="small medium">Save changes</button>
            <span ng-click="closePageModal()" class="cancel margin-right-1 float-right">Cancel</span>
            <div ng-click="closePageModal()" class="modal-close"></div>
            <div class="loader pos-mobile-static float-mobile-left" ng-show="feedback.processing"></div>
        }
    </div>
</script>