@model PartyWallImageForm

<div class="float-right float-mobile-left width-mobile-100p margin-right-small" m-image-upload m-on-start-event="wallImageUploadStart" m-on-success-event="wallImageUrlUploaded">
    @using (Html.BeginUmbracoForm<PartySurfaceController>("HandlePartyWallImageForm", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="ng-hide" m-ios-version m-min-ios="6" m-ios-remove-class="ng-hide">
            <div class="choose-file-wrapper icon-icon_camera margin-bottom-small width-mobile-100p" ng-class="{'disabled': (wall.feedback.imageProcessing||wall.feedback.messageProcessing)}">
                <input type="file" class="choose-file" name="partyWallImage" accept="image/jpeg,image/gif,image/png" m-file-selected="submit()" />
            </div>
        </div>
        
        //if an image was already uploaded, and it's id associated with posting the message, then set it here, so that we can clean up orphans
        <input type="hidden" name="lastPartyWallImageId" value="" />
    }
</div>