@model PartyDetailsForm

<div ng-init="partyDetailsDataInit(@Html.Raw(Json.Encode(Model)))"></div>

<script type="text/ng-template" id="partials/partyDetailsForm.html">
    <div class="form-holder clearfix" ng-controller="PartyDetailsFormCtrl">
        @using (Html.BeginUmbracoForm<PartySurfaceController>("HandlePartyDetailsForm", FormMethod.Post, new { m_serialized="", m_post_on_submit="partyDetailsData", m_on_success_event="partyDetailsDataUpdated", ng_submit="partyDetailsData.processing=true" }))
        {
            @Html.AntiForgeryToken()

            <h4>About my party</h4>

            <div class="errorred" ng-show="partyDetailsData.error" ng-cloak ng-bind="partyDetailsData.error"></div>

            <label for="PartyHeading">Your party heading</label>
            <input name="PartyHeading" type="text" ng-model="partyDetailsData.PartyHeading" m-radius-picker="small" ng-readonly="partyDetailsData.processing" />

            <div class="container">
                <div class="grid-8 grid-tablet-12 parent">
                    <div class="date-details-shifter">
                        <label for="PartyDate">Date</label>
                        <div class="pos-relative margin-bottom-small">
                            <span class="form-field-ico icon-icon_calendar"></span>
                            <input class="input-with-icon" name="PartyDate" type="text" m-date-time-picker="tempModel.partyDate" m-radius-picker="small" readonly />
                        </div>
                    </div>
                </div>

                <div class="grid-4 grid-tablet-12 parent margin-bottom-large">
                    <label for="PartyTime">Time</label>
                        <div class="pos-relative margin-bottom-small">
                            <span class="form-field-ico icon-icon_clock"></span>
                            <select class="input-with-icon" name="PartyTime" ng-model="tempModel.partyTime" ng-options="x for x in tempModel.times" m-radius-picker="small"></select>
                        </div>
                </div>
            </div>

            <h4>Party address</h4>
            <div class="form-info margin-bottom-3">Only guests who have joined your party will be able to view your full address</div>


            <div class="grid-12 parent margin-bottom-large">

                <div class="grid-8 grid-tablet-12 parent">
                    <label for="Postcode2">Postcode</label>
                    <input type="text" class="margin-bottom-small" name="Postcode2" ng-model="partyDetailsData.Postcode" m-radius-picker="small" on-key-enter-trigger="pafAddressFinderPostcodeSearchPartyDetails"/>
                    <div m-address-finder="{{ partyDetailsData.Postcode }}" m-address="partyDetailsData" m-trigger-event="pafAddressFinderPostcodeSearchPartyDetails"></div>
                </div>
                <div class="clear"></div>
                <hr/>
            </div>


            <label for="Address1">Address 1</label>
            <input name="Address1" type="text" ng-model="partyDetailsData.Address1" m-radius-picker="small" ng-readonly="partyDetailsData.processing" />

            <label for="Address2">Address 2</label>
            <input name="Address2" type="text" ng-model="partyDetailsData.Address2" m-radius-picker="small" ng-readonly="partyDetailsData.processing" />

            <label for="TownCity">Town/City</label>
            <input name="TownCity" type="text" ng-model="partyDetailsData.TownCity" m-radius-picker="small" ng-readonly="partyDetailsData.processing" />

            <label for="Postcode">Postcode</label>
            <input class="margin-bottom-3" name="Postcode" type="text" ng-model="partyDetailsData.Postcode" m-radius-picker="small" ng-readonly="partyDetailsData.processing" />


            <button type="submit" class="btn-primary float-right width-mobile-100p" m-radius-picker="small" ng-disabled="partyDetailsData.processing">Save changes</button>
            <span ng-click="closePageModal()" class="cancel margin-right-1 float-right">Cancel</span>
            <div ng-click="closePageModal()" class="modal-close"></div>
            <div class="loader pos-mobile-static float-mobile-left" ng-show="partyDetailsData.processing"></div>
        }
    </div>
</script>