@model PartyCopyForm

<div ng-init="partyCopyDataInit(@Html.Raw(Json.Encode(Model)))"></div>

<script type="text/ng-template" id="partials/partyCopyForm.html">

    <div class="clearfix" ng-init="processing=false;maxCharLength=600">
        @using (Html.BeginUmbracoForm<PartySurfaceController>("HandlePartyCopyForm", FormMethod.Post, new { m_serialized="", m_post_on_submit="partyCopyData", m_on_success_event="partyCopyDataUpdated", ng_submit="processing=true" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-holder margin-bottom-3">
                <h4>Party description</h4>

                <label for="Copy">Description <span>(Max. <span ng-bind="maxCharLength"></span> characters)</span></label>
                <textarea class="body-medium font-futura" name="Copy" ng-model="partyCopyData.Copy" ng-readonly="processing" m-radius-picker="small" ng-class="{'error': partyCopyData.Copy.length>maxCharLength}"></textarea>

                <div class="form-info" ng-show="partyCopyData.Copy.length<=maxCharLength">
                    <span ng-bind="maxCharLength-partyCopyData.Copy.length"></span>
                    <div ng-pluralize count="maxCharLength-partyCopyData.Copy.length" when="{'one': 'character', 'other': 'characters'}"></div>
                    <span> remaining</span>
                </div>

                <div class="warning" ng-show="partyCopyData.Copy.length>maxCharLength">
                    <span class="icon-icon_alert"></span>
                    <span>You have exceeded the maximum length by </span>
                    <span ng-bind="partyCopyData.Copy.length-maxCharLength"></span>
                    <div ng-pluralize count="partyCopyData.Copy.length-maxCharLength" when="{'one': 'character', 'other': 'characters'}"></div>
                </div>
            </div>

            <button type="submit" class="btn-primary float-right width-mobile-100p" ng-disabled="partyCopyData.Copy.length>maxCharLength || processing" m-radius-picker="small medium">Save changes</button>
            <span ng-click="closePageModal()" class="cancel margin-right-1 float-right">Cancel</span>
            <div ng-click="closePageModal()" class="modal-close"></div>
            <div class="loader pos-mobile-static float-mobile-left" ng-show="processing"></div>
        }
    </div>
</script>