@model PartyWallMessageForm

<div ng-init="wallFormModelInit(@Html.Raw(Json.Encode(Model)))"></div>

@using (Html.BeginUmbracoForm<PartySurfaceController>("HandlePartyWallMessageForm", FormMethod.Post, new { m_serialized="", m_post_on_submit="wall.formModel", m_on_success_event="wallMessagePosted", ng_submit="wall.feedback.messageProcessing=true" }))
{
    @Html.AntiForgeryToken()

    <div class="image-shift-details margin-bottom-small">
        <textarea name="Message" ng-model="wall.formModel.Message" m-radius-picker="small" class="wall-textarea"></textarea>

        <div class="wall-image-preview" m-radius-picker="small">
            <div class="loader pos-static" ng-show="wall.feedback.imageProcessing"></div>
            <div class="pad-small">
                <div class="errorred" class="margin-0" ng-show="wall.feedback.imageShowError">Oops something went wrong!</div>
            </div>

            <img class="pad-small" ng-src="{{ wall.previewImageUrl }}" ng-show="wall.previewImageUrl.length>0"/>
        </div>

    </div>
    
    <button type="submit" class="btn-secondary float-right" ng-disabled="(!wall.formModel.PartyWallImage && !wall.formModel.Message) || wall.feedback.messageProcessing" m-radius-picker="small">Post message</button>
}