@model PartyImageForm


<div ng-init="partyImageDefaultDataInit(
    @Html.Raw(Json.Encode(Model.DefaultImages.Select(x => x.Url)))
)"></div>



<script type="text/ng-template" id="partials/partyImageForm.html">

    <div class="form-holder wide clearfix">

        <div class="grid-12 parent">
            <h4>Choose a party image from our gallery</h4>
        </div>


        <div class="grid-4 grid-tablet-6 grid-mobile-12 clearfix" ng-repeat="defaultImage in partyImageDefaultData">
            <div class="party-image-container min-height-12" ng-class="{'selected': partyImageData.PartyImage==defaultImage}">
                <div ng-click="partyImageData.PartyImage=defaultImage">
                    <!--<input type="radio" name="urlSelectar" ng-model="partyImageData.PartyImage" ng-value="defaultImage"  />-->
                    <div class="party-image-selecter" ng-style="{'background-image': 'url(' + defaultImage + ')'}" m-radius-picker="small"></div>
                </div>
                <div class="warner" ng-click="partyImageData.PartyImage=null">Deselect image <span class="icon-icon_x"></span></div>
            </div>
        </div>

        <div class="grid-12 parent">
            <h4>Or upload your own</h4>
        </div>

        <div class="grid-8 grid-tablet-12 parent margin-bottom-large">

            <div class="boxx internal margin-bottom-medium" m-radius-picker="small">

                <div class="float-left">
                    <div class="party-image-container"ng-class="{'selected': (partyImageData.PartyImage==partyCustomImage.url && partyCustomImage.url)}">
                        <label>
                            <input type="radio" name="urlSelectar" ng-model="partyImageData.PartyImage" value="{{ partyCustomImage.url }}" ng-disabled="!partyCustomImage.url"  />
                            <div class="party-image-selecter icon-icon_question_mark" ng-style="{'background-image': partyCustomImage.url ? 'url(' + partyCustomImage.url + ')' : 'none'}" ng-class="{'image-set': partyCustomImage.url, 'image-unset': !partyCustomImage.url}" m-radius-picker="small"></div>
                        </label>
                        <div class="warner" ng-click="partyImageData.PartyImage=null">Deselect image <span class="icon-icon_x"></span></div>
                    </div>
                </div>


                @(Html.Action<PartySurfaceController>("RenderCustomPartyImageForm"))


                <div class="dis-inline-block ng-hide" m-ios-version m-max-ios="5" m-ios-remove-class="ng-hide" m-class-only-on-ios>
                    <div class="errorred">Your version of iOS does not support image uploads, you need to have iOS 6 or above</div>
                </div>

                <div class="ng-hide" m-ios-version m-min-ios="6" m-ios-remove-class="ng-hide">
                    <div class="file-upload-info">Recommended dimensions of <span class="dis-inline-block">1125 x 555</span></div>
                </div>
            </div>
        </div>

        <div class="grid-12">

            <hr/>

            @using (Html.BeginUmbracoForm<PartySurfaceController>("HandlePartyImageForm", FormMethod.Post, new { m_serialized="", m_post_on_submit="partyImageData", m_on_success_event="partyImageUpdated", m_on_error_event="partyImageUpdateError", ng_submit="feedback.processing=true" }))
            {
                @Html.AntiForgeryToken()

                <input name="PartyImage" type="hidden" ng-value="partyImageData.PartyImage">

                <div class="errorred" ng-show="feedback.showNetworkError" ng-cloak>The session may have timed out, <br/>please refresh the page and make sure you are still logged in</div>

                <button type="submit" class="btn-primary float-right width-mobile-100p" ng-disabled="!partyImageData.PartyImage||feedback.processing" m-radius-picker="small medium">Save changes</button>
                <span ng-click="closePageModal()" class="cancel margin-right-1 float-right">Cancel</span>
                <div ng-click="closePageModal()" class="modal-close"></div>
                <div class="loader float-left pos-mobile-static float-mobile-left" ng-show="feedback.processing"></div>
            }
        </div>

    </div>
</script>