@model PartyWallMessageForm

<div ng-init="wallFormModelInit(@Html.Raw(Json.Encode(Model)));maxCharLength=600;">

    @using (Html.BeginUmbracoForm<PartySurfaceController>("HandlePartyWallMessageForm", FormMethod.Post, new { m_serialized="", m_post_on_submit="wall.formModel", m_on_success_event="wallMessagePosted", m_on_error_event="wallMessagePostError", ng_submit="wall.feedback.messageProcessing=true" }))
    {
        @Html.AntiForgeryToken()

        <input id="PartyWallImage" name="PartyWallImage" type="hidden" ng-value="wall.formModel.PartyWallImage|forceNull">

        <div class="image-shift-details margin-bottom-small">
            <textarea name="Message" ng-model="wall.formModel.Message" m-radius-picker="small" class="wall-textarea" ng-class="{'error': wall.formModel.Message.length>600}"></textarea>

            <div class="wall-image-preview" m-radius-picker="small"  ng-class="{'error': wall.formModel.Message.length>600}">
                <div class="loader pos-static" ng-show="wall.feedback.imageProcessing"></div>
                <div class="pad-small">
                    <div class="errorred" class="margin-0" ng-show="wall.feedback.imageShowError">Oops something went wrong!</div>
                </div>

                <img class="pad-small" ng-src="{{ wall.previewImageUrl.url }}" ng-show="wall.previewImageUrl"/>
            </div>


            <div class="form-info" ng-show="wall.formModel.Message.length<=maxCharLength">
                <span ng-bind="maxCharLength-wall.formModel.Message.length"></span>
                <span ng-pluralize count="maxCharLength-wall.formModel.Message.length" when="{'one': 'character', 'other': 'characters'}"></span>
                <span> remaining</span>
            </div>


            <div class="warning" ng-show="wall.formModel.Message.length>maxCharLength">
                <span class="icon-icon_alert"></span>
                <span>You have exceeded the maximum length by </span>
                <span ng-bind="wall.formModel.Message.length-maxCharLength"></span>
                <span ng-pluralize count="wall.formModel.Message.length-maxCharLength" when="{'one': 'character', 'other': 'characters'}"></span>
            </div>


        </div>

        <button type="submit" class="btn-secondary float-right float-mobile-left margin-mobile-bottom-small width-mobile-100p" ng-disabled="(!wall.formModel.PartyWallImage && !wall.formModel.Message) || wall.feedback.messageProcessing || wall.formModel.Message.length>600" m-radius-picker="small">Post message</button>
    }

</div>