@model ProfileImageForm

<script type="text/ng-template" id="partials/profileImageForm.html">

    <h4 class="top">Profile image</h4>

    <div class="boxx internal" m-radius-picker="small">

        @* display the profile picture *@
        <div m-profile-image="{{ pageProfile.imageUrl }}" m-radius-picker="small"></div>


        <div class="image-shift-details width-mobile-100p">
            <div m-image-upload m-on-start-event="profileImageUploadStart" m-on-success-event="profileImageUpdated">


                @(Html.Action<ProfileSurfaceController>("RenderProfileImageForm"))


            </div>

            <div class="loader pos-static" ng-show="pageFeedback.profileImageProcessing"></div>

            <div class="successful" ng-show="pageFeedback.profileImageShowSuccess">Image uploaded successfully</div>
            <div class="errorred" ng-show="pageFeedback.profileImageShowError">Oops something went wrong!</div>

            <div class="file-upload-info margin-left-0">Recommended dimensions of <span class="dis-inline-block">200 x 200</span></div>
            @*<div class="file-upload-info margin-left-0">Maximum file size of 1MB</div>*@
        </div>
    </div>
    <div ng-click="closePageModal()" class="modal-close"></div>

</script>