@model SuggestedDonationForm

<div ng-init="suggestedDonationDataInit(@Html.Raw(Json.Encode(Model)))"></div>

<script type="text/ng-template" id="partials/suggestedDonationForm.html">

    <div class="form-holder wide" ng-controller="SuggestedDonationFormCtrl" ng-init="processing=false">

        <h4>Suggest a ticket price</h4>
        <p class="body-medium margin-bottom-medium">
            You're a ski-tastic host so suggest a donation to your guests for your Wonderland Eggnog-anza! Every penny will go to support the two million people living  with cancer in the UK, and help  them to take back control and live their lives to the fullest. That's cooler than an Alpine stream.
        </p>

        @using (Html.BeginUmbracoForm<PartySurfaceController>("HandleSuggestedDonationForm", FormMethod.Post, new { m_serialized="", m_post_on_submit="suggestedDonationData", m_on_success_event="suggestedDonationDataUpdated", ng_submit="processing=true" }))
        {
            @Html.AntiForgeryToken()

            <input id="SuggestedDonation" name="SuggestedDonation" type="hidden" ng-value="suggestedDonationData.SuggestedDonation">

            <div class="container margin-bottom-medium">

                <div class="pos-relative grid-3 grid-tablet-6 grid-mobile-12 pad-0" ng-repeat="donation in hardcodedDonationSuggestions">
                    <label >

                        <div class="ticket clickable" ng-class="{'selected': suggestedDonationData.SuggestedDonation==donation.amount}" ng-click="suggestedDonationData.SuggestedDonation=donation.amount">

                            <div class="stub">
                                <div class="holes"></div>
                                <div class="holes-right"></div>
                                <div class="price">£<span ng-bind="donation.amount"></span></div>
                            </div>

                            <div class="body-highlight text-align-center" ng-bind="donation.label"></div>

                            <!--<input type="radio" name="SuggestedDonation" ng-value="donation.amount" ng-model="suggestedDonationData.SuggestedDonation" ng-readonly="processing" />-->

                        </div>

                    </label>
                </div>

                <div class="clear"></div>
            </div>


            <button type="submit" class="btn-primary float-right" m-radius-picker="small" ng-disabled="processing">Save changes</button>
            <span ng-click="closePageModal()" class="cancel margin-right-1 float-right">Cancel</span>
            <div ng-click="closePageModal()" class="modal-close"></div>
            <div class="loader" ng-show="processing"></div>
        }

    </div>
</script>