@model SuggestedDonationForm

<div ng-init="suggestedDonationDataInit(@Html.Raw(Json.Encode(Model)))"></div>


<script type="text/template" m-template-creator="suggestedDonationPartial">

    <div class="form-holder wide clearfix">

        <h4>Suggest a ticket price</h4>
        <p class="body-medium margin-bottom-medium">
            You're a ski-tastic host so suggest a donation to your guests for your Wonderland Eggnog-anza! Every penny will go to support the two million people living  with cancer in the UK, and help  them to take back control and live their lives to the fullest. That's cooler than an Alpine stream.
        </p>

        @using (Html.BeginUmbracoForm<PartySurfaceController>("HandleSuggestedDonationForm", FormMethod.Post, new { m_serialized="", m_post_on_submit="suggestedDonationData", m_on_success_event="suggestedDonationDataUpdated", m_on_error_event="suggestedDonationDataError", ng_submit="feedback.processing=true" }))
        {
            @Html.AntiForgeryToken()

            <input id="SuggestedDonation" name="SuggestedDonation" type="hidden" ng-value="suggestedDonationData.SuggestedDonation">

            <div class="container margin-bottom-medium">

                <div class="pos-relative grid-3 grid-tablet-6 grid-mobile-12 pad-0" ng-repeat="donation in hardcoded.donationSuggestions">
                    <label >

                        <div class="ticket clickable" ng-class="{'selected': suggestedDonationData.SuggestedDonation==donation.amount}" ng-click="suggestedDonationData.SuggestedDonation=donation.amount">

                            <div class="stub">
                                <div class="holes"></div>
                                <div class="holes-right"></div>
                                <div class="price">£<span ng-bind="donation.amount"></span></div>
                            </div>

                            <div class="body-highlight text-align-center" ng-bind="donation.label"></div>

                        </div>

                    </label>
                </div>

                <div class="clear"></div>
            </div>


            <div class="errorred" ng-show="feedback.showNetworkError" ng-cloak>Sorry, your connection timed out. <br/>Please login again.</div>

            <button type="submit" class="btn-primary float-right width-mobile-100p" m-radius-picker="small" ng-disabled="feedback.processing">Save changes</button>
            <span ng-click="closePageModal()" class="cancel margin-right-1 float-right">Cancel</span>
            <div ng-click="closePageModal()" class="modal-close"></div>
            <div class="loader pos-mobile-static float-mobile-left" ng-show="feedback.processing"></div>
        }

    </div>
</script>