@inherits UmbracoViewPage<ForgottenPassword>
@{
    Layout = "~/Views/SitePage.cshtml";
}

<div class="page-bg">

    <div class="container gutter">

        <div class="wgrid-main centered">

            <div class="boxx" m-radius-picker>

                <h1><span class="lighter"><span class="icon-icon_person lighter margin-right-small"></span>Reset your </span><span class="bigger">Password</span></h1>

                <hr/>

                <p>Please check your emails now for a link to reset your Wonderland password.</p>

            </div>

        </div>

    </div>

</div>