/*------------------------------------------------------------------------------------------------------------------------
 @author: Sam Latif
 @www: http://www.samlatif.co.uk
 @github: samlatif

 @twitter: samlatifuk

 @copyright: COPYRIGHT 8-21-2014 On behalf of Paper Partnerships Ltd
 =============================================================================
 Filename: _icomoon.scss
 =============================================================================
 This file is responsible for all custom vector icons (via icomoon) in the Macmillan - Wonderland app.
 --------------------------------------------------------------------------------------------------------------------- */

/* =============================================================================
Helpers
========================================================================== */
@font-face {
	font-family: "icomoon";
	src:url('/fonts/icomoon.eot?-89hodh');
	src:url('/fonts/icomoon.eot?#iefix-89hodh') format('embedded-opentype'),
		url('/fonts/icomoon.woff?-89hodh') format('woff'),
		url('/fonts/icomoon.ttf?-89hodh') format('truetype'),
		url('/fonts/icomoon.svg?-89hodh#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

%icomoon {
	font-family: "icomoon";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

$wonderlandIcons: glass,music,search,envelope,heart,star,star-empty,user,film,th-large,th,th-list,remove,zoom-in,zoom-out,off,signal,cog,trash,home,file,time,road,download-alt,download,upload,repeat,refresh,list-alt,lock,flag,headphones,volume-off,volume-down,volume-up,qrcode,tag,tags,book,bookmark,print,camera,font,bold,italic,text-height,text-width,align-left,align-center,align-right,align-justify,list,indent-left,indent-right,picture,pencil,map-marker,adjust,edit,share,move,step-backward,fast-backward,backward,play,pause,stop,forward,fast-forward,step-forward,eject,chevron-left,chevron-right,plus-sign,minus-sign,remove-sign,question-sign,info-sign,screenshot,arrow-left,arrow-right,arrow-up,arrow-down,share-alt,resize-full,resize-small,plus,minus,gift,leaf,fire,eye-open,eye-close,warning-sign,plane,random,comment,magnet,chevron-up,chevron-down,retweet,folder-close,resize-vertical,resize-horizontal,twitter-sign,facebook-sign,key,cogs,comments,thumbs-up,thumbs-down,heart-empty,signout,linkedin-sign,pushpin,external-link,signin,trophy,github-sign,upload-alt,lemon,phone,bookmark-empty,phone-sign,twitter,facebook,github,unlock,credit,rss,hdd,bullhorn,bell,certificate,hand-right,hand-left,hand-up,hand-down,circle-arrow-left,circle-arrow-right,circle-arrow-up,circle-arrow-down,globe,wrench,tasks,filter,briefcase,fullscreen,group,link,cloud,beaker,cut,copy,paper-clip,save,sign-blank,reorder,list-ul,list-ol,strikethrough,underline,table,magic,truck,pinterest,google-plus-sign,google-plus,money,caret-down,caret-up,caret-left,caret-right,columns,sort,sort-down,sort-up,envelope-alt,linkedin,undo,legal,dashboard,comment-alt,comments-alt,bolt,sitemap,umbrella,paste,stethoscope,suitcase,bell-alt,coffee,food,file-alt,building,hospital,ambulance,medkit,angle-up,angle-down,desktop,laptop,tablet,mobile,circle-blank,quote-left,quote-right,paperclip,reply-all,forward-2,user-2,users,heart-2,heart-3,thumbs-up-2,thumbs-down-2,publish,chat,comment-2,skypeonline,error,drawer,drawer-2,drawer-3,volume-high,images,image,pencil-2,cart,coin,credit-2,phone-2,menu,earth,briefcase-2,airplane,truck-2,road-2,happy,sad,checkmark,checkmark-circle,file-pdf,file-openoffice,file-word,file-excel,file-zip,file-css,checkout,file-powerpoint,twitter-2,google-plus-2,facebook-2,flickr,flickr-2,vimeo,soundcloud,skype,apple,windows8,chrome,firefox,IE,opera,barcode,locked,redo,reply,file-add,folder-open,cord,cube,puzzle,tools,equalizer,brush,checkbox-partial,calendar,calendar-2,lifebuoy,exclamation-sign,box-add,box-remove,facetime-video,play-2,play-3,database,aid,vcard,compass,map,lightbulb,stats,pie,cart-2,share-2,html5,github-2,youtube,file-xml,alert;

// $wonderlandIcon-glass: "\f000";

// $wonderlandIcon-music: "\f001";

// $wonderlandIcon-search: "\f002";

// $wonderlandIcon-envelope: "\f003";

// $wonderlandIcon-heart: "\f004";

// $wonderlandIcon-star: "\f005";

// $wonderlandIcon-star-empty: "\f006";

// $wonderlandIcon-user: "\f007";

// $wonderlandIcon-film: "\f008";

// $wonderlandIcon-th-large: "\f009";

// $wonderlandIcon-th: "\f00a";

// $wonderlandIcon-th-list: "\f00b";

// $wonderlandIcon-remove: "\f00d";

// $wonderlandIcon-zoom-in: "\f00e";

// $wonderlandIcon-zoom-out: "\f010";

// $wonderlandIcon-off: "\f011";

// $wonderlandIcon-signal: "\f012";

// $wonderlandIcon-cog: "\f013";

// $wonderlandIcon-trash: "\f014";

// $wonderlandIcon-home: "\f015";

// $wonderlandIcon-file: "\f016";

// $wonderlandIcon-time: "\f017";

// $wonderlandIcon-road: "\f018";

// $wonderlandIcon-download-alt: "\f019";

// $wonderlandIcon-download: "\f01a";

// $wonderlandIcon-upload: "\f01b";

// $wonderlandIcon-repeat: "\f01e";

// $wonderlandIcon-refresh: "\f021";

// $wonderlandIcon-list-alt: "\f022";

// $wonderlandIcon-lock: "\f023";

// $wonderlandIcon-flag: "\f024";

// $wonderlandIcon-headphones: "\f025";

// $wonderlandIcon-volume-off: "\f026";

// $wonderlandIcon-volume-down: "\f027";

// $wonderlandIcon-volume-up: "\f028";

// $wonderlandIcon-qrcode: "\f029";

// $wonderlandIcon-tag: "\f02b";

// $wonderlandIcon-tags: "\f02c";

// $wonderlandIcon-book: "\f02d";

// $wonderlandIcon-bookmark: "\f02e";

// $wonderlandIcon-print: "\f02f";

// $wonderlandIcon-camera: "\f030";

// $wonderlandIcon-font: "\f031";

// $wonderlandIcon-bold: "\f032";

// $wonderlandIcon-italic: "\f033";

// $wonderlandIcon-text-height: "\f034";

// $wonderlandIcon-text-width: "\f035";

// $wonderlandIcon-align-left: "\f036";

// $wonderlandIcon-align-center: "\f037";

// $wonderlandIcon-align-right: "\f038";

// $wonderlandIcon-align-justify: "\f039";

// $wonderlandIcon-list: "\f03a";

// $wonderlandIcon-indent-left: "\f03b";

// $wonderlandIcon-indent-right: "\f03c";

// $wonderlandIcon-picture: "\f03e";

// $wonderlandIcon-pencil: "\f040";

// $wonderlandIcon-map-marker: "\f041";

// $wonderlandIcon-adjust: "\f042";

// $wonderlandIcon-edit: "\f044";

// $wonderlandIcon-share: "\f045";

// $wonderlandIcon-move: "\f047";

// $wonderlandIcon-step-backward: "\f048";

// $wonderlandIcon-fast-backward: "\f049";

// $wonderlandIcon-backward: "\f04a";

// $wonderlandIcon-play: "\f04b";

// $wonderlandIcon-pause: "\f04c";

// $wonderlandIcon-stop: "\f04d";

// $wonderlandIcon-forward: "\f04e";

// $wonderlandIcon-fast-forward: "\f050";

// $wonderlandIcon-step-forward: "\f051";

// $wonderlandIcon-eject: "\f052";

// $wonderlandIcon-chevron-left: "\f053";

// $wonderlandIcon-chevron-right: "\f054";

// $wonderlandIcon-plus-sign: "\f055";

// $wonderlandIcon-minus-sign: "\f056";

// $wonderlandIcon-remove-sign: "\f057";

// $wonderlandIcon-question-sign: "\f059";

// $wonderlandIcon-info-sign: "\f05a";

// $wonderlandIcon-screenshot: "\f05b";

// $wonderlandIcon-arrow-left: "\f060";

// $wonderlandIcon-arrow-right: "\f061";

// $wonderlandIcon-arrow-up: "\f062";

// $wonderlandIcon-arrow-down: "\f063";

// $wonderlandIcon-share-alt: "\f064";

// $wonderlandIcon-resize-full: "\f065";

// $wonderlandIcon-resize-small: "\f066";

// $wonderlandIcon-plus: "\f067";

// $wonderlandIcon-minus: "\f068";

// $wonderlandIcon-gift: "\f06b";

// $wonderlandIcon-leaf: "\f06c";

// $wonderlandIcon-fire: "\f06d";

// $wonderlandIcon-eye-open: "\f06e";

// $wonderlandIcon-eye-close: "\f070";

// $wonderlandIcon-warning-sign: "\f071";

// $wonderlandIcon-plane: "\f072";

// $wonderlandIcon-random: "\f074";

// $wonderlandIcon-comment: "\f075";

// $wonderlandIcon-magnet: "\f076";

// $wonderlandIcon-chevron-up: "\f077";

// $wonderlandIcon-chevron-down: "\f078";

// $wonderlandIcon-retweet: "\f079";

// $wonderlandIcon-folder-close: "\f07b";

// $wonderlandIcon-resize-vertical: "\f07d";

// $wonderlandIcon-resize-horizontal: "\f07e";

// $wonderlandIcon-twitter-sign: "\f081";

// $wonderlandIcon-facebook-sign: "\f082";

// $wonderlandIcon-key: "\f084";

// $wonderlandIcon-cogs: "\f085";

// $wonderlandIcon-comments: "\f086";

// $wonderlandIcon-thumbs-up: "\f087";

// $wonderlandIcon-thumbs-down: "\f088";

// $wonderlandIcon-heart-empty: "\f08a";

// $wonderlandIcon-signout: "\f08b";

// $wonderlandIcon-linkedin-sign: "\f08c";

// $wonderlandIcon-pushpin: "\f08d";

// $wonderlandIcon-external-link: "\f08e";

// $wonderlandIcon-signin: "\f090";

// $wonderlandIcon-trophy: "\f091";

// $wonderlandIcon-github-sign: "\f092";

// $wonderlandIcon-upload-alt: "\f093";

// $wonderlandIcon-lemon: "\f094";

// $wonderlandIcon-phone: "\f095";

// $wonderlandIcon-bookmark-empty: "\f097";

// $wonderlandIcon-phone-sign: "\f098";

// $wonderlandIcon-twitter: "\f099";

// $wonderlandIcon-facebook: "\f09a";

// $wonderlandIcon-github: "\f09b";

// $wonderlandIcon-unlock: "\f09c";

// $wonderlandIcon-credit: "\f09d";

// $wonderlandIcon-rss: "\f09e";

// $wonderlandIcon-hdd: "\f0a0";

// $wonderlandIcon-bullhorn: "\f0a1";

// $wonderlandIcon-bell: "\f0a2";

// $wonderlandIcon-certificate: "\f0a3";

// $wonderlandIcon-hand-right: "\f0a4";

// $wonderlandIcon-hand-left: "\f0a5";

// $wonderlandIcon-hand-up: "\f0a6";

// $wonderlandIcon-hand-down: "\f0a7";

// $wonderlandIcon-circle-arrow-left: "\f0a8";

// $wonderlandIcon-circle-arrow-right: "\f0a9";

// $wonderlandIcon-circle-arrow-up: "\f0aa";

// $wonderlandIcon-circle-arrow-down: "\f0ab";

// $wonderlandIcon-globe: "\f0ac";

// $wonderlandIcon-wrench: "\f0ad";

// $wonderlandIcon-tasks: "\f0ae";

// $wonderlandIcon-filter: "\f0b0";

// $wonderlandIcon-briefcase: "\f0b1";

// $wonderlandIcon-fullscreen: "\f0b2";

// $wonderlandIcon-group: "\f0c0";

// $wonderlandIcon-link: "\f0c1";

// $wonderlandIcon-cloud: "\f0c2";

// $wonderlandIcon-beaker: "\f0c3";

// $wonderlandIcon-cut: "\f0c4";

// $wonderlandIcon-copy: "\f0c5";

// $wonderlandIcon-paper-clip: "\f0c6";

// $wonderlandIcon-save: "\f0c7";

// $wonderlandIcon-sign-blank: "\f0c8";

// $wonderlandIcon-reorder: "\f0c9";

// $wonderlandIcon-list-ul: "\f0ca";

// $wonderlandIcon-list-ol: "\f0cb";

// $wonderlandIcon-strikethrough: "\f0cc";

// $wonderlandIcon-underline: "\f0cd";

// $wonderlandIcon-table: "\f0ce";

// $wonderlandIcon-magic: "\f0d0";

// $wonderlandIcon-truck: "\f0d1";

// $wonderlandIcon-pinterest: "\f0d2";

// $wonderlandIcon-google-plus-sign: "\f0d4";

// $wonderlandIcon-google-plus: "\f0d5";

// $wonderlandIcon-money: "\f0d6";

// $wonderlandIcon-caret-down: "\f0d7";

// $wonderlandIcon-caret-up: "\f0d8";

// $wonderlandIcon-caret-left: "\f0d9";

// $wonderlandIcon-caret-right: "\f0da";

// $wonderlandIcon-columns: "\f0db";

// $wonderlandIcon-sort: "\f0dc";

// $wonderlandIcon-sort-down: "\f0dd";

// $wonderlandIcon-sort-up: "\f0de";

// $wonderlandIcon-envelope-alt: "\f0e0";

// $wonderlandIcon-linkedin: "\f0e1";

// $wonderlandIcon-undo: "\f0e2";

// $wonderlandIcon-legal: "\f0e3";

// $wonderlandIcon-dashboard: "\f0e4";

// $wonderlandIcon-comment-alt: "\f0e5";

// $wonderlandIcon-comments-alt: "\f0e6";

// $wonderlandIcon-bolt: "\f0e7";

// $wonderlandIcon-sitemap: "\f0e8";

// $wonderlandIcon-umbrella: "\f0e9";

// $wonderlandIcon-paste: "\f0ea";

// $wonderlandIcon-stethoscope: "\f0eb";

// $wonderlandIcon-suitcase: "\f0ec";

// $wonderlandIcon-bell-alt: "\f0ed";

// $wonderlandIcon-coffee: "\f0ee";

// $wonderlandIcon-food: "\f0f0";

// $wonderlandIcon-file-alt: "\f0f1";

// $wonderlandIcon-building: "\f0f2";

// $wonderlandIcon-hospital: "\f0f3";

// $wonderlandIcon-ambulance: "\f0f4";

// $wonderlandIcon-medkit: "\f0f5";

// $wonderlandIcon-angle-up: "\f0f6";

// $wonderlandIcon-angle-down: "\f0f7";

// $wonderlandIcon-desktop: "\f0f8";

// $wonderlandIcon-laptop: "\f0f9";

// $wonderlandIcon-tablet: "\f0fa";

// $wonderlandIcon-mobile: "\f0fb";

// $wonderlandIcon-circle-blank: "\f0fc";

// $wonderlandIcon-quote-left: "\f0fd";

// $wonderlandIcon-quote-right: "\f0fe";

// $wonderlandIcon-paperclip: "\f104";

// $wonderlandIcon-reply-all: "\f107";

// $wonderlandIcon-forward-2: "\f108";

// $wonderlandIcon-user-2: "\f109";

// $wonderlandIcon-users: "\f10a";

// $wonderlandIcon-heart-2: "\f10b";

// $wonderlandIcon-heart-3: "\f10c";

// $wonderlandIcon-thumbs-up-2: "\f110";

// $wonderlandIcon-thumbs-down-2: "\f111";

// $wonderlandIcon-chat: "\f112";

// $wonderlandIcon-comment-2: "\f113";

// $wonderlandIcon-skypeonline: "\f39e";

// $wonderlandIcon-error: "\e002";

// $wonderlandIcon-drawer: "\e003";

// $wonderlandIcon-drawer-2: "\e004";

// $wonderlandIcon-drawer-3: "\e005";

// $wonderlandIcon-volume-high: "\e006";

// $wonderlandIcon-images: "\e008";

// $wonderlandIcon-image: "\e009";

// $wonderlandIcon-pencil-2: "\e00a";

// $wonderlandIcon-cart: "\e00e";

// $wonderlandIcon-coin: "\e00c";

// $wonderlandIcon-credit-2: "\e00d";

// $wonderlandIcon-phone-2: "\e00f";

// $wonderlandIcon-menu: "\e011";

// $wonderlandIcon-earth: "\e012";

// $wonderlandIcon-briefcase-2: "\e013";

// $wonderlandIcon-airplane: "\e014";

// $wonderlandIcon-truck-2: "\e015";

// $wonderlandIcon-road-2: "\e016";

// $wonderlandIcon-happy: "\e018";

// $wonderlandIcon-sad: "\e01b";

// $wonderlandIcon-checkmark: "\e019";

// $wonderlandIcon-checkmark-circle: "\e01c";

// $wonderlandIcon-file-pdf: "\e020";

// $wonderlandIcon-file-openoffice: "\e021";

// $wonderlandIcon-file-word: "\e022";

// $wonderlandIcon-file-excel: "\e023";

// $wonderlandIcon-file-zip: "\e024";

// $wonderlandIcon-file-css: "\e025";

// $wonderlandIcon-file-powerpoint: "\e026";

// $wonderlandIcon-twitter-2: "\e027";

// $wonderlandIcon-google-plus-2: "\e02a";

// $wonderlandIcon-facebook-2: "\e028";

// $wonderlandIcon-flickr: "\e029";

// $wonderlandIcon-flickr-2: "\e02b";

// $wonderlandIcon-vimeo: "\e02c";

// $wonderlandIcon-soundcloud: "\e02f";

// $wonderlandIcon-skype: "\e030";

// $wonderlandIcon-apple: "\e031";

// $wonderlandIcon-windows8: "\e032";

// $wonderlandIcon-chrome: "\e033";

// $wonderlandIcon-firefox: "\e034";

// $wonderlandIcon-IE: "\e035";

// $wonderlandIcon-opera: "\e036";

// $wonderlandIcon-barcode: "\f02a";

// $wonderlandIcon-locked: "\e000";

// $wonderlandIcon-redo: "\e001";

// $wonderlandIcon-reply: "\f106";

// $wonderlandIcon-file-add: "\e037";

// $wonderlandIcon-folder-open: "\f07c";

// $wonderlandIcon-cord: "\e00b";

// $wonderlandIcon-cube: "\e038";

// $wonderlandIcon-puzzle: "\e039";

// $wonderlandIcon-tools: "\e03a";

// $wonderlandIcon-equalizer: "\e03b";

// $wonderlandIcon-brush: "\e03c";

// $wonderlandIcon-checkbox-partial: "\e03d";

// $wonderlandIcon-calendar: "\f073";

// $wonderlandIcon-calendar-2: "\e03e";

// $wonderlandIcon-lifebuoy: "\e03f";

// $wonderlandIcon-exclamation-sign: "\f06a";

// $wonderlandIcon-box-add: "\e010";

// $wonderlandIcon-box-remove: "\e017";

// $wonderlandIcon-facetime-video: "\f03d";

// $wonderlandIcon-play-2: "\e007";

// $wonderlandIcon-play-3: "\e01a";

// $wonderlandIcon-database: "\e01d";

// $wonderlandIcon-aid: "\e01e";

// $wonderlandIcon-vcard: "\e01f";

// $wonderlandIcon-compass: "\e040";

// $wonderlandIcon-map: "\e041";

// $wonderlandIcon-lightbulb: "\e02e";

// $wonderlandIcon-stats: "\e042";

// $wonderlandIcon-pie: "\e043";

// $wonderlandIcon-cart-2: "\e044";

// $wonderlandIcon-share-2: "\e045";

// $wonderlandIcon-html5: "\e046";

// $wonderlandIcon-github-2: "\e047";

// $wonderlandIcon-youtube: "\e02d";

// $wonderlandIcon-file-xml: "\e048";

// $wonderlandIcon-alert: "\e049";


$wonderlandIconClasses: "";

@each $icon in $wonderlandIcons {
	.icon-#{$icon}:before {
		@extend %icomoon;
	}
}

[data-icon]:before {
	@extend %icomoon;
}

/* =============================================================================
Hard-coded icons (for the moment)
========================================================================== */

.icon-down_arrow:before {
	content: "\e600";
}
.icon-link:before {
	content: "\e601";
}
.icon-chevron:before {
	content: "\e602";
}
.icon-facebook:before {
	content: "\e603";
}
.icon-google_plus:before {
	content: "\e604";
}
.icon-twitter:before {
	content: "\e605";
}
.icon-padlock:before {
	content: "\e606";
}
.icon-x:before {
	content: "\e607";
}
