@import "compass/css3";
@import "variables";
@import "helpers";
@import "abstract";
@import "mixins";
@import "forms";
@import "type";

body {
	color: $greyReallyDark;
	background: $BodyBackground;
	@include rem-fallback(line-height, $LineHeight);
	font-family: $BaseFontFamily;
	@include rem-fallback(font-size, $FontSizeMedium);
	@extend %margin-none;
	@extend %padding-none;
}

nav, nav li, .toolbar, .toolbar li, .btn-group {
	@extend %inline;
	ul {
		@extend %margin-none;
		@extend %padding-none;
	}
	input {
		@extend %inline;
	}
}

pre {
	white-space: pre-wrap;
}

td {
	@include rem-fallback(padding-right, $padSmallValue * $multiplierLarge);
}

/************************************************************************** ANGULAR

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}



/* =============================================================================
Shadows
========================================================================== */
.shadowed {
	@include box-shadow(0 0 4.8px fade-out($TextColour, .3));
	@include box-shadow(0 0 3rem fade-out($TextColour, .3));
}

/* =============================================================================
images
========================================================================== */
img, object, embed {
	@include rem-fallback(max-width, 100%);
	margin: 0;
	padding: 0;
	display: block;
	border: none;
}

img[src=""], img[ng-src=""] {
   display: none;
}

iframe {
	border: none;
}

/* =============================================================================
Base page structure
========================================================================== */
.page-container {
	position: relative;
	width: 100%;
	left: 0;
}

main {
	@include rem-fallback(padding-top, 8.4rem);
}

.page-bg {
	background-color: $greyReallyLight;
	background-image: image-url('bg_simple.png');
	background-repeat: repeat-x;
	background-position: top center;
	padding: 13rem 0 6rem;
}

/* =============================================================================
Event Page specific - move these out of here eventually
========================================================================== */
.party-main-image {
	background-color: $greyLight;
	background-position: center center;
	background-size: cover;
	height: 37.2rem;

	position: relative;
	behavior: stylesheet-url('backgroundsize.min.htc');

	&.side {
		height: 18rem;
	}
}

.party-image-default {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	color: $SecondaryColour;
	@include rem-fallback(font-size, $FontSizeLarge);
	background-color: $greyLight;
	@include rem-fallback(padding-top, 9rem);
}

.no-party-image {
	background-color: $greyLight;
	@include rem-fallback(min-height, 25rem);
}

.edit-trigger {
	position: absolute;
	@include rem-fallback(top, 2rem);
	@include rem-fallback(right, 2rem);
	@include rem-fallback(line-height, 3rem);
	@include rem-fallback(width, 3rem);
	@include rem-fallback(height, 3rem);
	@include rem-fallback(font-size, $FontSizeSmall);
	cursor: pointer;
	color: white;
	text-align: center;
	background-color: $FourthColour;
	@include m-border-radius(4.8px, 4.8px, 4.8px, 4.8px, 4.8px, 4.8px, 4.8px, 4.8px);
	@include m-border-radius(3rem, 3rem, 3rem, 3rem, 3rem, 3rem, 3rem, 3rem);

	.edit-label {
		display: none;
		@include rem-fallback(margin-right, 1rem);
		text-transform: uppercase;
	}

	&:hover {
		padding: 0 15px;
		padding: 0 .95rem;
		width: auto;
		.edit-label {
			display: inline;
		}
	}
}

.profile-image {
	width: $profileImageSize;
	height: $profileImageSize;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: $greyMedium;
	float: left;
	zoom: 1;
	position: relative;

	&.profile-image-notset {
		background-image: image-url('avatar.jpg')!important;
	}

	&.small {
		@include rem-fallback(width, $profileImageSize * .7);
		@include rem-fallback(height, $profileImageSize * .7);
	}

	behavior: stylesheet-url('backgroundsize.min.htc');
}price

.profile-image-remover {
	color: $redDark;
	@include rem-fallback(font-size, $FontSizeMini);
	cursor: pointer;

	position: absolute;
	@include rem-fallback(top, $profileImageSize + .6rem);
	@include rem-fallback(left, .3rem);
	@include rem-fallback(width, $profileImageSize);
}

.image-shift-details {
	@include rem-fallback(margin-left, $profileImageSize + $padSmallValue);

	&.bigger {
		@include rem-fallback(margin-left, $profileImageSize + $padSmallValue + 5rem);
	}

}

.anti-image-shift-details {
	@include rem-fallback(margin-left, -($profileImageSize + $padSmallValue));

	&.bigger {
		@include rem-fallback(margin-left, -($profileImageSize + $padSmallValue + 5rem));
	}
}

.party-details {
	@extend .image-shift-details;
	color: $greyDark;

	[class^="icon-"], [class*=" icon-"] {
		color: $greyLight;
	}
}

.badge {
	width: 100%;
	height: 7.8rem;
	background-size: 112px 250px;
	background-size: 7rem 15.6rem;
	overflow: hidden;

	background-repeat: no-repeat;
	background-position: bottom center;

	&.badge.collected {
		background-position: top center;
	}

	position: relative;
	behavior: stylesheet-url('backgroundsize.min.htc');
}

.icon-only span {
	display: block;
	@include rem-fallback(text-indent, -999rem);
}

/*******************************/
// party image mo
.party-image-container {
	@extend .margin-bottom-medium;

	float: left;
	cursor: pointer;

	input[type="radio"] {
		display: none;
	}

	.warner {
		@extend .warning;
		@include rem-fallback(width, 16rem);
		text-align: center;
		display: none;
	}

	&.selected {

		.party-image-selecter:after {
			content: "\e61f"; // tick
			font-family: "icomoon";
			background-color: $SecondaryColour;
			color: white;
			@include rem-fallback(font-size, 4rem);
			padding: 32px 112px 32px 92.8px;
			padding: 2rem 7rem 2rem 5.8rem;
			@include rem-fallback(line-height, 8rem);
			opacity: .8;
		}

		.party-image-selecter:before {
			content: "";
			margin-left: 0;
		}

		.warner {
			display: block;
			cursor: pointer;
		}
	}
}

.party-image-selecter {
	@extend .margin-right-small;
	width: 16rem;
	height: 7.5rem;
	background-size: cover;
	background-color: $greyLight;
	cursor: pointer;
	position: relative;
	overflow: hidden;

	behavior: stylesheet-url('backgroundsize.min.htc');

	&:before {
		color: white;
		@include rem-fallback(font-size, $HeadingFontSizeLarge);
		@include rem-fallback(line-height, 7.5rem);
		@include rem-fallback(margin-left, 6.8rem);
	}

	&.image-unset {
		cursor: default;
	}

	&.image-set:before {
		content: "";
	}
}

.reference-image {
	width: 100%;
	height: 9rem;
	background-size: cover;
	background-position: center;
}

.file-upload-info {
	@extend .body-small;
}

.date-details-shifter {
	@include rem-fallback(padding-right, $padSmallValue);
}

/*******************************/
// wall
.wall-details {
	@extend .image-shift-details;
	color: $greyMedium;
	@include rem-fallback(min-height, 6rem);
}

.wall-name, .wall-type {
	font-weight: bold;
	color: $greyReallyDark;
}

.wall-type {
	display: inline-block;
	text-transform: uppercase;

	&.donation {
		color: $SecondaryColour;
	}

	&.party-host {
		color: orange;
	}
}

.wall-time {
	display: inline-block;
	color: $greyDark;
}

.wall-remove {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;

	&.loader {
		margin-top: -3rem;
	}
}

.donation-copy {
	color: $SecondaryColour;
	font-size: $FontSizeLarge;
}

.wall-textarea {
	font: $fontFaceFutura;
	font-size: $FontSizeMedium;
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none !important;
	@include border-bottom-radius(0);
}

.wall-image-preview {
	border: .1rem solid $greyLight;
	padding-top: 0;
	border-top: none !important;
	background-color: white;
	margin-top: -.6rem;

	width: 100%;

	@include border-top-radius(0);

	&.error {
		border: .1rem solid $redDark;
	}
}

/*******************************/
// ticket

.ticket {
	position: relative;

	.stub {
		@extend .pad-medium;
		background-color: $greyLight;
		overflow: hidden;

		.holes, .holes-right {
			position: absolute;
			@include rem-fallback(left, -.1rem);
			@include rem-fallback(top, -.1rem);
			@include rem-fallback(width, 1.2rem);
			height: 101%;
			background-image: image-url('raffle.svg');
			/* TODO: background image fallback */
			background-repeat: no-repeat;
		}

		.holes-right {
			left: auto;
			@include rem-fallback(right, -.1rem);
			background-image: image-url('raffle_r.svg');
			/* TODO: background image fallback */
		}

		.price {
			@extend .heading-small;
			@include border-radius(16px);
			@include border-radius(1rem);

			font-family: $fontFaceMacmillan;
			color: $FourthColour;s

			span {
				color: $FourthColour!important;
			}

			border: 1px solid white;
			border: .1rem solid white;
			text-align: center;

			line-height: 7.3rem;
		}

	}

	&.selected {
		.stub {
			background-color: $FourthColour;

			.price {
				color: white !important;
				border: 1px solid $greenMedium;
				border: .1rem solid $greenMedium;

				span {
					color: white !important;
				}
			}

		}
	}

	input[type="radio"] {
		display: none;
	}

}

label .ticket {
	span {
		color: inherit;
	}
}

/*******************************/
// totaliser

.totaliser {
	@extend .pad-tiny;
	@include border-radius(9.6px);
	@include border-radius($padSmallValue/2);
	background-color: $greyLight;

	.current-total {
		@include border-radius(9.6px);
		@include border-radius($padSmallValue/2);
		background-color: $FourthColour;
		background-image: image-url('frost.png');
		background-repeat: repeat-x;
		background-position: top left;
		width: 0;
		max-width: 100%;
		@include rem-fallback(height, 3rem);

		@include transition-property(width);
		@include transition-duration(.5s);
		@include transition-delay(1s);
		@include transition-timing-function(ease-in);
	}
}

/* =============================================================================
One-off uses
========================================================================== */

#twitter-widget-0 {
	width: 100% !important;
}

.home-twitter-boxx {
	@include rem-fallback(height, 35.6rem);
}

.piggy-donater:after {
	@extend .margin-left-small;
	content: "\e61c";
	font-family: $fontFaceIcomoon;
	color: white;
}

.join-party-ico:after {
	@extend .margin-left-small;
	content: "\e601";
	font-family: $fontFaceIcomoon;
	color: white;
}

/*******************************/
// home page

.hero {
	@extend %clearfix;
	@include rem-fallback(height, 45rem);
	background-image: image-url('hero-ph.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0;
	padding-top: 10rem;

	position: relative;
	zoom: 1;

	behavior: stylesheet-url('backgroundsize.min.htc');
}

.planking {
	background: image-url('wood_texture.jpg') repeat top center;
}

.home-content-adjust {
	@include rem-fallback(margin-top, -8rem);
}

.hero-explain {
	@include rem-fallback(margin-right, 35rem);
	text-align: left;

	&.full-width {
		margin-right: 0;
	}
}

.money-raised {
	position: absolute;
	@include rem-fallback(top, $padSmallValue * 2);
	@include rem-fallback(right, $padSmallValue * 2);
	@include rem-fallback(height, 15rem);
	@include rem-fallback(width, 34rem);
	background: image-url('amount-raised-ph.png') no-repeat center right transparent;
}

.raised-amount {
	color: white;
	@include rem-fallback(width, 27.5rem);
	@include rem-fallback(font-size, 3.5rem);
	@include rem-fallback(line-height, 4.7rem);
}

.home-tile {
	@extend .margin-bottom-large;
	background-color: white;
	position: relative;
	overflow: hidden;

	@include box-shadow(0px 14px 30px 0px rgba(0, 0, 0, 0.6));
}

.home-tile-image {
	@include border-radius(11.2px);
	@include border-radius(.7rem);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;

	behavior: stylesheet-url('backgroundsize.min.htc');
}

.home-tile-label {
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 60%;
}

/*******************************/
// spotfiy

.spotify-holder {
	@include rem-fallback(margin-top, -7rem);
	text-align: center;
}

.spotify-info-holder {
	@extend .pad-right-large;
	position: absolute;
	left: 0;
	color: white;
	text-align: center;

	h1 {
		color: white;
	}
}

/*******************************/
// wonderlanders

.scoreboard-place {
	float: left;
	@include rem-fallback(width, 5rem);
}

.scoreboard-value {
	position: absolute;
	top: 0;
	right: 0;
	color: $SecondaryColour;
}

/*******************************/
// party ideas

.idea-sizer {
	width: 25%;
}

.idea-tile {
	@extend .radius-v1-small;
	width: 25%;
	padding: $padSmallValue;

	&.wide {
		width: 50%;
	}
}

.idea {
	position: relative;
	padding: $padSmallValue;
	background-color: white;
	text-transform: uppercase;
	text-align: center;
	@include box-shadow(0px 14px 30px 0px rgba(0, 0, 0, 0.6));
}

.idea-details {
	width: 100%;
	top: 11%;
	left: 0;
	padding: 0 $padSmallValue;

	&.over-the-top {
		position: absolute;
		color: white;

		h1 {
			color: white;
		}
	}

	&.wide {
		top: 23%;
	}
}

.idea-polaroid {
	@include border-radius(.7rem);
}

.pinterest-ico:before {
	content: "\e623";
	font-family: $fontFaceIcomoon;
	color: $redDark;
}

.spotify-logo {
	width: 8rem;
	height: 2.4rem;
	background-image: image-url('spotify_logo@2x.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	overflow: hidden;

	margin: 0 auto;
	zoom: 1;
	position: relative;
	behavior: stylesheet-url('backgroundsize.min.htc');
}

.idea-link {
	@extend .pad-small;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	z-index: 5;
	@include rem-fallback(text-indent, -999rem);

	span.label {
		display: none;
	}
}

.share-title {
	width: 27.8rem;
	height: 11.6rem;
	background-image: image-url('share-title@2x.png');
	background-repeat: no-repeat;
	background-size: 27.8rem 11.6rem;

	position: relative;
	
}

.share-facebook, .share-twitter, .share-email {
	background-color: $colorFacebook;
	font-family: $fontFaceMacmillan;
	@include rem-fallback(font-size, $FontSizeLarge);
	@include rem-fallback(padding, $padSmallValue);
	@include rem-fallback(line-height, 5.5rem);
	color: white;

	&:before {
		font-family: $fontFaceIcomoon;
		content: "\e619";
		@include rem-fallback(margin-right, $marginSmallValue);
	}
}

.share-twitter {
	background-color: $colorTwitter;
	&:before {
		content: "\e61a";
	}
}

.share-email {
	background-color: $SecondaryColour;
	&:before {
		content: "\e618";
		margin-right: 0;
	}
}

.centered-share-holder {
	.share-title {
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;
		clear: both;
	}
}

/*******************************/
// footer

.color-facebook {
	color: $colorFacebook !important;
}

.color-twitter {
	color: $colorTwitter !important;
}

.color-pinterest {
	color: $colorPinterest !important;
}

/*******************************/
// donate

.giftaid-logo {
	width: 10rem;
	height: 3.5rem;
	overflow: hidden;
	background-image: image-url('giftaid-logo.jpg');
	background-repeat: no-repeat;
	background-size: 10rem 3.5rem;

	position: absolute;
	right: 0;
	top: 0;
	zoom: 1;

	behavior: stylesheet-url('backgroundsize.min.htc');
}

.fsb-logo {
	width: 8rem;
	height: 8rem;
	overflow: hidden;
	background-image: image-url('fsb.jpg');
	background-repeat: no-repeat;
	background-size: 8rem 8rem;

	position: absolute;
	right: 0;
	top: 0;
	zoom: 1;
	behavior: stylesheet-url('backgroundsize.min.htc');
}

.ticket-label {
	@include rem-fallback(line-height, 2rem);
}
