/*------------------------------------------------------------------------------------------------------------------------
 @author: Sam Latif
 @www: http://www.samlatif.co.uk
 @github: samlatif

 @twitter: samlatifuk

 @copyright: COPYRIGHT 8-21-2014 On behalf of Paper Partnerships Ltd
 =============================================================================
 Filename: _base.scss
 =============================================================================
 This file is responsible for establishing base styles for the Macmillan - Wonderland app.
 --------------------------------------------------------------------------------------------------------------------- */

@import "compass/css3";
@import "partials/variables";
@import "partials/helpers";
@import "partials/abstract";
@import "partials/mixins";
@import "partials/forms";


html {
  font-size: 62.5%;
}

body {
  color: $TextColour;
  background: $BodyBackground;
  line-height: $LineHeight;
  font-family: $BaseFontFamily;
  font-size: $FontSizeMedium;
  @extend %margin-none;
  @extend %padding-none;
}

nav, nav li, .toolbar, .toolbar li, .btn-group {
  @extend %inline;
  ul {
    @extend %margin-none;
    @extend %padding-none;
  }
  input {
    @extend %inline;
  }
}


pre {
    white-space: pre-wrap;
}

/* =============================================================================
Shadows
========================================================================== */
.shadowed {
  @include box-shadow(0 0 3rem fade-out($TextColour, .3));
}

/* =============================================================================
images
========================================================================== */
img, object, embed {
  max-width: $RowWidth; //prevent images from going beyond the viewport
}

/* =============================================================================
Base page structure
========================================================================== */
.page-container {
  position: relative;
  width: 100%;
  left: 0;


  @include transition-property(left);
  @include transition-duration(.2s);
  @include transition-timing-function(ease-in-out);
}

main {
    padding-top: 8.4rem;
}

.page-bg {
    background-color: $greyReallyLight;
    background-image: image-url('bg_simple.png');
    background-repeat: repeat-x;
    background-position: top center;
    padding: 13rem 0 6rem;
}


/* =============================================================================
Event Page specific - move these out of here eventually
========================================================================== */
.party-main-image {
    background-position: center center;
    background-size: cover;
    height: 37.2rem;
}

.edit-trigger {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    color: white;
    font-size: $FontSizeSmall;
    line-height: 3rem;
    text-align: center;
    width: 3rem;
    height: 3rem;
    background-color: $PrimaryColour;
    @include m-border-radius(3rem, 3rem, 3rem, 3rem, 3rem, 3rem, 3rem, 3rem);


    .edit-label {
        display: none;
        margin-right: 1rem;
    }

    &:hover {
        padding: 0 .95rem;
        width: auto;
        .edit-label {
            display: inline;
        }
    }
}


.profile-image {
    width: 6rem;
    height: 6rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.party-details {
    margin: -6rem 0 0 6rem + 1.8rem;
    color: $greyMedium;

    [class^="icon-"], [class*=" icon-"] {
        color: $greyLight;
    }
}


/*******************************/// party image modal
.party-image-container {
    @extend .margin-bottom-medium;

    float: left;

    input[type="radio"] {
        display: none;
    }

    .warning {
        width: 16rem;
        text-align: center;
        display: none;
    }

    &.selected {

        .party-image-selecter:after {
            content: "\e61f"; // tick
            font-family: "icomoon";
            background-color: $PrimaryColour;
            color: white;
            font-size: 4rem;
            padding: 2rem 7rem 2rem 5.8rem;
            opacity: .8;
            line-height: 8rem;
        }

        .party-image-selecter:before {
            content: "";
            margin-left: 0;
        }

        .warning {
            display: block;
            cursor: pointer;
        }
    }
}

.party-image-selecter {
    @extend .margin-right-small;
    width: 16rem;
    height: 7.5rem;
    background-size: cover;
    background-color: $greyLight;
    cursor: pointer;
    position: relative;
    overflow: hidden;


    &:before {
        color: white;
        font-size: $HeadingFontSizeLarge;
        line-height: 7.5rem;
        margin-left: 6.8rem;
    }

    &.image-unset {
        cursor: default;
    }

    &.image-set:before {
        content: "";
    }
}

.choose-file-wrapper {

    width: 16rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &:before {
        position: relative;
        z-index: 10;
        color: white;
        float: right;
        margin-right: 2rem;
        font-size: 1.4rem;
        line-height: 3rem;
    }

    &:after {

        @extend .btn-secondary;

        //display: block;
        content: "Upload file";

        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;

        color: white;
        font-family: Futura BT W01 Book;
        font-size: 1.4rem;
        padding-right: 5rem;
    }
}

.choose-file {
    width: 200%;
    height: 100%;
    display: block;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 10;
    opacity: 0;
}

.file-upload-info {
    @extend .body-small;

    margin-left: 17.2rem;
}


/* =============================================================================
One-off uses
========================================================================== */
#twitter-widget-0 {
  width:100% !important;
}

.home-twitter-boxx {
    height: 35.6rem; // includes 1.8rem padding
}
