/*------------------------------------------------------------------------------------------------------------------------
 @author: Sam Latif
 @www: http://www.samlatif.co.uk
 @github: samlatif

 @twitter: samlatifuk

 @copyright: COPYRIGHT 8-21-2014 On behalf of Paper Partnerships Ltd
 =============================================================================
 Filename: _base.scss
 =============================================================================
 This file is responsible for establishing base styles for the Macmillan - Wonderland app.
 --------------------------------------------------------------------------------------------------------------------- */

@import "compass/css3";


html {
  font-size: 62.5%;
}

body {
  color: $TextColour;
  background: $BodyBackground;
  line-height: $LineHeight;
  font-family: $BaseFontFamily;
  font-size: $FontSizeMedium;
  @extend %margin-none;
  @extend %padding-none;
}

nav, nav li, .toolbar, .toolbar li, .btn-group {
  @extend %inline;
  ul {
    @extend %margin-none;
    @extend %padding-none;
  }
  input {
    @extend %inline;
  }
}

/* =============================================================================
Shadows
========================================================================== */
.shadowed {
  @include box-shadow(0 0 3rem fade-out($TextColour, .3));
}

/* =============================================================================
images
========================================================================== */
img, object, embed {
  max-width: $RowWidth; //prevent images from going beyond the viewport
}

/* =============================================================================
Base page structure
========================================================================== */
.page-container {
  position: relative;
  width: 100%;
  left: 0;


  @include transition-property(left);
  @include transition-duration(.2s);
  @include transition-timing-function(ease-in-out);
}