/*------------------------------------------------------------------------------------------------------------------------
 @package: Macmillan - Wonderland (app)

 @author: Sam Latif
 @www: http://www.samlatif.co.uk
 @github: samlatif

 @twitter: samlatifuk

 @copyright: COPYRIGHT 8-21-2014 On behalf of Paper Partnerships Ltd
 =============================================================================
 Filename: _forms.scss
 =============================================================================
 This file is responsible for all form styles in the Macmillan - Wonderland app.
 --------------------------------------------------------------------------------------------------------------------- */


@import "partials/abstract";
@import "partials/type";
@import "partials/variables";


//********************************************** Buttons
$btnPaddingMedium: 1.2rem;
$btnPaddingSmall: $btnPaddingMedium/2;
$btnPaddingLarge: $btnPaddingMedium*2;


.btn-primary {
  @extend %border-box;
  cursor: pointer;
  font-weight: $BaseFontWeight;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: $PrimaryColour;
  font-size: $FontSizeSmall;
  border: none;

  padding: $btnPaddingMedium;
  margin: 0;

  &:hover, &:focus {
    background: darken($PrimaryColour, 10%);
  }

  .disabled {
    background-color: $greyLight;
    color: $greyMedium;
    cursor: default;
  }
}

.btn-secondary {
  @extend .btn-primary;
  background: $SecondaryColour;

  &:hover, &:focus {
    background: darken($SecondaryColour, 10%);
  }
}

.btn-mini {
  font-size: 1.1rem;
}

.btn-small {
  font-size: 1.4rem;
}

.btn-large {
  font-size: 2.3rem;
}

.cancel {
    line-height: 4rem;
    color: $SecondaryColour;
    font-size: $FontSizeMedium;
    cursor: pointer;

    &:hover {
        color: darken($SecondaryColour, 10%);
    }
}

.form-info {
    @extend .body-small;
    @extend .margin-top-small;
    @extend .margin-bottom-small;
}

.warning {
    @extend .form-info;
    color: red;
}



//********************************************** Inputs

.form-holder {
    max-width: 50rem;
}

//********************************************** Inputs

label {
    @extend .body-small;
    text-transform: uppercase;
    color: $greyDark;
    font-weight: bold;
    line-height: 3rem;

    span {
        text-transform: none;
        color: $greyMedium;
    }
}


textarea {
    @extend .pad-small;
    width: 100%;
    height: 15rem;
    resize: none;
}

input[type='text'] {
    @extend .pad-left-small;
    @extend .pad-right-small;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
}

input[type='text'], textarea {
    border: .1rem solid $greyLight;
}

input[type="text"][readonly] {
    cursor: pointer;
}

input[type=submit][disabled=disabled],
input[type=submit][disabled=disabled]:hover,
button[disabled=disabled],
button[disabled=disabled]:hover {
    background-color: $greyLight;
    color: $greyMedium;
    cursor: default;
}

//********************************************** File upload

.choose-file-wrapper {

    width: 14rem;
    height: 4rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &:before {
        position: relative;
        z-index: 10;
        color: white;
        float: right;
        margin-right: 1.2rem;
        font-size: 1.4rem;
        line-height: 3.8rem;
    }

    &:after {

        @extend .btn-secondary;
        @extend .radius-v3-small;

        content: "Upload file";

        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;

        color: white;
        font-family: $fontFaceFutura;
        padding-right: 4.4rem;
        line-height: 1.6rem;
    }
}


.choose-file {
    width: 200%;
    height: 100%;
    display: block;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 10;
    opacity: 0;
}