/*------------------------------------------------------------------------------------------------------------------------
 @package: Macmillan - Wonderland (app)

 @author: Sam Latif
 @www: http://www.samlatif.co.uk
 @github: samlatif

 @twitter: samlatifuk

 @copyright: COPYRIGHT 8-21-2014 On behalf of Paper Partnerships Ltd
 =============================================================================
 Filename: _forms.scss
 =============================================================================
 This file is responsible for all form styles in the Macmillan - Wonderland app.
 --------------------------------------------------------------------------------------------------------------------- */

/* =============================================================================
Buttons
========================================================================== */
/* Skewed buttons */
.btn-primary {
  @extend %rounded-skew-one;
  @extend %border-box;
  cursor: pointer;
  font-weight: $BaseFontWeight;
  //margin: ($MarginMini + 1.2) ($MarginLarge * .6) 0;
  color: #fff;
  padding: ($PaddingSmall - 0.2) ($Padding - .1);
  text-decoration: none;
  text-transform: uppercase;
  background: $SecondaryColour;
  font-size: 1.8rem;
  &:hover, &:focus {
    background: darken($SecondaryColour, 10%);
  }
}
.btn-secondary {
  @extend .btn-primary;
  @extend %rounded-skew-two;
  background: $PrimaryColour;
  padding: $PaddingSmall - .1 2.1rem;
  &:hover, &:focus {
    background: darken($PrimaryColour, 10%);
  }
}

.btn-mini {
  font-size: 1.1rem;
}

.btn-small {
  font-size: 1.4rem;
}

.btn-large {
  font-size: 2.3rem;
}

/* Button groups */
.form-actions, .btn-group, .toolbar {
  @extend %centred;
  @extend %normal-padding-top-bottom;
  @extend %normal-padding;
  //background: white;
  input, button {
    @extend %border-none;
  }
}

/* =============================================================================
Form inputs
========================================================================== */

/* Allow inputs to be displayed similarly */
input, input[type="password"], input[type="search"], isindex {
  @include appearance("textfield");
  &[type="search"] {
    @extend %rounded-large; //large rounded corners for search
  }
}

input:not([type]), input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
  @extend %border-box;
  @extend %normal-padding-left-right;
  @extend %small-padding-top-bottom;
}