/*------------------------------------------------------------------------------------------------------------------------
 @package: Macmillan - Wonderland (app)

 @author: Sam Latif
 @www: http://www.samlatif.co.uk
 @github: samlatif

 @twitter: samlatifuk

 @copyright: COPYRIGHT 8-21-2014 On behalf of Paper Partnerships Ltd
 =============================================================================
 Filename: _grids.scss
 =============================================================================
 This file is responsible for all grid logic in the Macmillan - Wonderland app.  
 Styles should be compiled using compass and sass (make sure SUSY is installed).
 --------------------------------------------------------------------------------------------------------------------- */
@import "compass/css3";
@import "variables";
@import "susy";
@import "../../scripts/bower_components/gridle/sass/gridle/gridle";


%last {
  margin-right: 0;
}


$settings : (
    context : 12,             // number of columns in your grid
    gutter-width : 6rem,        // size of the gutters
    direction : ltr,             // direction
    name-multiplicator : 1     // to generate like grid-5, grid-10, etc...
    // and more... (see in advanced settings section)
);

@include gridle_setup($settings);

@include gridle_register_state( mobile , (
    max-width : 40rem,
    gutter-width : 6rem
));


@include gridle_generate_classes();


/**********************************/
// BASIC GRID
/**********************************/
.container {
	max-width : 114rem;
	margin : 0 auto;
}


/**********************************/
// SPECIFIC GRID
/**********************************/
.wgrid-full {
    @include gridle(12);
    @include gridle(12, mobile);
    @include gridle_gutter(bottom);
    @include gridle_gutter(bottom, mobile);
    @include gridle_no_gutter(left right);
    @include gridle_no_gutter(left right, mobile);
}

.wgrid-main {
    @include gridle(8);
    @include gridle(12, mobile);
    @include gridle_gutter(bottom);
    @include gridle_gutter(bottom, mobile);
    @include gridle_no_gutter(left);
    @include gridle_no_gutter(left right, mobile);
}

.wgrid-side {
    @include gridle(4);
    @include gridle(12, mobile);
    @include gridle_gutter(bottom);
    @include gridle_gutter(bottom, mobile);
    @include gridle_no_gutter(left right);
    @include gridle_no_gutter(left right, mobile);
    @include gridle_float(right);
    @include gridle_float(left, mobile);
}

.wgrid-no-bottom-margin {
    @include gridle_no_gutter(bottom);
    @include gridle_no_gutter(bottom, mobile);
}

/**********************************/
// BOXX
/**********************************/

.boxx {
    @extend %rounded-skew-one;
    padding: $FontSizeMedium;
    background: #ffffff;
  
}