/*------------------------------------------------------------------------------------------------------------------------
 @package: Macmillan - Wonderland (app)

 @author: Sam Latif
 @www: http://www.samlatif.co.uk
 @github: samlatif

 @twitter: samlatifuk

 @copyright: COPYRIGHT 8-21-2014 On behalf of Paper Partnerships Ltd
 =============================================================================
 Filename: _helpers.scss
 =============================================================================
 This file contains all useful helpers (usually used through @extends) in the Macmillan - Wonderland app.  Styles should be compiled using compass and sass (make sure SUSY is installed).
 --------------------------------------------------------------------------------------------------------------------- */

/**
 * Non-semantic helper classes: please define your styles before this section
 */
// @import "compass/css3/pie";
@import "compass/css3";
@import "compass/utilities";

/* =============================================================================
Visibility Helpers
========================================================================== */
/* For image replacement */
%ir {
  display: block;
  text-indent: -99in;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */_
%hidden {
  display: none;
}

%show-phone {
  display: none;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
%visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  left: -500%;

  &.focusable {
    &:active, &:focus { /* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

/* Hide visually and from screenreaders, but maintain layout */
%invisible {
  visibility: hidden;
}

%visible {
  visibility: visible;
}
/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations.
   nicolasgallagher.com/micro-clearfix-hack/ */

%clearfix {
  zoom: 1; //for IE
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%centred {
  text-align: center;
}

/* =============================================================================
CSS3 PIE
========================================================================== */
@if $pie-enabled == true {
  .pie-element {
    // relative is the default, so passing relative
    // is redundant, but we do it here for clarity%
    // @include pie-element(relative);
  }
// But sometimes this messes up your positioning
// So you can also use z-indexing. In this case
// an ancestor element before or having the first
// opaque background should be marked as a pie-container
// which gives it a z-index of 0 (actually any z-index
// can be provided to the pie-container mixin).
// And then the pie element itself should be given
// a z-index of -1.
  .pie-container {
    // @include pie-container;
  }
  .pie {
    // @include pie;
  }
}

/* =============================================================================
Overflow
========================================================================== */
%overflow-visible {
  overflow: visible;
}

%overflow-hidden {
  overflow: hidden;
}

/* =============================================================================
Margins
========================================================================== */

/* Normal margin */
%normal-margin {
  margin: $wonderlandMargin;
}

%margin-none {
  margin: 0;
}

%normal-margin-bottom {
  margin-bottom: $wonderlandMargin;
}

%normal-margin-top {
  margin-top: $wonderlandMargin;
}

%normal-margin-left {
  margin-left: $wonderlandMargin;
}

%normal-margin-right {
  margin-right: $wonderlandMargin;
}

/* Normal margin combinations */
%normal-margin-top-bottom {
  margin: $wonderlandMargin 0;
}

%normal-margin-left-right {
  margin: 0 $wonderlandMargin;
}

/* Large Margin */

%large-margin {
  margin: $wonderlandMarginLarge;
}

%large-margin-top-bottom {
  margin: $wonderlandMarginLarge 0;
}

%large-margin-left-right {
  margin: 0 $wonderlandMarginLarge;
}

%large-margin-bottom {
  margin-bottom: $wonderlandMarginLarge;
}

%large-margin-right {
  margin-right: $wonderlandMarginLarge;
}

%large-margin-left {
  margin-left: $wonderlandMarginLarge;
}

/* Small Margin */

%small-margin {
  margin: $wonderlandMarginSmall;
}

%small-margin-top-bottom {
  margin: $wonderlandMarginSmall 0;
}

%small-margin-left-right {
  margin: 0 $wonderlandMarginSmall;
}

%small-margin-bottom {
  margin-bottom: $wonderlandMarginSmall;
}

%small-margin-right {
  margin-right: $wonderlandMarginSmall;
}

%small-margin-left {
  margin-left: $wonderlandMarginSmall;
}

/* Mini Margin */

%mini-margin {
  margin: $wonderlandMarginMini;
}

%mini-margin-top-bottom {
  margin: $wonderlandMarginMini 0;
}

%mini-margin-left-right {
  margin: 0 $wonderlandMarginMini;
}

%mini-margin-bottom {
  margin-bottom: $wonderlandMarginMini;
}

%mini-margin-right {
  margin-right: $wonderlandMarginMini;
}

%mini-margin-left {
  margin-left: $wonderlandMarginMini;
}

/* =============================================================================
Padding
========================================================================== */

/* Normal padding */
%normal-padding {
  padding: $wonderlandPadding;
}

%padding-none {
  padding: 0;
}

%normal-padding-top-bottom {
  padding: $wonderlandPadding 0;
}

%normal-padding-left-right {
  padding: 0 $wonderlandPadding;
}

%normal-padding-bottom {
  padding-bottom: $wonderlandPadding;
}

%normal-padding-right {
  padding-right: $wonderlandPadding;
}

%normal-padding-left {
  padding-left: $wonderlandPadding;
}

/* Large Padding */

%large-padding {
  padding: $wonderlandPaddingLarge;
}

%large-padding-top-bottom {
  padding: $wonderlandPaddingLarge 0;
}

%large-padding-left-right {
  padding: 0 $wonderlandPaddingLarge;
}

%large-padding-bottom {
  padding-bottom: $wonderlandPaddingLarge;
}

%large-padding-right {
  padding-right: $wonderlandPaddingLarge;
}

%large-padding-left {
  padding-left: $wonderlandPaddingLarge;
}

/* Small Padding */

%small-padding {
  padding: $wonderlandPaddingSmall;
}

%small-padding-top-bottom {
  padding: $wonderlandPaddingSmall 0;
}

%small-padding-left-right {
  padding: 0 $wonderlandPaddingSmall;
}

%small-padding-bottom {
  padding-bottom: $wonderlandPaddingSmall;
}

%small-padding-right {
  padding-right: $wonderlandPaddingSmall;
}

%small-padding-left {
  padding-left: $wonderlandPaddingSmall;
}

/* Mini Padding */

%mini-padding {
  padding: $wonderlandPaddingMini;
}

%mini-padding-top-bottom {
  padding: $wonderlandPaddingMini 0;
}

%mini-padding-left-right {
  padding: 0 $wonderlandPaddingMini;
}

%mini-padding-bottom {
  padding-bottom: $wonderlandPaddingMini;
}

%mini-padding-right {
  padding-right: $wonderlandPaddingMini;
}

%mini-padding-left {
  padding-left: $wonderlandPaddingMini;
}

/* =============================================================================
Border radius
========================================================================== */

//CSS PIE for all rounded corners
%rounded, %rounded-left, %rounded-right, %rounded-top, %rounded-bottom, %rounded-large, %rounded-left-large, %rounded-right-large, %rounded-bottom-large, %rounded-top-large {
  @if ($pie-enabled == true) {
    @extend .pie;
  }
}

/* Normal border radii */

%rounded {
  @include border-radius($wonderlandBorderRadius);
}

%rounded-left {
  @include border-top-left-radius($wonderlandBorderRadius);
  @include border-bottom-left-radius($wonderlandBorderRadius);
}

%rounded-right {
  @include border-top-right-radius($wonderlandBorderRadius);
  @include border-bottom-right-radius($wonderlandBorderRadius);
}

%rounded-top {
  @include border-top-left-radius($wonderlandBorderRadius);
  @include border-top-right-radius($wonderlandBorderRadius);
}

%rounded-bottom {
  @include border-bottom-left-radius($wonderlandBorderRadius);
  @include border-bottom-right-radius($wonderlandBorderRadius);
}

%rounded-left-none {
  @include border-top-left-radius(0);
  @include border-bottom-left-radius(0);
}

/* Large border radii */

%rounded-large {
  @include border-radius($wonderlandBorderRadiusLarge);
}

%rounded-left-large {
  @include border-top-left-radius($wonderlandBorderRadiusLarge);
  @include border-bottom-left-radius($wonderlandBorderRadiusLarge);
}

%rounded-right-large {
  @include border-top-right-radius($wonderlandBorderRadiusLarge);
  @include border-bottom-right-radius($wonderlandBorderRadiusLarge);
}

%rounded-top-large {
  @include border-top-left-radius($wonderlandBorderRadiusLarge);
  @include border-top-right-radius($wonderlandBorderRadiusLarge);
}

%rounded-bottom-large {
  @include border-bottom-left-radius($wonderlandBorderRadiusLarge);
  @include border-bottom-right-radius($wonderlandBorderRadiusLarge);
}

/* No rounded radii (useful for overriding other elements with radii) */

%rounded-none {
  @include border-radius(0);
}

%rounded-left-none {
  @include border-top-left-radius(0);
  @include border-bottom-left-radius(0);
}

%rounded-right-none {
  @include border-top-right-radius(0);
  @include border-bottom-right-radius(0);
}

%rounded-top-none {
  @include border-top-left-radius(0);
  @include border-top-right-radius(0);
}

%rounded-bottom-none {
  @include border-bottom-left-radius(0);
  @include border-bottom-right-radius(0);
}

/* Uneven border radii */

%rounded-left-skew-one {
  @include border-top-left-radius(0.5rem 1.1rem);
  @include border-bottom-left-radius(0.5rem 1.3rem);
}

%rounded-right-skew-one {
  @include border-top-right-radius(0.9rem 0.8rem);
  @include border-bottom-right-radius(0.6rem 1.4rem);
}

%rounded-left-skew-two {
  @include border-top-left-radius(0.3rem 0.6rem);
  @include border-bottom-left-radius(0.5rem 1.3rem);
}

%rounded-right-skew-two {
  @include border-top-right-radius(1rem 0.4rem);
  @include border-bottom-right-radius(1.1rem 0.7rem);
}

%rounded-skew-one {
  @extend %rounded-left-skew-one;
  @extend %rounded-right-skew-one;
}

%rounded-skew-two {
  @extend %rounded-left-skew-two;
  @extend %rounded-right-skew-two;
}

%rounded-skew-three {
  @extend %rounded-left-skew-one;
  @extend %rounded-right-skew-two;
}

%border-box {
  @include box-sizing(border-box);
  @if ($pie-enabled == true) {
    *behavior: url(/css/boxsizing.htc); //allow correct box-sizing on IE 6, 7 (will not work on localhost)
  //also, make sure to add `AddType text/x-component .htc` to apache.config file
  }
}

%transition-all {
  @include transition($wonderlandTransitionTime all $wonderlandTransitionFunction);
}

/* =============================================================================
Font Sizes
========================================================================== */
%large {
  font-size: $wonderlandFontSizeLarge;
}

%medium {
  font-size: $wonderlandFontSizeMedium;
}

%small {
  font-size: $wonderlandFontSizeSmall;
}

%mini {
  font-size: $wonderlandFontSizeMini;
}

/* =============================================================================
Opacity/visibility
========================================================================== */
%opacity-0 {
  @include opacity(0);
}

%opacity-05 {
  @include opacity(0.5);
}

%opacity-1 {
  @include opacity(1);
}

/* =============================================================================
Borders
========================================================================== */
%bordered {
  border: $wonderlandBorder;
}

%bordered-right {
  border-right: $wonderlandBorder;
}

%bordered-left {
  border-left: $wonderlandBorder;
}

%bordered-top {
  border-top: $wonderlandBorder;
}

%bordered-bottom {
  border-bottom: $wonderlandBorder;
}

%border-none {
  border: 0;
}

/* =============================================================================
Floats
========================================================================== */
%pull-left {
  float: left;
}
%pull-right {
  float: right;
}

/* =============================================================================
Positions
========================================================================== */
%absolute {
  position: absolute;
}

%fixed {
  position: fixed;
}

%relative {
  position: relative;
}

%static {
  position: static;
}

/* =============================================================================
Display modes
========================================================================== */
%block {
  display: block;
}

%inline { //made into a class for potential markup in CMS
  @include inline-block();
}

/* =============================================================================
Lists
========================================================================== */
%no-list-style {
  list-style: none;
}

/* =============================================================================
Links
========================================================================== */
%text-decoration-none {
  text-decoration: none;
}

/* =============================================================================
Widths
========================================================================== */
%row-width {
  width: $wonderlandRowWidth;
}