@import "variables";
@import "mixins";

/*****************************/
/*
/*  JUST SMALLER THAN FULL (for site header)
/*
/*****************************/

@media only screen and (max-width: 1100px) {

	.logo {
		padding: 89.44px 52.32px;
		padding: 4.59rem 3.27rem;
		margin: 0 -52.32px;
		margin: 0 -3.27rem;
	}

	.logo-ribbon {
		padding: 18.72px 92.16px;
		padding: 1.17rem 5.76rem;
		margin: 19.2px -92.16px;
		margin: 1.2rem -5.76rem;
	}

	.left-side ul {
		float: right;
		@include rem-fallback(margin-right, 4.47rem);
	}

	.right-side ul {
		@include rem-fallback(margin-left, 4.47rem);
	}

	.menu li {
		margin-top: 0;
		margin-bottom: 0;
		@include rem-fallback(margin-left, .3rem);
		@include rem-fallback(margin-right, .3rem);
	}

	.menu li a {
		@include rem-fallback(font-size, 1.1rem);
	}

	.nav-end-block {
		@include rem-fallback(left, .5rem);
	}

	.nav-end-block.end-block-right {
		@include rem-fallback(right, .5rem);
		left: auto;
	}

	.nav-end-block a, a.nav-end-block {
		@include rem-fallback(font-size, 1.1rem);
	}

	/********************/
	/* COMPRESSED VIEW  */
	/********************/
	.site-header.compress .logo-ribbon {
		@include rem-fallback(margin-top, 13.7rem);
	}

	.site-header.compress .left-side ul {
		@include rem-fallback(margin-right, 6.2rem);
	}

	.site-header.compress .right-side ul {
		@include rem-fallback(margin-left, 6.2rem);
	}

	//***************************** Party Ideas

	.idea-sizer, .idea-tile {
		width: 33.3333%;

		&.wide {
			width: 66.6666%;
		}
	}

}

/*****************************/
/*
/*  TABLET VIEW
/*
/*****************************/

@media only screen and (max-width: 850px) {

	main {
		@include rem-fallback(padding-top, 6.6rem);
	}

	h1, h1.bigger, h1.smaller, h1 .bigger, h1 .smaller {
		@include rem-fallback(font-size, $HeadingFontSizeSmall);
		@include rem-fallback(line-height, $HeadingFontSizeSmall);
	}

	h1 {
		word-wrap: break-word;
	}

	.hero {
		@include rem-fallback(height, 26rem);
		padding-top: 7rem;
	}

	.hide-on-tablet {
		display: none;
	}

	.body-mega {
		@include rem-fallback(font-size, $HeadingFontSizeSmall);
	}

	.pad-tablet-0 {
		padding: 0;
	}

	//***************************** ABSTRACT
	.radius-tablet-0 {
		@include m-border-radius(0, 0, 0, 0, 0, 0, 0, 0);
	}

	.anti-image-shift-details {
		margin-left: 0;
	}

	.margin-mobile-bottom-0 {
		margin-bottom: 0;
	}

	//***************************** BASE

	.page-bg {
		@include rem-fallback(padding-top, 6rem);
	}

	.site-header.showing-side-nav-menu {
		@include rem-fallback(left, 25.6rem);
	}

	.site-header.showing-side-account-menu {
		@include rem-fallback(left, -25.6rem);
	}

	.logo {
		@include rem-fallback(topl, -16rem);
	}

	.logo-ribbon, .site-header.compress .logo-ribbon {
		@include rem-fallback(padding-top, 1.95rem);
		@include rem-fallback(padding-bottom, 1.95rem);
		@include rem-fallback(padding-left, 9.6rem);
		@include rem-fallback(padding-right, 9.6rem);

		@include rem-fallback(margin-top, 12.9rem);
		@include rem-fallback(margin-bottom, 12.9rem);
		@include rem-fallback(margin-left, -9.6rem);
		@include rem-fallback(margin-right, -9.6rem);
	}

	.nav-end-block {
		display: none;
		@include rem-fallback(left, 1.5rem);
		color: $SecondaryColour;
	}

	.nav-end-block.end-block-right {
		left: auto;
		@include rem-fallback(right, 1.5rem);
	}

	.nav-burger, .nav-account {
		display: block;
	}

	.nav-end-block, .site-header.compress .nav-end-block {
		@include rem-fallback(top, 1.8rem);
	}

	.nav-end-block a, a.nav-end-block {
		@include rem-fallback(font-size, 3rem);
	}

	/**********************/
	/* NAV SIDE MENU
	  /**********************/
	.nav-menu {
		position: absolute;
		@include rem-fallback(left, -25.6rem);
		@include rem-fallback(width, 25.6rem);
		@include rem-fallback(height, 300rem);
		background: #474740;
		display: block;
		overflow: hidden;
	}

	/**********************/
	/* NAV SIDE ACCOUNT MENU
	  /**********************/
	.account-menu-holder, .site-header.compress .account-menu-holder {
		top: 0;
		@include rem-fallback(right, -25.6rem);
		background-color: $greyReallyDark;
		@include rem-fallback(height, 300rem);
		@include rem-fallback(width, 25.6rem);
		overflow: hidden;

		.profile-image, .profile-image.small {
			@include rem-fallback(width, 16rem);
			@include rem-fallback(height, 16rem);
			@include rem-fallback(margin-top, 2.3rem);
			@include rem-fallback(margin-left, 4.9rem);
			margin-bottom: 0;
			margin-right: 0;
			cursor: default;
		}
	}

	.account-menu {
		display: block !important;
		position: relative;
		width: 100%;
	}

	.account-name {
		display: none;
	}
	/**********************/

	.menu {
		width: 100%;

		.side-only {
			display: block;
		}
	}

	.menu ul {
		float: none;
		margin: 0;
	}

	.menu li {
		display: block;
		margin: 0;
		@include rem-fallback(padding, 1.2rem);
		border-bottom: 1px solid #55554d;
		border-bottom: .1rem solid #55554d;
	}

	.menu li a {
		line-height: normal;
		color: #d4d3cc;
		@include rem-fallback(font-size, 1.4rem);
		font-weight: bold;

		&.selected {
			background: none;
			padding: 0;
		}

	}

	.menu li span[class^="icon-"]:before, .menu li span[class*=" icon-"]:before {
		color: #7b7a6d;
		@include rem-fallback(margin-right, 1rem);
		display: inline;
	}

	.menu li a:hover {
		color: darken(#d4d3cc, 20%);
		text-decoration: none;
	}

	.site-header.compress .left-side ul, .site-header.compress .right-side ul {
		margin-left: 0;
		margin-right: 0;
	}

	.site-header.compress .menu li a {
		line-height: normal;
	}

	//***************************** Event Page
	.file-upload-info {
		//margin-left: 0;
	}

	.party-image-container {
		float: none;
	}

	//***************************** General

	.only-on-tablet {
		display: block !important;
	}

	//***************************** Party Ideas

	.idea-sizer, .idea-tile, .idea-tile.wide {
		width: 50%;
	}

	.idea-details {
		width: 100%;
		top: 11%;
		left: 0;
		padding: 0 $padSmallValue;

		&.over-the-top {
			position: inherit;
			color: inherit;

			h1 {
				color: $FourthColour;
				@include rem-fallback(font-size, $FontSizeLarge);
				@include rem-fallback(line-height, 2.3rem);
			}

			.spotify-logo {
				background-position: 43.2px 0;
				background-position: 2.7rem 0;
			}
		}
	}

	//***************************** Home page

	.hero-explain {
		margin-right: 0;
		h1 {
			text-align: center;
			@include rem-fallback(font-size, $HeadingFontSizeSmall);
			@include rem-fallback(line-height, $HeadingFontSizeSmall);
		}
	}

	.money-raised {
		position: relative;
		float: right;
		@include rem-fallback(margin-bottom, 3rem);
	}


	//***************************** Party event page


	.date-details-shifter {
		padding-right: 0;
	}

}

/*****************************/
/*
/*  MOBILE VIEW
/*
/*****************************/


@media only screen and (max-width: 450px) {

	//***************************** abstract

	.body-mega {
		font-size: $FontSizeLarge;
	}

	.hide-on-mobile {
		display: none;
	}

	.gutter, .margins {
		@include rem-fallback(padding-left, 1.2rem);
		@include rem-fallback(padding-right, 1.2rem);
	}

	.float-mobile-left {
		float: left;
	}

	.margin-mobile-bottom-small {
		margin-bottom: $marginSmallValue;
	}

	.width-mobile-100p {
		width: 100%;
	}

	.pos-mobile-static {
		position: static;
	}

	.pad-mobile-no-side {
		padding-left: 0;
		padding-right: 0;
	}


	//***************************** Home page

	.hero-explain {
		margin-right: 0;
		h1 {
			text-align: center;
			@include rem-fallback(font-size, $HeadingFontSizeSmall);
			@include rem-fallback(line-height, $HeadingFontSizeSmall);
		}
	}

	.money-raised {
		@include rem-fallback(width, 21rem);
		@include rem-fallback(height, 9.1rem);
		@include rem-fallback(background-size, 21rem);
		right: auto;
	}

	.raised-amount {
		@include rem-fallback(font-size, $HeadingFontSizeSmall);
		@include rem-fallback(width, 16rem);
		@include rem-fallback(margin-top, 0.6rem);
	}

	.iframe-mobile {
		@include rem-fallback(height, 16.2rem);
	}

	//***************************** General

	.image-shift-details, .party-details, .wall-details {
		margin-left: 0;
		@include rem-fallback(margin-top, 7.2rem);
	}

	.choose-file-wrapper:after {
		width: 100%;
	}


	//***************************** Spotify page

	.spotify-holder {
		width: auto;
	}

	.width-mobile-spotify {
		width: 100%;
	}

	//***************************** Party Ideas

	.idea-sizer, .idea-tile, .idea-tile.wide {
		width: 100%;
	}

}