@import "partials/variables";


/*****************************/
/*
/*  JUST SMALLER THAN FULL (for site header)
/*
/*****************************/

@media only screen and (max-width: 1049px) {

    .logo {
        padding: 4.59rem 3.27rem;
        margin: 0 -3.27rem;
    }

    .logo-ribbon {
        padding: 1.17rem 5.76rem;
        margin: 1.2rem -5.76rem;
    }

    .left-side ul {
        float: right;
        margin-right: 4.47rem;
    }

    .right-side ul {
        margin-left: 4.47rem;
    }

    .menu li {
        margin: 0 .3rem;
    }

    .menu li a {
        font-size: 1.1rem;
    }

    .nav-end-block {
        left: .5rem;
    }

    .nav-end-block.end-block-right {
        right: .5rem;
        left: auto;
    }

    .nav-end-block a, a.nav-end-block {
        font-size: 1.1rem;
    }


    /********************/
    /* COMPRESSED VIEW  */
    /********************/
    .site-header.compress .logo-ribbon {
        margin-top: 13.7rem;
    }

    .site-header.compress .left-side ul {
        margin-right: 6.2rem;
    }

    .site-header.compress .right-side ul {
        margin-left: 6.2rem;
    }

}




/*****************************/
/*
/*  MOBILE VIEW
/*
/*****************************/

@media only screen and (max-width: 767px) {

    main {
        padding-top: 6.6rem;
    }

    .page-container.showing-side-nav-menu {
        left: 25.6rem;
    }

    .page-container.showing-side-account-menu {
        left: -25.6rem;
    }

    .logo {
        top: -16rem;
    }

    .logo-ribbon, .site-header.compress .logo-ribbon {
        padding: 1.95rem 9.6rem;
        margin: 12.9rem -9.6rem;
    }

    .nav-end-block {
        display: none;
        left: 1.5rem;
        color: $PrimaryColour;
    }

    .nav-end-block.end-block-right {
        left: auto;
        right: 1.5rem;
    }

    .nav-burger, .nav-account {
        display: block;
    }

    .nav-end-block, .site-header.compress .nav-end-block {
        top: 1.8rem;
    }

    .nav-end-block a, a.nav-end-block {
        font-size: 3rem;
    }

    /**********************/
    /* NAV SIDE MENU
    /**********************/
    .nav-menu, .account-menu {
        position: absolute;
        left: -25.6rem;
        width: 25.6rem;
        height: 300rem;
        background: #474740;
        display: block;
        overflow: hidden;
    }

    .account-menu {
        left: auto;
        right: -25.6rem;
    }

    .menu {
        width: 100%;

        .side-only {
            display: block;
        }
    }

    .menu ul {
        float: none;
        margin: 0;
    }

    .menu li {
        display: block;
        margin: 0;
        padding: 1.2rem;
        border-bottom: .1rem solid #55554d;
    }

    .menu li a {
        line-height: normal;
        color: #d4d3cc;
        font-size: 1.4rem;
        font-weight: bold;

    }

    .menu li span[class^="icon-"]:before, .menu li span[class*=" icon-"]:before {
        color: #7b7a6d;
        margin-right: 1rem;
        display: inline;
    }

    .menu li a:hover {
        color: darken(#d4d3cc, 20%);
        text-decoration: none;
    }


    .site-header.compress .left-side ul, .site-header.compress .right-side ul {
        margin-left: 0;
        margin-right: 0;
    }

    .site-header.compress .menu li a {
        line-height: normal;
    }

    //***************************** Event Page
    .file-upload-info {
        margin-left: 0;
    }

    .party-image-container {
        float: none;
    }

}