@import "compass/css3";

@mixin visuallyhidden { //useful for within a media query
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  left: -500%;
}

@mixin m-border-radius($tlh, $tlv, $trh, $trv, $brh, $brv, $blh, $blv, $multiplier:1) {

    @include border-top-left-radius($tlh*$multiplier $tlv*$multiplier);
    @include border-top-right-radius($trh*$multiplier $trv*$multiplier);
    @include border-bottom-right-radius($brh*$multiplier $brv*$multiplier);
    @include border-bottom-left-radius($blh*$multiplier $blv*$multiplier);

}


@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin rem-fallback($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value*16}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  }

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  }

  #{$property}: $pxValues;
  #{$property}: $remValues;
}