@import "compass/css3/transition";



.site-header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav {
    width: 100%;
    background: #fff;
    position: relative;
    min-height: 6.6rem;
}

.logo {
    position: absolute;
    background: image-url('wonderland-crest.svg') no-repeat;
    top: 1rem;
    left: 50%;
    padding: 7.65rem 5.45rem;
    margin: 0 -5.45rem;

    @include transition(top .3s linear 0);
}

.logo-ribbon {
    position: absolute;
    background: image-url('wonderland-logo.svg') no-repeat center;
    padding: 1.95rem 9.6rem;
    margin: 2rem -9.6rem;
    z-index: 1;
}

.logo-copy {
    position: absolute;
    text-indent: -999rem;
}

.menu li a {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
    color: #007eac;
    cursor: pointer;
    line-height: 8.4rem;
    letter-spacing: .2rem;

    &.selected {
        @extend .radius-v1-small;
        background-color: $blueLight;
        padding: $padSmallValue;
    }

    @include transition(line-height .3s linear 0);
}

.menu li a:hover {
    color: #006593;
    text-decoration: underline;
}

.menu li span[class^="icon-"]:before, .menu li span[class*=" icon-"]:before {
    display: none;
}

.menu {
    width: 50%;

    .side-only {
        display: none;
    }

}

.right-side {
    float: right;
}

.left-side ul {
    float: right;
    margin-right: 6.65rem;
}

.right-side ul {
    margin-left: 6.65rem;
}

.logo-ribbon, .menu ul {
    @include transition(margin .3s linear 0);
}

.menu li {
    margin: 0 1.2rem;
    padding: 0;
}

.snow-brush-overlay {
    width: 100%;
    background: image-url('header_texture.png') repeat center;
    padding-top: 1.2rem;
}

.nav-end-block {
    position: absolute;
    top: 2.5rem;
    left: 2rem;
    z-index: 3;

    @include transition(top .3s linear 0);
}

.nav-end-block.end-block-right {
    left: auto;
    right: 2rem;
}

.nav-burger, .nav-account {
    display: none;
    cursor: pointer;
}

.account-menu-holder {
    position: absolute;
    right: .8rem;
    top: 2.3rem;
    z-index: 10;
    @include transition(top .3s linear 0);
}

.account-menu {
    display: none;
    position: absolute;
    top: 4.7rem;
    right: 0;
    width: 17rem;
    background-color: $greyReallyDark;
    @include border-radius(.7rem);


    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;

        span[class^="icon-"]:before, span[class*=" icon-"]:before {
            color: $greyMedium;

            width: 3.5rem;
            float: left;
            line-height: 4.4rem;
            font-size: $FontSizeLarge;
            text-align: center;
        }

        a {
            color: $greyReallyLight;
            letter-spacing: .1rem;
            padding: 0 $padSmallValue;
            text-transform: uppercase;
            font-size: $FontSizeSmall;
            line-height: 4.4rem;
            display: block;
            width: 100%;
            float: left;
            border-bottom: 1px solid $greyDark;

            &.last {
                border-bottom: none;
            }

            &:hover {
                color: white;
            }
        }
    }

    &.opened {
        display: block;
    }
}

.arrow-up {
    position: absolute;
    top: -1rem;
    right: 2.5rem;
	width: 0;
	height: 0;
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 1rem solid $greyReallyDark;
}


.account-name {
    float: left;
    line-height: 4.2rem;
    margin-left: 0.6rem;
    font-size: $FontSizeSmall;
    font-weight: bold;
    letter-spacing: .1rem;
    text-transform: uppercase;
    cursor: pointer;
    color: $SecondaryColour;

    span[class^="icon-"]:before, span[class*=" icon-"]:before {
        font-size: .7rem;
        color: $greyLight;
    }
}


/********************/
/* COMPRESSED VIEW  */
/********************/
.site-header.compress .logo {
    top: -16rem;
}

.site-header.compress .logo-ribbon {
    margin-top: 9.7rem;
}

.site-header.compress .left-side ul {
    margin-right: 10.8rem;
}

.site-header.compress .right-side ul {
    margin-left: 10.8rem;
}

.site-header.compress .menu li a {
    line-height: 6.6rem;
}

.site-header.compress .nav-end-block {
    top: 1.6rem;
}
.site-header.compress .account-menu-holder {
    top: 1.3rem;
}

footer {
    z-index: 998;
    color: #666666;
}

footer [class*="grid-"] {

    margin-bottom: 2rem;

    @include gridle_state(mobile) {

        margin-bottom: 4rem;

    }
}

.footer-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    &:after {
        clear: both;
    }
}

.footer-menu li a {
    text-transform: uppercase;
    font-size: $FontSizeSmall;
    font-weight: bold;
    color: #007eac;
    cursor: pointer;
}

.footer-menu li a:hover {
    color: #006593;
    text-decoration: underline;
}

.footer-menu.single-line li {
    float: left;
    margin-right: 1rem;
}

.footer-menu.single-line li a {
    font-size: $FontSizeMini;
}

.footer-menu.single-line.icon-list li a {
    font-size: $HeadingFontSizeLarge;
    text-decoration: none;
}

.footer-menu.single-line.icon-list li a span {
    display: none;
}

.footer-snow-brush-overlay {
  @extend %row-width;
  background: image-url('footer_texture.png') repeat-x center;
  padding-top: 1.2rem;
  height: 4rem;
  margin-top: -4rem;
}