
$Multiplier: 1.3 !default;
$MultiplierLarge: $Multiplier * 2.1 !default;
$MultiplierSmall: $Multiplier / $MultiplierLarge !default;

$MultiplierLargePercentage: $MultiplierLarge * 10%;

/* =============================================================================
Sizes and Spacing
========================================================================== */

/* Padding */
$Padding: 1.2rem !default;
$PaddingLarge: $Padding * $Multiplier;
$PaddingSmall: $Padding / $Multiplier;
$PaddingMini: $Padding / $MultiplierLarge;

/* Margin */
$Margin: 1.2rem !default;
$MarginSmall: $Margin / $Multiplier;
$MarginLarge: $Margin * $MultiplierLarge;
$MarginMini: $MarginSmall / $MultiplierLarge;


/* =============================================================================
Type
========================================================================== */
$fontFaceMacmillan: 'macmillan';
$fontFaceFutura: 'Futura BT W01 Book';
$fontFaceIcomoon: 'icomoon';

$BaseFontSize: 62.5% !default;
$BaseFontFamily: $fontFaceFutura;
$FontSizeMini: 1.1rem !default;
$FontSizeSmall: 1.4rem !default;
$FontSizeMedium: 1.8rem !default;
$FontSizeLarge: 2.3rem !default;
$HeadingFontSizeSmall: 2.9rem !default;
$HeadingFontSizeLarge: 4.7rem !default;
$HeadingFontSizeExtraLarge: 7.2rem !default;
$FontSizeMini: ($BaseFontSize / $MultiplierLarge) !default;
$LineHeight: 1.4 !default;

$BaseFontWeight: 500 !default;


/* =============================================================================
Colours
========================================================================== */
$TextColour: #666 !default;
$InverseTextColour: invert($TextColour) !default;
$PrimaryColour: #682c88 !default; // colour of text and main colour overall
$SecondaryColour: #007eac !default; // colour of any components, backgrounds, etc.
$TertiaryColour: #7c7c7c !default; //special colour to complement secondary colour
$FourthColour: #025b45 !default; //brand colour
$BodyBackground: #fff !default;

/* Links */
$LinkColour: contrast-color($TextColour, lighten($TextColour, 30), darken($TextColour, 30));


/* Greys */
$greyReallyDark: #474740;
$greyDark: #7B7A6D;
$greyMedium: #A19F91;
$greyLight: #D4D3CC;
$greyReallyLight: #ECECEC;

/* Reds */
$redLight: #FCE9EA;
$redDark: #E32333;

/* Green */
$greenLight: #D1E8B2;
$greenMedium: #4e8f82;
$greenDark: #00A246;

/* Blue */
$blueLight: #e3f3f8;
$blueDark: $SecondaryColour;



//**************************************** BASE VARIABLES
$profileImageSize: 6rem;
$padSmallValue: 1.2rem;
$marginSmallValue: 1.2rem;


//**************************************** MULTIPLIERS
$multiplierMedium: 1.5;
$multiplierLarge: 2;


//**************************************** COLOURS
$colorFacebook: #3c5898;
$colorTwitter: #17abed;
$colorPinterest: #cc2127;
