//**************************************** BASE VARIABLES
$profileImageSize: 6rem;
$padSmallValue: 1.2rem;
$marginSmallValue: 1.2rem;


//**************************************** MULTIPLIERS
$multiplierMedium: 1.5;
$multiplierLarge: 2;