//**************************************** BASE VARIABLES
$profileImageSize: 6rem;
$padSmallValue: 1.2rem;
$marginSmallValue: 1.2rem;


//**************************************** MULTIPLIERS
$multiplierMedium: 1.5;
$multiplierLarge: 2;


//**************************************** COLOURS
$colorFacebook: #3c5898;
$colorTwitter: #17abed;
$colorGPlus: #cd3627;