@inherits UmbracoViewPage<FAQs>
@{
    Layout = "SitePage.cshtml";
}

<div class="page-bg" ng-controller="FaqsCtrl">

    <div class="container gutter">

        <div class="wgrid-main centered">

            <div class="boxx pad-mega" m-radius-picker>

                <h1 class="bigger">@Model.PageHeading</h1>
                
                @Html.Raw(Model.Copy)

                <hr/>

                @Html.CachedPartial("FAQs", Model.QuestionsAndAnswers, SitePage.CacheDuration)

            </div>

        </div>

    </div>

</div>