@inherits UmbracoViewPage<FAQs>
@{
    Layout = "SitePage.cshtml";
}

<h1>@Model.PageHeading</h1>

<dl>
    @foreach (QuestionAndAnswer questionAndAnswer in Model.QuestionsAndAnswers)
    {
        <dt>@questionAndAnswer.Question</dt>
        <dd>@questionAndAnswer.Answer</dd>
    }
</dl>

@Html.Raw(Model.Copy)