@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
  Layout = "SitePage.cshtml";
}
<main id="content" role="main">
  <section id="heroGraphic">
    <img src="img/hero-ph.jpg" />        
  </section>
  <section id="homeBanner">
    <img src="img/home-banner-ph.png" />       
  </section>
  <section id="promoLinks">
  @for( var i = 0; i < 6; i++ ) {
    <img src="img/home-tile-ph.png">
  }
  </section>
</main>