@inherits UmbracoViewPage<Home>
@{
  Layout = "SitePage.cshtml";
}
<div class="container">
  <section id="heroGraphic">
    <img src="img/hero-ph.jpg" />        
  </section>
  <section id="homeBanner">
      @Model.BannerHeading

<section id="heroGraphic">
  <img src="img/hero-ph.jpg" />        
</section>
<section id="homeBanner">
    @Model.BannerHeading

    @Model.BannerCopy

    <ul>
        @foreach (PromotionTile promotionTile in Model.PromotionTiles)
        {
            <li>@promotionTile.Name</li>
        }
    </ul>

  <img src="img/home-banner-ph.png" />       
</section>
<section id="promoLinks">
@for( var i = 0; i < 6; i++ ) {
  <img src="img/home-tile-ph.png">
}
</section>