@inherits UmbracoViewPage<Leaderboard>
@{
    Layout = "SitePage.cshtml";
}
<h1>@Model.PageHeading</h1>

<dl>
    <dt>Leaderboard Type</dt>
    <dd>@Model.LeaderboardType</dd>
</dl>

@foreach(Partier partier in Model.GetPartiers())
{
    
}