@inherits UmbracoViewPage<Legal>
@{
    Layout = "SitePage.cshtml";
}

<div class="page-bg">

    <div class="container gutter">

        <div class="wgrid-main centered">

            <div class="boxx" m-radius-picker>

                <h1>@Model.PageHeading</h1>

                @Html.Raw(Model.Copy)

            </div>

        </div>

    </div>

</div>