@inherits UmbracoViewPage<Login>
@{
    Layout = "SitePage.cshtml";
}

<br/><br /><br /><br /><br /><br /><br /><br /><br /><br />

<h1>@Model.PageHeading</h1>

@(Html.Action<LoginSurfaceController>("Index"))


