@inherits UmbracoViewPage<Login>
@{
    Layout = "SitePage.cshtml";
}

<div id="fb-root"></div>


<div class="page-bg">

    <div class="container gutter">

        <div class="wgrid-main centered">

            <div class="boxx pad-large" m-radius-picker>

                <h1 class="bigger">@Model.PageHeading</h1>

                <hr/>

                <div class="grid-8 grid-mobile-12 parent centered margin-top-3 margin-bottom-3">
                    <m-facebook-login-button label="'Login'"></m-facebook-login-button>
                </div>

                <hr/>

                <h4>Or by email</h4>

                @(Html.Action<LoginSurfaceController>("RenderLoginForm"))

            </div>

        </div>

    </div>

</div>