@inherits UmbracoViewPage<Login>
@{
    Layout = "SitePage.cshtml";
}


<div class="page-bg">

    <div class="container gutter">

        <div class="wgrid-main centered">

            <div class="boxx" m-radius-picker>

                <h1><span class="icon-icon_person lighter margin-right-small"></span><span class="bigger">@Model.PageHeading</span></h1>

                <hr/>

                @(Html.Action<LoginSurfaceController>("RenderLoginForm"))

            </div>

        </div>

    </div>

</div>