@inherits UmbracoViewPage<PageNotFound>
@{
    Layout = "SitePage.cshtml";
}

<div class="page-bg">

    <div class="container gutter">

        <div class="wgrid-main centered">

            <div class="boxx" m-radius-picker>

                <h1 class="error"><span class="icon-icon_alert margin-right-small"></span>Page not <br/>found (404)</h1>
                <p>We're sorry. The page that you are looking for cannot be found. It might have been removed, had it's name changed, or may be temporarily unavailable.</p>
                <p>Use the back button to try another link, or go to <a href="/" class="body-highlight">the homepage</a>.</p>

            </div>

        </div>

    </div>

</div>