@inherits UmbracoViewPage<Party>
@{
    Layout = "SitePage.cshtml";
}

<br/><br /><br /><br /><br /><br /><br /><br />

@* image *@

<h1>@(this.Model.PartyHost.FirstName)'s Wonderland party</h1>

@* location *@



@* heading *@

@* copy *@

@* wall *@

@* totaliser *@

@if (!this.Members.IsLoggedIn())
{
    @* only anonymous users have the ability to 'join the party' *@

}

@* partiers *@
<h2>Who's Coming (@this.Model.Partiers.Count())</h2>
<ul>
    @foreach (IPartier partier in this.Model.Partiers)
    {
        <li>
            @partier.PersonName
        </li>
    }
</ul>

@* badges *@





