@inherits UmbracoViewPage<PartyIdeaCategory>
@{
    Layout = "SitePage.cshtml";
}


@*<a class="back" href="@Model.Parent.Url"><span class="icon-icon_back"></span>Back to party ideas</a>*@

@Html.Partial("PartyIdeaTiles", Model.GetPartyIdeaTiles())
