@inherits UmbracoViewPage<PartyIdeaCategory>
@{
    Layout = "SitePage.cshtml";
}
<h1>Party Idea Category</h1>
<p>
	this will be another 'isotope' page, but only rendering items of the current category - @Model.Name
</p>
