@inherits UmbracoViewPage<PistePoints>
@{
    Layout = "SitePage.cshtml";
}




<div class="page-bg">

    <div class="container gutter">

        @foreach(Reward reward in Model.Rewards)
        {
            <div class="grid-4 grid-tablet-6 grid-mobile-12 margin-bottom-large parent">
                <div class="boxx collapse margin-small" m-radius-picker="medium">

                    <div class="pos-relative">
                        <img width="100%" src="@reward.Image.Url"/>
                        <div class="boxx-twerk"></div>
                    </div>

                    <div class="wgrid-full pad-medium text-align-center">
                        <h1 class="lighter">@reward.Heading</h1>
                        <h4 class="color-brand">@reward.SubHeading</h4>
                        <hr/>
                        <p>@reward.Copy</p>
                    </div>
                </div>
            </div>
        }


    </div>
</div>