@inherits UmbracoViewPage<RegisterHostPartyKit>
@{
    Layout = "SitePage.cshtml";
}
<h1>Register Host Party Kit</h1>

@(Html.Action<RegisterHostPartyKitSurfaceController>("RenderRegisterHostPartyKitForm"))
