@inherits UmbracoViewPage<RegisterGuest>
@{
    Layout = "SitePage.cshtml";
}

<br /><br /><br /><br /><br /><br /><br /><br />
<h1>Register Guest</h1>

@(Html.Action<RegisterGuestSurfaceController>("RenderRegisterGuestForm"))