@inherits UmbracoViewPage<ResetPassword>
@{
    Layout = "SitePage.cshtml";
}
<div class="page-bg">

    <div class="container gutter">

        <div class="wgrid-main centered">

            <div class="boxx" m-radius-picker>

                <h1><span>Reset </span><br/><span class="bigger">@Model.PageHeading</span></h1>

                <hr />
                @(Html.Action<ResetPasswordSurfaceController>("RenderResetPasswordForm"))

            </div>

        </div>

    </div>

</div>