@inherits UmbracoViewPage<WhoIsItFor>
@{
    Layout = "SitePage.cshtml";
}








<div class="page-bg">

    <div class="container gutter">

        <div class="wgrid-main centered">

            <div class="boxx" m-radius-picker="medium large">

                <h1 class="margin-bottom-large bigger margin-side-auto max-width-30">@Model.PageHeading</h1>

                <iframe width="100%" height="378" class="iframe-mobile" src="http://www.youtube.com/embed/@Model.YouTubeCode"></iframe>

                @Html.Raw(Model.Copy)

                <hr/>



            </div>

        </div>

    </div>

</div>