@inherits UmbracoViewPage<WhoIsItFor>
@{
    Layout = "SitePage.cshtml";
}



<div class="page-bg">

    <div class="container gutter">

        <div class="wgrid-main centered">

            <div class="boxx" m-radius-picker="medium large">

                <h1 class="margin-bottom-large bigger margin-side-auto max-width-30">@Model.PageHeading</h1>

                <iframe width="100%" height="378" class="iframe-mobile" src="//www.youtube.com/embed/@Model.YouTubeCode"></iframe>

                @Html.Raw(Model.Copy)

                <hr class="margin-top-large margin-bottom-large"/>

                @if (!this.Members.IsLoggedInPartier())
                {
                    <a href="@Model.SiteSettings.RegisterHostUrl" class="btn-primary float-right pad-top-small pad-bottom-small" m-radius-picker="small medium">Host a party <span class="icon-icon_chevron_right"></span></a>
                }
                else
                {
                    <a href="@(((IPartier)this.Members.GetCurrentMember()).PartyUrl)" class="btn-primary float-right pad-top-small pad-bottom-small" m-radius-picker="small medium">My party <span class="icon-icon_chevron_right"></span></a>
                }


            </div>

        </div>

    </div>

</div>