<?xml version="1.0" encoding="utf-8" ?>
<!-- Whether to allow remote image requests, the timeout for a request in 
       milliseconds and the prefix to use so that ImageProcessor can recognize 
       a remote request. -->
<security allowRemoteDownloads="true" timeout="300000" maxBytes="2000000" remotePrefix="/remote.axd">
  <!-- Sets allowable domains to process images from. -->
  <whiteList>
    <add url="https://s3-eu-west-1.amazonaws.com"/>
  </whiteList>
</security>