/*------------------------------------------------------------------------------------------------------------------------
 @package: Macmillan - Wonderland (app)

 @author: Sam Latif
 @www: http://www.samlatif.co.uk
 @github: samlatif

 @twitter: samlatifuk

 @copyright: COPYRIGHT 8-21-2014 On behalf of Paper Partnerships Ltd
 =============================================================================
 Filename: main.scss
 =============================================================================
 This file is responsible for all styles on the Macmillan - Wonderland app.  Styles should be compiled using compass and sass.

 --------------------------------------------------------------------------------------------------------------------- */


/* =============================================================================
Imports
========================================================================== */
/* Base imports */
@import "compass/utilities";
@import "partials/_variables.scss";
@import "partials/_helpers.scss";
@import "compass/reset";
// @import "compass/css3/pie";
@import "compass/css3";
@import "partials/_variables.scss";
@import "partials/_grids.scss";
@import "partials/icomoon/_icomoon.scss";
@import "partials/_mixins.scss";

/* Optional imports */
@import "partials/_type.scss";
@import "partials/_forms.scss";
@import "partials/_nav.scss";
@import "partials/_base.scss";
@import "partials/_media-queries";

// TODO : abstract out into partials and replace hardcoded values with vars

#siteHeader {
  @extend %fixed;
  @extend %row-width; 
  z-index: 999; 
  nav { 
    @extend %transition-all;    
    @extend %use-GPU-hack;  
    background: white; 
    > a {
      @extend %absolute; 
      @extend %use-GPU-hack;  
      top: 0;
      &:first-child { 
        left: 0;
        margin-right: 0;
      }
    
      &:last-child { 
        right: 0;
        margin-left: 0;
      }
    }
  }
  .toolbar {
    @extend %transition-all;    
    @extend %use-GPU-hack;
    width: 48rem;
    > li {
      @for $i from 1 through 4 {
        @if $i < 3 {
          &:nth-child(#{$i}) {
            @extend %pull-left;
          }
        } @else {
          &:nth-child(#{$i}) {
            @extend %pull-right;
          }
        }
      }     
    }
  }
  .wonderland-logo-bg {
    background: image-url('wonderland-crest.svg') no-repeat;
    left: 50%;
    padding: 4rem 0 3rem;
    margin: 1rem -2.93rem;
    p { 
      text-indent: -999rem;
    }
  }

  .wonderland-logo {
    @extend %absolute;
    background: image-url('wonderland-logo.svg') no-repeat center;
    padding: 1.5rem 6rem;
    z-index: 1;
    margin: 1.5rem -6rem;
  }

  .snow-brush-overlay {
    @extend %row-width; 
    background: inline-image('header_texture.png') repeat center;
    padding-top: 1.2rem;
  }

  &.compressed {
    nav a {
      margin-top: 1rem;
    }
    .wonderland-logo-bg { 
      padding: 0;
      margin-top: -0.5rem;
      max-height: 0;
    }
    .toolbar {
      width: 55rem;
      a { padding: 0.5rem 0.5rem 1.5rem; }
    } 
  }
}

main { padding-top: 3.5rem; }

#homeBg {
  background: image-url('wood_texture.jpg') repeat top left;
  background-size: 100% 50%;
  margin-top: -1.2rem;
}

#heroGraphic {
  @extend %centred;
  @extend %row-width;
  height: 35rem;
  background-image: image-url('hero-ph.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;

  .hero-title {
    padding: 10.5rem 0 0 0;
    margin: 0 auto;
  }
  
  .actions {
    @extend %row-width;
    margin: 2rem -0.5rem
  }

  a.btn-primary {
    font-size: 1.8rem;
    padding: 0.9rem 1.9rem;
  }

}

.banner {
  @include container();
  @extend %rounded-skew-three;
  background: white;
  height: 13.5rem;
  padding: 0 2.2rem;
  position: absolute;
  margin: -2rem 1.5rem;
  max-width: 66rem;
  .banner-info {
    @extend %pull-left;  
    padding: 0.5rem 0.2rem;
  }

  .money-raised-info {
    @extend %pull-right;  
    background: image-url('amount-raised-ph.png') no-repeat center right transparent;
    margin-right: -1.2rem;  
    padding: 14rem 2rem 0 0;
  }
  h1 {
    color: $wonderlandPrimaryColour;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.36667rem;
    line-height: 2.18885;
    letter-spacing: 0.05rem;
    margin: 0;
  }

  p {
    font-size: 1.13333rem;
    line-height: 1.79443;
    font-weight: bold;
    margin-top: -0.5rem;
  }
}

.promo-tiles {
  padding-top: 15rem;
}

.frame {
  @extend %frame;
  width: 30%;
  margin: 1rem;
  padding: 1rem;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  img {
    display: block;
    &:first-child {
      margin-left: 0;
      width: 100%;
    }
    &:last-child {
      @extend %absolute;
      bottom: 0;
      left: 0;
      margin-right: 0;
      width: 60%
    }
  } 
  // Calc a random rotate degree value for each frame tile
  @for $i from 1 through 6 {
    &:nth-child( #{ $i } ) {
      @if $i % 2 == 0 {
        $rand: (random( 23 ) * 0.1) + deg; // generate positive random number (converted to float)
        @include transform( rotate( $rand ) );
      } 
      @else {
          $rand: ( (random( 23 ) * 0.1 ) * - 1 )  + deg;  // generate negative random number
          @include transform( rotate( $rand ) );
      }
    }
  }
}

#shareWonderland {
  @extend %pull-left;
  background: image-url('home-share-ph.png') no-repeat;
  padding: 7rem 15.2rem;
  margin: 3.1rem 1.5rem;
}


#twitterFeed {
  @extend %pull-right;
  background: image-url('home-twitter-ph.png') no-repeat;
  padding: 16rem 17.5rem 13rem;
  margin: 2.2rem 1.4rem 0 0;
}

.footer-snow-brush-overlay {
  @extend %row-width; 
  background: image-url('footer_texture.png') repeat-x center;
  padding-top: 1.2rem;
  height: 4rem;
  margin-top: -2rem;
}

footer {
  .footer-primary {
    margin: 0 auto;
    max-width: 71.3rem;
    > nav {
      @include span(3 of 12);
    }
    > div { 
      @include span(4 of 12);
      &.share-container { 
        text-align: center; 
      }  
      &:last-child { @include span(4 of 12 omega); }
    }
  }
}