/* =============================================================================
overrides
========================================================================== */
@import "partials/mixins";
@import "partials/variables";
@import "partials/vars";

.modal-backdrop {
	background-color: black !important;
}

.modal .modal-dialog .modal-content {
	padding: $padSmallValue * $multiplierLarge;
	@include m-border-radius(1.64rem, 1.1rem, .9rem, .8rem, .9rem, 1.4rem, .9rem, 1.3rem, 2);
	width: auto;
}

.mac-tooltip {
	background-color: $greyReallyDark;

	&.top:after {
		border-top: 6px solid $greyReallyDark;
	}
}




//****************************************************
// PIKADAY
//****************************************************
.pika-table th {
	color: $greyDark;
}

.pika-table abbr {
	border: none;
}

.pika-single {
	font-family: $fontFaceFutura;
	color: $greyReallyDark;
}

.pika-button {
	color: $SecondaryColour;
    background: white;
    text-align: center;
}


.is-today .pika-button {
    color: $SecondaryColour;
	background: $greyReallyLight;
    border-radius: 2rem;
}

.is-selected .pika-button {
    background: $PrimaryColour;
    box-shadow: none;
    border-radius: 2rem;
}

.is-disabled .pika-button {
    color: $greyDark;
}

.pika-button:hover {
	color: $SecondaryColour !important;
    background: $greyReallyLight !important;
    box-shadow: none !important;
    border-radius: 2rem !important;
}