/*------------------------------------------------------------------------------------------------------------------------
 @package: Macmillan - Wonderland (app)

 @author: Sam Latif
 @www: http://www.samlatif.co.uk
 @github: samlatif

 @twitter: samlatifuk

 @copyright: COPYRIGHT 8-21-2014 On behalf of Paper Partnerships Ltd
 =============================================================================
 Filename: main.scss
 =============================================================================
 This file is responsible for all styles on the Macmillan - Wonderland app.  Styles should be compiled using compass and sass.

 --------------------------------------------------------------------------------------------------------------------- */
/* =============================================================================
Imports
========================================================================== */
/* Base imports */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300");
/* line 1, sass/partials/init.scss */
html {
  font-size: 62.5%;
}

/*------------------------------------------------------------------------------------------------------------------------
 @package: Macmillan - Wonderland (app)

 @author: Sam Latif
 @www: http://www.samlatif.co.uk
 @github: samlatif

 @twitter: samlatifuk

 @copyright: COPYRIGHT 8-21-2014 On behalf of Paper Partnerships Ltd
 =============================================================================
 Filename: _variables.scss
 =============================================================================
 This file is responsible for all variables in the Macmillan - Wonderland app.  Styles should be compiled using compass and sass.
 --------------------------------------------------------------------------------------------------------------------- */
/* =============================================================================
TODO - NOT SURE WHAT THESE ARE FOR
========================================================================== */
/* =============================================================================
Sizes and Spacing
========================================================================== */
/* Padding */
/* Margin */
/* =============================================================================
Grid
========================================================================== */
/* =============================================================================
Type
========================================================================== */
/* =============================================================================
Colours
========================================================================== */
/* Links */
/* =============================================================================
Borders
========================================================================== */
/* =============================================================================
Media query variables
========================================================================== */
/*------------------------------------------------------------------------------------------------------------------------
 @package: Macmillan - Wonderland (app)

 @author: Sam Latif
 @www: http://www.samlatif.co.uk
 @github: samlatif

 @twitter: samlatifuk

 @copyright: COPYRIGHT 8-21-2014 On behalf of Paper Partnerships Ltd
 =============================================================================
 Filename: _helpers.scss
 =============================================================================
 This file contains all useful helpers (usually used through @extends) in the Macmillan - Wonderland app.  Styles should be compiled using compass and sass (make sure SUSY is installed).
 --------------------------------------------------------------------------------------------------------------------- */
/**
 * Non-semantic helper classes: please define your styles before this section
 */
/* =============================================================================
Visibility Helpers
========================================================================== */
/* For image replacement */
/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
/* Hide visually and from screenreaders, but maintain layout */
/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations.
   nicolasgallagher.com/micro-clearfix-hack/ */
/* line 94, sass/partials/_helpers.scss */
.form-actions, .btn-group, .toolbar, #heroGraphic {
  text-align: center;
}

/* =============================================================================
Overflow
========================================================================== */
/* =============================================================================
Margins
========================================================================== */
/* Normal margin */
/* line 118, sass/partials/_helpers.scss */
body, nav ul, nav li ul, .toolbar ul, .toolbar li ul, .btn-group ul {
  margin: 0;
}

/* Normal margin combinations */
/* line 139, sass/partials/_helpers.scss */
ul, ol, dl {
  margin: 1.2rem 0;
}

/* Large Margin */
/* Small Margin */
/* Mini Margin */
/* =============================================================================
Padding
========================================================================== */
/* Normal padding */
/* line 230, sass/partials/_helpers.scss */
.form-actions, .btn-group, .toolbar {
  padding: 1.2rem;
}

/* line 234, sass/partials/_helpers.scss */
body, nav ul, nav li ul, .toolbar ul, .toolbar li ul, .btn-group ul {
  padding: 0;
}

/* line 238, sass/partials/_helpers.scss */
.form-actions, .btn-group, .toolbar {
  padding: 1.2rem 0;
}

/* line 242, sass/partials/_helpers.scss */
input:not([type]), input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
  padding: 0 1.2rem;
}

/* Large Padding */
/* Small Padding */
/* line 290, sass/partials/_helpers.scss */
input:not([type]), input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
  padding: 0.92308rem 0;
}

/* Mini Padding */
/* =============================================================================
Border radius
========================================================================== */
/* Normal border radii */
/* Large border radii */
/* line 373, sass/partials/_helpers.scss */
input[type="search"], input[type="password"][type="search"], isindex[type="search"] {
  -moz-border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  border-radius: 1.2rem;
}

/* No rounded radii (useful for overriding other elements with radii) */
/* Uneven border radii */
/* line 425, sass/partials/_helpers.scss */
.btn-primary, .btn-secondary {
  -moz-border-radius-topleft: 0.5rem 1.1rem;
  -webkit-border-top-left-radius: 0.5rem 1.1rem;
  border-top-left-radius: 0.5rem 1.1rem;
  -moz-border-radius-bottomleft: 0.5rem 1.3rem;
  -webkit-border-bottom-left-radius: 0.5rem 1.3rem;
  border-bottom-left-radius: 0.5rem 1.3rem;
}

/* line 435, sass/partials/_helpers.scss */
.banner {
  -moz-border-radius-topleft: 1.64rem 1.1rem;
  -webkit-border-top-left-radius: 1.64rem 1.1rem;
  border-top-left-radius: 1.64rem 1.1rem;
  -moz-border-radius-bottomleft: 0.5rem 1.3rem;
  -webkit-border-bottom-left-radius: 0.5rem 1.3rem;
  border-bottom-left-radius: 0.5rem 1.3rem;
}

/* line 440, sass/partials/_helpers.scss */
.btn-secondary {
  -moz-border-radius-topleft: 0.7rem 0.6rem;
  -webkit-border-top-left-radius: 0.7rem 0.6rem;
  border-top-left-radius: 0.7rem 0.6rem;
  -moz-border-radius-bottomleft: 0.9rem 0.8rem;
  -webkit-border-bottom-left-radius: 0.9rem 0.8rem;
  border-bottom-left-radius: 0.9rem 0.8rem;
}

/* line 445, sass/partials/_helpers.scss */
.btn-primary, .btn-secondary {
  -moz-border-radius-topright: 0.9rem 0.8rem;
  -webkit-border-top-right-radius: 0.9rem 0.8rem;
  border-top-right-radius: 0.9rem 0.8rem;
  -moz-border-radius-bottomright: 0.6rem 1.4rem;
  -webkit-border-bottom-right-radius: 0.6rem 1.4rem;
  border-bottom-right-radius: 0.6rem 1.4rem;
}

/* line 455, sass/partials/_helpers.scss */
.banner {
  -moz-border-radius-topright: 0.9rem 0.8rem;
  -webkit-border-top-right-radius: 0.9rem 0.8rem;
  border-top-right-radius: 0.9rem 0.8rem;
  -moz-border-radius-bottomright: 0.9rem 1.4rem;
  -webkit-border-bottom-right-radius: 0.9rem 1.4rem;
  border-bottom-right-radius: 0.9rem 1.4rem;
}

/* line 460, sass/partials/_helpers.scss */
.btn-secondary {
  -moz-border-radius-topright: 1.2rem 0.7rem;
  -webkit-border-top-right-radius: 1.2rem 0.7rem;
  border-top-right-radius: 1.2rem 0.7rem;
  -moz-border-radius-bottomright: 1.7rem 1.1rem;
  -webkit-border-bottom-right-radius: 1.7rem 1.1rem;
  border-bottom-right-radius: 1.7rem 1.1rem;
}

/* line 485, sass/partials/_helpers.scss */
.frame, .container, .btn-primary, .btn-secondary, input:not([type]), input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* =============================================================================
Font Sizes
========================================================================== */
/* line 496, sass/partials/_helpers.scss */
.body-large {
  font-size: 2.3rem;
}

/* line 500, sass/partials/_helpers.scss */
.body-medium {
  font-size: 1.8rem;
}

/* line 504, sass/partials/_helpers.scss */
.body-small {
  font-size: 1.4rem;
}

/* =============================================================================
Opacity/visibility
========================================================================== */
/* =============================================================================
Borders
========================================================================== */
/* line 550, sass/partials/_helpers.scss */
.form-actions input, .form-actions button, .btn-group input, .btn-group button, .toolbar input, .toolbar button {
  border: 0;
}

/* =============================================================================
Floats
========================================================================== */
/* line 557, sass/partials/_helpers.scss */
.frame, .banner .banner-info, #shareWonderland, footer section {
  float: left;
}

/* line 560, sass/partials/_helpers.scss */
.banner .money-raised-info, #twitterFeed, footer section.footer-secondary nav {
  float: right;
}

/* =============================================================================
Positions
========================================================================== */
/* line 567, sass/partials/_helpers.scss */
.frame img:last-child {
  position: absolute;
}

/* line 575, sass/partials/_helpers.scss */
.frame {
  position: relative;
}

/* =============================================================================
Display modes
========================================================================== */
/* line 590, sass/partials/_helpers.scss */
nav, nav li, .toolbar, .toolbar li, .btn-group, nav input, nav li input, .toolbar input, .toolbar li input, .btn-group input {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* =============================================================================
Lists
========================================================================== */
/* =============================================================================
Links
========================================================================== */
/* =============================================================================
Widths
========================================================================== */
/* line 611, sass/partials/_helpers.scss */
#heroGraphic, #heroGraphic .actions, .footer-snow-brush-overlay {
  width: 100%;
}

/* =============================================================================
Project Specific helpers
========================================================================== */
/* line 618, sass/partials/_helpers.scss */
.frame {
  -moz-box-shadow: 0rem 1rem 2rem 0.5rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0rem 1rem 2rem 0.5rem rgba(0, 0, 0, 0.5);
  box-shadow: 0rem 1rem 2rem 0.5rem rgba(0, 0, 0, 0.5);
  background: white;
}

/*------------------------------------------------------------------------------------------------------------------------
 @package: Macmillan - Wonderland (app)

 @author: Sam Latif
 @www: http://www.samlatif.co.uk
 @github: samlatif

 @twitter: samlatifuk

 @copyright: COPYRIGHT 8-21-2014 On behalf of Paper Partnerships Ltd
 =============================================================================
 Filename: _grids.scss
 =============================================================================
 This file is responsible for all grid logic in the Macmillan - Wonderland app.  
 Styles should be compiled using compass and sass (make sure SUSY is installed).
 --------------------------------------------------------------------------------------------------------------------- */
/*------------------------------------------------------------------------------------------------------------------------
 @package: Macmillan - Wonderland (app)

 @author: Sam Latif
 @www: http://www.samlatif.co.uk
 @github: samlatif

 @twitter: samlatifuk

 @copyright: COPYRIGHT 8-21-2014 On behalf of Paper Partnerships Ltd
 =============================================================================
 Filename: _variables.scss
 =============================================================================
 This file is responsible for all variables in the Macmillan - Wonderland app.  Styles should be compiled using compass and sass.
 --------------------------------------------------------------------------------------------------------------------- */
/* =============================================================================
TODO - NOT SURE WHAT THESE ARE FOR
========================================================================== */
/* =============================================================================
Sizes and Spacing
========================================================================== */
/* Padding */
/* Margin */
/* =============================================================================
Grid
========================================================================== */
/* =============================================================================
Type
========================================================================== */
/* =============================================================================
Colours
========================================================================== */
/* Links */
/* =============================================================================
Borders
========================================================================== */
/* =============================================================================
Media query variables
========================================================================== */
/* line 108, sass/partials/_grids.scss */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 74.3rem;
}
/* line 12, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}
@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?-a7b8pb");
  src: url("/fonts/icomoon.eot?#iefix-a7b8pb") format("embedded-opentype"), url("/fonts/icomoon.woff?-a7b8pb") format("woff"), url("/fonts/icomoon.ttf?-a7b8pb") format("truetype"), url("/fonts/icomoon.svg?-a7b8pb#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, sass/partials/icomoon/_icomoon.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, sass/partials/icomoon/_icomoon.scss */
.icon-icon_chevron_left:before {
  content: "\e600";
}

/* line 29, sass/partials/icomoon/_icomoon.scss */
.icon-icon_chevron_right:before {
  content: "\e601";
}

/* line 32, sass/partials/icomoon/_icomoon.scss */
.icon-icon_chevron_up:before {
  content: "\e602";
}

/* line 35, sass/partials/icomoon/_icomoon.scss */
.icon-icon_chevron_down:before {
  content: "\e603";
}

/* line 38, sass/partials/icomoon/_icomoon.scss */
.icon-icon_hamburger_menu:before {
  content: "\e604";
}

/* line 41, sass/partials/icomoon/_icomoon.scss */
.icon-icon_home:before {
  content: "\e605";
}

/* line 44, sass/partials/icomoon/_icomoon.scss */
.icon-icon_camera:before {
  content: "\e606";
}

/* line 47, sass/partials/icomoon/_icomoon.scss */
.icon-icon_clock:before {
  content: "\e607";
}

/* line 50, sass/partials/icomoon/_icomoon.scss */
.icon-icon_cog:before {
  content: "\e608";
}

/* line 53, sass/partials/icomoon/_icomoon.scss */
.icon-icon_crown:before {
  content: "\e609";
}

/* line 56, sass/partials/icomoon/_icomoon.scss */
.icon-icon_cutlery:before {
  content: "\e60a";
}

/* line 59, sass/partials/icomoon/_icomoon.scss */
.icon-icon_edit:before {
  content: "\e60b";
}

/* line 62, sass/partials/icomoon/_icomoon.scss */
.icon-icon_fingerpost:before {
  content: "\e60c";
}

/* line 65, sass/partials/icomoon/_icomoon.scss */
.icon-icon_padlock_unlocked:before {
  content: "\e60d";
}

/* line 68, sass/partials/icomoon/_icomoon.scss */
.icon-icon_padlock:before {
  content: "\e60e";
}

/* line 71, sass/partials/icomoon/_icomoon.scss */
.icon-icon_person:before {
  content: "\e60f";
}

/* line 74, sass/partials/icomoon/_icomoon.scss */
.icon-icon_question:before {
  content: "\e610";
}

/* line 77, sass/partials/icomoon/_icomoon.scss */
.icon-icon_snowflake:before {
  content: "\e611";
}

/* line 80, sass/partials/icomoon/_icomoon.scss */
.icon-icon_star:before {
  content: "\e612";
}

/* line 83, sass/partials/icomoon/_icomoon.scss */
.icon-icon_t-shirt:before {
  content: "\e613";
}

/* line 86, sass/partials/icomoon/_icomoon.scss */
.icon-icon_twitter:before {
  content: "\e614";
}

/* line 89, sass/partials/icomoon/_icomoon.scss */
.icon-icon_facebook:before {
  content: "\e615";
}

/* line 92, sass/partials/icomoon/_icomoon.scss */
.icon-icon_google_plus:before {
  content: "\e616";
}

/* line 95, sass/partials/icomoon/_icomoon.scss */
.icon-icon_x:before {
  content: "\e617";
}

/*------------------------------------------------------------------------------------------------------------------------
 @package: Macmillan - Wonderland (app)

 @author: Sam Latif
 @www: http://www.samlatif.co.uk
 @github: samlatif

 @twitter: samlatifuk

 @copyright: COPYRIGHT 8-21-2014 On behalf of Paper Partnerships Ltd
 =============================================================================
 Filename: _mixins.scss
 =============================================================================
 This file is responsible for all mixins in the Macmillan - Wonderland app.  Styles should be compiled using compass and sass.
 --------------------------------------------------------------------------------------------------------------------- */
/* =============================================================================
Visibility Mixins
========================================================================== */
/* Optional imports */
/*------------------------------------------------------------------------------------------------------------------------
 @package: Macmillan - Wonderland (app)

 @author: Sam Latif
 @www: http://www.samlatif.co.uk
 @github: samlatif

 @twitter: samlatifuk

 @copyright: COPYRIGHT 8-21-2014 On behalf of Paper Partnerships Ltd
 =============================================================================
 Filename: _type.scss
 =============================================================================
 This file is responsible for typographic elements on the Macmillan - Wonderland app.  Styles should be compiled using compass and sass.
 --------------------------------------------------------------------------------------------------------------------- */
/* Type */
/* line 189, sass/partials/_type.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/* line 199, sass/partials/_type.scss */
a {
  color: #999999;
  text-decoration: none;
}

/* line 205, sass/partials/_type.scss */
ul, ol, dl {
  padding-left: 2.028rem;
}

/* line 216, sass/partials/_type.scss */
.heading-large {
  font-size: 4.7rem;
}

/* line 220, sass/partials/_type.scss */
.heading-small {
  font-size: 2.9rem;
}

/*------------------------------------------------------------------------------------------------------------------------
 @package: Macmillan - Wonderland (app)

 @author: Sam Latif
 @www: http://www.samlatif.co.uk
 @github: samlatif

 @twitter: samlatifuk

 @copyright: COPYRIGHT 8-21-2014 On behalf of Paper Partnerships Ltd
 =============================================================================
 Filename: _forms.scss
 =============================================================================
 This file is responsible for all form styles in the Macmillan - Wonderland app.
 --------------------------------------------------------------------------------------------------------------------- */
/* =============================================================================
Buttons
========================================================================== */
/* Skewed buttons */
/* line 21, sass/partials/_forms.scss */
.btn-primary, .btn-secondary {
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  padding: 0.72308rem 1.1rem;
  text-decoration: none;
  text-transform: uppercase;
  background: #682c88;
  font-size: 1.8rem;
}
/* line 33, sass/partials/_forms.scss */
.btn-primary:hover, .btn-secondary:hover, .btn-primary:focus, .btn-secondary:focus {
  background: #4b2061;
}

/* line 37, sass/partials/_forms.scss */
.btn-secondary {
  background: #007eac;
  padding: 0.82308rem 2.1rem;
}
/* line 42, sass/partials/_forms.scss */
.btn-secondary:hover, .btn-secondary:focus {
  background: #005979;
}

/* line 47, sass/partials/_forms.scss */
.btn-mini {
  font-size: 1.1rem;
}

/* line 51, sass/partials/_forms.scss */
.btn-small {
  font-size: 1.4rem;
}

/* line 55, sass/partials/_forms.scss */
.btn-large {
  font-size: 2.3rem;
}

/* Button groups */
/* =============================================================================
Form inputs
========================================================================== */
/* Allow inputs to be displayed similarly */
/* line 75, sass/partials/_forms.scss */
input, input[type="password"], input[type="search"], isindex {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

/* line 1, sass/partials/_nav.scss */
.site-header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

/* line 7, sass/partials/_nav.scss */
.nav {
  width: 100%;
  background: #fff;
  position: relative;
  min-height: 6.6rem;
}

/* line 14, sass/partials/_nav.scss */
.logo {
  position: absolute;
  background: url('/img/wonderland-crest.svg?1410449442') no-repeat;
  top: 1rem;
  left: 50%;
  padding: 7.65rem 5.45rem;
  margin: 0 -5.45rem;
  transition-property: top;
  transition-duration: .3s;
  transition-timing-function: linear;
  transition-delay: 0;
}

/* line 28, sass/partials/_nav.scss */
.logo-ribbon {
  position: absolute;
  background: url('/img/wonderland-logo.svg?1410449442') no-repeat center;
  padding: 1.95rem 9.6rem;
  margin: 2rem -9.6rem;
  z-index: 1;
}

/* line 36, sass/partials/_nav.scss */
.logo-copy {
  position: absolute;
  text-indent: -999rem;
}

/* line 41, sass/partials/_nav.scss */
.menu li a {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  color: #007eac;
  cursor: pointer;
  line-height: 8.4rem;
  transition-property: line-height;
  transition-duration: .3s;
  transition-timing-function: linear;
  transition-delay: 0;
}

/* line 55, sass/partials/_nav.scss */
.menu li a:hover {
  color: #006593;
  text-decoration: underline;
}

/* line 60, sass/partials/_nav.scss */
.menu li a[class^="icon-"]:before, .menu li a[class*=" icon-"]:before {
  display: none;
}

/* line 64, sass/partials/_nav.scss */
.menu {
  width: 50%;
}
/* line 67, sass/partials/_nav.scss */
.menu .side-only {
  display: none;
}

/* line 73, sass/partials/_nav.scss */
.right-side {
  float: right;
}

/* line 77, sass/partials/_nav.scss */
.left-side ul {
  float: right;
  margin-right: 6.65rem;
}

/* line 82, sass/partials/_nav.scss */
.right-side ul {
  margin-left: 6.65rem;
}

/* line 86, sass/partials/_nav.scss */
.logo-ribbon, .menu ul {
  transition-property: margin;
  transition-duration: .3s;
  transition-timing-function: linear;
  transition-delay: 0;
}

/* line 93, sass/partials/_nav.scss */
.menu li {
  margin: 0 1.2rem;
  padding: 0;
}

/* line 98, sass/partials/_nav.scss */
.snow-brush-overlay {
  width: 100%;
  background: url('/img/header_texture.png?1410369441') repeat center;
  padding-top: 1.2rem;
}

/* line 104, sass/partials/_nav.scss */
.nav-end-block {
  position: absolute;
  top: 2.5rem;
  left: 2rem;
  z-index: 3;
  transition-property: top;
  transition-duration: .3s;
  transition-timing-function: linear;
  transition-delay: 0;
}

/* line 116, sass/partials/_nav.scss */
.nav-end-block.end-block-right {
  left: auto;
  right: 2rem;
}

/* line 121, sass/partials/_nav.scss */
.nav-burger, .nav-account {
  display: none;
  cursor: pointer;
}

/* line 126, sass/partials/_nav.scss */
.account-menu {
  display: none;
}

/********************/
/* COMPRESSED VIEW  */
/********************/
/* line 133, sass/partials/_nav.scss */
.site-header.compress .logo {
  top: -16rem;
}

/* line 137, sass/partials/_nav.scss */
.site-header.compress .logo-ribbon {
  margin-top: 9.7rem;
}

/* line 141, sass/partials/_nav.scss */
.site-header.compress .left-side ul {
  margin-right: 10.8rem;
}

/* line 145, sass/partials/_nav.scss */
.site-header.compress .right-side ul {
  margin-left: 10.8rem;
}

/* line 149, sass/partials/_nav.scss */
.site-header.compress .menu li a {
  line-height: 6.6rem;
}

/* line 153, sass/partials/_nav.scss */
.site-header.compress .nav-end-block {
  top: 1.6rem;
}

/*------------------------------------------------------------------------------------------------------------------------
 @author: Sam Latif
 @www: http://www.samlatif.co.uk
 @github: samlatif

 @twitter: samlatifuk

 @copyright: COPYRIGHT 8-21-2014 On behalf of Paper Partnerships Ltd
 =============================================================================
 Filename: _base.scss
 =============================================================================
 This file is responsible for establishing base styles for the Macmillan - Wonderland app.
 --------------------------------------------------------------------------------------------------------------------- */
/* line 18, sass/partials/_base.scss */
html {
  font-size: 62.5%;
}

/* line 22, sass/partials/_base.scss */
body {
  color: #666;
  background: #fff;
  line-height: 1.4;
  font-family: "Open Sans", "sans-serif", "arial";
  font-size: 1.8rem;
}

/* =============================================================================
Shadows
========================================================================== */
/* line 46, sass/partials/_base.scss */
.shadowed {
  -moz-box-shadow: 0 0 3rem rgba(102, 102, 102, 0.7);
  -webkit-box-shadow: 0 0 3rem rgba(102, 102, 102, 0.7);
  box-shadow: 0 0 3rem rgba(102, 102, 102, 0.7);
}

/* =============================================================================
images
========================================================================== */
/* line 53, sass/partials/_base.scss */
img, object, embed {
  max-width: 100%;
}

/* =============================================================================
Base page structure
========================================================================== */
/* line 60, sass/partials/_base.scss */
.page-container {
  position: relative;
  width: 100%;
  left: 0;
  -moz-transition-property: left;
  -o-transition-property: left;
  -webkit-transition-property: left;
  transition-property: left;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* line 71, sass/partials/_base.scss */
main {
  padding-top: 8.4rem;
}

/*------------------------------------------------------------------------------------------------------------------------
 @package: Macmillan - Wonderland (app)

 @author: Sam Latif
 @www: http://www.samlatif.co.uk
 @github: samlatif

 @twitter: samlatifuk

 @copyright: COPYRIGHT 8-21-2014 On behalf of Paper Partnerships Ltd
 =============================================================================
 Filename: _variables.scss
 =============================================================================
 This file is responsible for all variables in the Macmillan - Wonderland app.  Styles should be compiled using compass and sass.
 --------------------------------------------------------------------------------------------------------------------- */
/* =============================================================================
TODO - NOT SURE WHAT THESE ARE FOR
========================================================================== */
/* =============================================================================
Sizes and Spacing
========================================================================== */
/* Padding */
/* Margin */
/* =============================================================================
Grid
========================================================================== */
/* =============================================================================
Type
========================================================================== */
/* =============================================================================
Colours
========================================================================== */
/* Links */
/* =============================================================================
Borders
========================================================================== */
/* =============================================================================
Media query variables
========================================================================== */
/*****************************/
/*
/*  JUST SMALLER THAN FULL (for site header)
/*
/*****************************/
@media only screen and (max-width: 1049px) {
  /* line 12, sass/partials/_media-queries.scss */
  .logo {
    padding: 4.59rem 3.27rem;
    margin: 0 -3.27rem;
  }

  /* line 17, sass/partials/_media-queries.scss */
  .logo-ribbon {
    padding: 1.17rem 5.76rem;
    margin: 1.2rem -5.76rem;
  }

  /* line 22, sass/partials/_media-queries.scss */
  .left-side ul {
    float: right;
    margin-right: 4.47rem;
  }

  /* line 27, sass/partials/_media-queries.scss */
  .right-side ul {
    margin-left: 4.47rem;
  }

  /* line 31, sass/partials/_media-queries.scss */
  .menu li {
    margin: 0 .3rem;
  }

  /* line 35, sass/partials/_media-queries.scss */
  .menu li a {
    font-size: 1.1rem;
  }

  /* line 39, sass/partials/_media-queries.scss */
  .nav-end-block {
    left: .5rem;
  }

  /* line 43, sass/partials/_media-queries.scss */
  .nav-end-block.end-block-right {
    right: .5rem;
    left: auto;
  }

  /* line 48, sass/partials/_media-queries.scss */
  .nav-end-block a, a.nav-end-block {
    font-size: 1.1rem;
  }

  /********************/
  /* COMPRESSED VIEW  */
  /********************/
  /* line 56, sass/partials/_media-queries.scss */
  .site-header.compress .logo-ribbon {
    margin-top: 13.7rem;
  }

  /* line 60, sass/partials/_media-queries.scss */
  .site-header.compress .left-side ul {
    margin-right: 6.2rem;
  }

  /* line 64, sass/partials/_media-queries.scss */
  .site-header.compress .right-side ul {
    margin-left: 6.2rem;
  }
}
/*****************************/
/*
/*  MOBILE VIEW
/*
/*****************************/
@media only screen and (max-width: 767px) {
  /* line 81, sass/partials/_media-queries.scss */
  main {
    padding-top: 6.6rem;
  }

  /* line 85, sass/partials/_media-queries.scss */
  .page-container.showing-side-nav-menu {
    left: 25.6rem;
  }

  /* line 89, sass/partials/_media-queries.scss */
  .page-container.showing-side-account-menu {
    left: -25.6rem;
  }

  /* line 93, sass/partials/_media-queries.scss */
  .logo {
    top: -16rem;
  }

  /* line 97, sass/partials/_media-queries.scss */
  .logo-ribbon, .site-header.compress .logo-ribbon {
    padding: 1.95rem 9.6rem;
    margin: 12.9rem -9.6rem;
  }

  /* line 102, sass/partials/_media-queries.scss */
  .nav-end-block {
    display: none;
    left: 1.5rem;
    color: #007eac;
  }

  /* line 108, sass/partials/_media-queries.scss */
  .nav-end-block.end-block-right {
    left: auto;
    right: 1.5rem;
  }

  /* line 113, sass/partials/_media-queries.scss */
  .nav-burger, .nav-account {
    display: block;
  }

  /* line 117, sass/partials/_media-queries.scss */
  .nav-end-block, .site-header.compress .nav-end-block {
    top: 1.8rem;
  }

  /* line 121, sass/partials/_media-queries.scss */
  .nav-end-block a, a.nav-end-block {
    font-size: 3rem;
  }

  /**********************/
  /* NAV SIDE MENU
  /**********************/
  /* line 128, sass/partials/_media-queries.scss */
  .nav-menu, .account-menu {
    position: absolute;
    left: -25.6rem;
    width: 25.6rem;
    height: 300rem;
    background: #474740;
    display: block;
    overflow: hidden;
  }

  /* line 138, sass/partials/_media-queries.scss */
  .account-menu {
    left: auto;
    right: -25.6rem;
  }

  /* line 143, sass/partials/_media-queries.scss */
  .menu {
    width: 100%;
  }
  /* line 146, sass/partials/_media-queries.scss */
  .menu .side-only {
    display: block;
  }

  /* line 151, sass/partials/_media-queries.scss */
  .menu ul {
    float: none;
    margin: 0;
  }

  /* line 156, sass/partials/_media-queries.scss */
  .menu li {
    display: block;
    margin: 0;
    padding: 1.2rem;
    border-bottom: .1rem solid #55554d;
  }

  /* line 163, sass/partials/_media-queries.scss */
  .menu li a {
    line-height: normal;
    color: #d4d3cc;
    font-size: 1.4rem;
    font-weight: bold;
  }

  /* line 171, sass/partials/_media-queries.scss */
  .menu li a[class^="icon-"]:before, .menu li a[class*=" icon-"]:before {
    color: #7b7a6d;
    margin-right: 1rem;
    display: inline;
  }

  /* line 177, sass/partials/_media-queries.scss */
  .menu li a:hover {
    color: #a5a395;
    text-decoration: none;
  }

  /* line 183, sass/partials/_media-queries.scss */
  .site-header.compress .left-side ul, .site-header.compress .right-side ul {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 188, sass/partials/_media-queries.scss */
  .site-header.compress .menu li a {
    line-height: normal;
  }
}
/* line 39, sass/main.scss */
#homeBg {
  background: url('/img/wood_texture.jpg?1410369441') repeat top left;
  background-size: 100% 50%;
  margin-top: -1.2rem;
}

/* line 45, sass/main.scss */
#heroGraphic {
  height: 35rem;
  background-image: url('/img/hero-ph.jpg?1410369441');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}
/* line 55, sass/main.scss */
#heroGraphic .hero-title {
  padding: 10.5rem 0 0 0;
  margin: 0 auto;
}
/* line 60, sass/main.scss */
#heroGraphic .actions {
  margin: 2rem -0.5rem;
}
/* line 65, sass/main.scss */
#heroGraphic a.btn-primary, #heroGraphic a.btn-secondary {
  font-size: 1.8rem;
  padding: 0.9rem 1.9rem;
}

/* line 72, sass/main.scss */
.banner {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: white;
  min-height: 13.5rem;
  padding: 0 2.2rem;
  position: absolute;
  margin: -2rem 1.5rem;
  max-width: 67rem;
}
/* line 12, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.banner:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 82, sass/main.scss */
.banner .banner-info {
  padding: 0.5rem 0.2rem;
  width: 65.51724%;
  float: left;
  margin-right: 3.44828%;
  margin: 0;
}
/* line 89, sass/main.scss */
.banner .money-raised-info {
  background: url('/img/amount-raised-ph.png?1410369441') no-repeat center right transparent;
  height: 14rem;
  width: 21rem;
}
/* line 96, sass/main.scss */
.banner h1 {
  color: #007eac;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.36667rem;
  line-height: 2.18885;
  letter-spacing: 0.05rem;
  margin: 0;
}
/* line 106, sass/main.scss */
.banner p {
  font-size: 1.13333rem;
  line-height: 1.79443;
  font-weight: bold;
  margin-top: -0.5rem;
}
/* line 112, sass/main.scss */
.banner p.amount {
  color: white;
  font-size: 3rem;
  margin: 2.5rem;
}

/* line 121, sass/main.scss */
.promo-tiles {
  padding-top: 15rem;
}

/* line 125, sass/main.scss */
.frame {
  width: 30%;
  margin: 1rem;
  padding: 1rem;
}
/* line 130, sass/main.scss */
.frame:first-child {
  margin-left: 0;
}
/* line 133, sass/main.scss */
.frame:last-child {
  margin-right: 0;
}
/* line 136, sass/main.scss */
.frame img {
  display: block;
}
/* line 138, sass/main.scss */
.frame img:first-child {
  margin-left: 0;
  width: 100%;
}
/* line 142, sass/main.scss */
.frame img:last-child {
  bottom: 0;
  left: 0;
  margin-right: 0;
  width: 60%;
}
/* line 152, sass/main.scss */
.frame:nth-child(1) {
  -moz-transform: rotate(-2.2deg);
  -ms-transform: rotate(-2.2deg);
  -webkit-transform: rotate(-2.2deg);
  transform: rotate(-2.2deg);
}
/* line 152, sass/main.scss */
.frame:nth-child(2) {
  -moz-transform: rotate(0.2deg);
  -ms-transform: rotate(0.2deg);
  -webkit-transform: rotate(0.2deg);
  transform: rotate(0.2deg);
}
/* line 152, sass/main.scss */
.frame:nth-child(3) {
  -moz-transform: rotate(-0.4deg);
  -ms-transform: rotate(-0.4deg);
  -webkit-transform: rotate(-0.4deg);
  transform: rotate(-0.4deg);
}
/* line 152, sass/main.scss */
.frame:nth-child(4) {
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
}
/* line 152, sass/main.scss */
.frame:nth-child(5) {
  -moz-transform: rotate(-2.3deg);
  -ms-transform: rotate(-2.3deg);
  -webkit-transform: rotate(-2.3deg);
  transform: rotate(-2.3deg);
}
/* line 152, sass/main.scss */
.frame:nth-child(6) {
  -moz-transform: rotate(1.4deg);
  -ms-transform: rotate(1.4deg);
  -webkit-transform: rotate(1.4deg);
  transform: rotate(1.4deg);
}

/* line 165, sass/main.scss */
#shareWonderland {
  background: url('/img/home-share-ph.png?1410369441') no-repeat;
  padding: 7rem 15.2rem;
  margin: 3.1rem 1.5rem;
}

/* line 173, sass/main.scss */
#twitterFeed {
  background: url('/img/home-twitter-ph.png?1410369441') no-repeat;
  padding: 16rem 17.5rem 13rem;
  margin: 2.2rem 1.4rem 0 0;
}

/* line 180, sass/main.scss */
.footer-snow-brush-overlay {
  background: url('/img/footer_texture.png?1410369441') repeat-x center;
  padding-top: 1.2rem;
  height: 4rem;
  margin-top: -5rem;
}

/* line 189, sass/main.scss */
footer section {
  width: 100%;
}
/* line 193, sass/main.scss */
footer section.footer-primary {
  margin: 0 auto;
}
/* line 195, sass/main.scss */
footer section.footer-primary > nav {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}
/* line 197, sass/main.scss */
footer section.footer-primary > nav a {
  color: #007dab;
}
/* line 201, sass/main.scss */
footer section.footer-primary > div {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}
/* line 203, sass/main.scss */
footer section.footer-primary > div.share-container {
  text-align: center;
}
/* line 205, sass/main.scss */
footer section.footer-primary > div.share-container ul {
  margin: 0 3rem;
}
/* line 206, sass/main.scss */
footer section.footer-primary > div.share-container li {
  float: left;
}
/* line 208, sass/main.scss */
footer section.footer-primary > div.share-container li span {
  font-size: 3.5rem;
  padding: 0 0.6rem;
}
/* line 211, sass/main.scss */
footer section.footer-primary > div.share-container li span.icon-facebook {
  color: #3b5798;
}
/* line 212, sass/main.scss */
footer section.footer-primary > div.share-container li span.icon-twitter {
  color: #17aaed;
}
/* line 213, sass/main.scss */
footer section.footer-primary > div.share-container li span.icon-google_plus {
  color: #ce3628;
}
/* line 216, sass/main.scss */
footer section.footer-primary > div.share-container p {
  color: #17aaed;
  font-size: 1.7rem;
  margin-left: 5.5rem;
}
/* line 222, sass/main.scss */
footer section.footer-primary > div:last-child {
  width: 32.20339%;
  float: right;
  margin-right: 0;
}
/* line 227, sass/main.scss */
footer section.footer-primary .footer-logo img {
  width: 15.5rem;
}
/* line 231, sass/main.scss */
footer section.footer-primary h2 {
  color: #007dab;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 240, sass/main.scss */
footer section.footer-secondary nav {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 1rem;
}
/* line 245, sass/main.scss */
footer section.footer-secondary nav a {
  color: #007eac;
  padding: 0 0.1rem;
  font-weight: bold;
}
