@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1; }

/* line 24, C:\xampp\htdocs\Welcome-To-Wonderland\Wonderland.Web\css\SCSS\main.scss */
html {
  font-size: 62.5%; }

/* line 26, C:\xampp\htdocs\Welcome-To-Wonderland\Wonderland.Web\css\SCSS\main.scss */
a {
  text-decoration: none; }
  /* line 28, C:\xampp\htdocs\Welcome-To-Wonderland\Wonderland.Web\css\SCSS\main.scss */
  a:hover {
    text-decoration: underline; }

/* line 34, C:\xampp\htdocs\Welcome-To-Wonderland\Wonderland.Web\css\SCSS\main.scss */
#siteHeader nav, #siteHeader li, #siteHeader a:first-child {
  float: left; }
/* line 35, C:\xampp\htdocs\Welcome-To-Wonderland\Wonderland.Web\css\SCSS\main.scss */
#siteHeader a:last-child {
  float: right; }

/* line 38, C:\xampp\htdocs\Welcome-To-Wonderland\Wonderland.Web\css\SCSS\main.scss */
#homeBanner, #promoLinks {
  margin-left: 15rem; }

/* line 44, C:\xampp\htdocs\Welcome-To-Wonderland\Wonderland.Web\css\SCSS\main.scss */
#promoLinks > img {
  margin: 1rem; }
