/* =============================================================================
overrides
========================================================================== */
/*------------------------------------------------------------------------------------------------------------------------
 @package: Macmillan - Wonderland (app)

 @author: Sam Latif
 @www: http://www.samlatif.co.uk
 @github: samlatif

 @twitter: samlatifuk

 @copyright: COPYRIGHT 8-21-2014 On behalf of Paper Partnerships Ltd
 =============================================================================
 Filename: _variables.scss
 =============================================================================
 This file is responsible for all variables in the Macmillan - Wonderland app.  Styles should be compiled using compass and sass.
 --------------------------------------------------------------------------------------------------------------------- */
/* =============================================================================
TODO - NOT SURE WHAT THESE ARE FOR
========================================================================== */
/* =============================================================================
Sizes and Spacing
========================================================================== */
/* Padding */
/* Margin */
/* =============================================================================
Grid
========================================================================== */
/* =============================================================================
Type
========================================================================== */
/* =============================================================================
Colours
========================================================================== */
/* Links */
/* Greys */
/* Reds */
/* Green */
/* Blue */
/* =============================================================================
Borders
========================================================================== */
/* =============================================================================
Media query variables
========================================================================== */
/* line 8, sass/overrides.scss */
.modal-backdrop {
  background-color: black !important;
}

/* line 12, sass/overrides.scss */
.modal .modal-dialog .modal-content {
  padding: 2.4rem;
  -moz-border-radius-topleft: 3.28rem 2.2rem;
  -webkit-border-top-left-radius: 3.28rem 2.2rem;
  border-top-left-radius: 3.28rem 2.2rem;
  -moz-border-radius-topright: 1.8rem 1.6rem;
  -webkit-border-top-right-radius: 1.8rem 1.6rem;
  border-top-right-radius: 1.8rem 1.6rem;
  -moz-border-radius-bottomright: 1.8rem 2.8rem;
  -webkit-border-bottom-right-radius: 1.8rem 2.8rem;
  border-bottom-right-radius: 1.8rem 2.8rem;
  -moz-border-radius-bottomleft: 1.8rem 2.6rem;
  -webkit-border-bottom-left-radius: 1.8rem 2.6rem;
  border-bottom-left-radius: 1.8rem 2.6rem;
  width: auto;
}

/* line 18, sass/overrides.scss */
.mac-tooltip {
  background-color: #474740;
}
/* line 21, sass/overrides.scss */
.mac-tooltip.top:after {
  border-top: 6px solid #474740;
}

/* line 32, sass/overrides.scss */
.pika-table th {
  color: #7B7A6D;
}

/* line 36, sass/overrides.scss */
.pika-table abbr {
  border: none;
}

/* line 40, sass/overrides.scss */
.pika-single {
  font-family: "Futura BT W01 Book";
  color: #474740;
}

/* line 45, sass/overrides.scss */
.pika-button {
  color: #007eac;
  background: white;
  text-align: center;
}

/* line 52, sass/overrides.scss */
.is-today .pika-button {
  color: #007eac;
  background: #ECECEC;
  border-radius: 2rem;
}

/* line 58, sass/overrides.scss */
.is-selected .pika-button {
  background: #682c88;
  box-shadow: none;
  border-radius: 2rem;
}

/* line 64, sass/overrides.scss */
.is-disabled .pika-button {
  color: #7B7A6D;
}

/* line 68, sass/overrides.scss */
.pika-button:hover {
  color: #007eac !important;
  background: #ECECEC !important;
  box-shadow: none !important;
  border-radius: 2rem !important;
}
