@charset "UTF-8";

form {
	width: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none;
}

ng\:form {
  display: block;
}

.boxx-twerk {
	display: none;
}

li.menu.right-side {
	position: absolute;
	top: 0;
	width: 49%;
}

.snow-brush-overlay {
	height: 8px;
}

input[type='password'], input[type="text"].input-with-icon, select.input-with-icon {
	text-indent: 0;
}