@charset "UTF-8";

form {
	width: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
	display: none;
}

ng\:form {
	display: block;
}

.boxx-twerk {
	display: none;
}

li.menu.right-side {
	position: absolute;
	top: 0;
	width: 49%;
}

.snow-brush-overlay {
	height: 8px;
}

input[type='password'], input[type="text"].input-with-icon, select.input-with-icon {
	text-indent: 0;
}

.idea-tile {
	float: left;
	width: 22%;
}

.idea-tile.wide {
	width: 47%;
}

.wgrid-main {
	width: 730px;
	margin-right: 24px;
}

.wgrid-side {
	width: 370px;
}

.wgrid-half {
	width: 520px;
}

.share-group .hide-span span {
	display: inline;
}

.share-group a {
	font-size: 15px;
}

.grid-4 {
	width: 30%;
}

.grid-ie7-4 {
	width: 28%;
}

.grid-5 {
	width: 300px;
}

pre {
	word-wrap: break-word;
}

.edit-trigger .edit-label {
	display: inline;
}

.edit-trigger .icon-icon_edit {
	display: none;
}

.nav-logo {
	width: 109px;
	height: 180px;
}

.crest {
	cursor: pointer;
}

.site-header.compress .nav-logo {
	height: 70px;
}

.ie7AFix {
	hasLayout: false;
	zoom: 1;
	display: inline-block;
	z-index: 2;
	position: absolute;
}

.crest, .banner {
    display: block;
    z-index: -1;
    line-height: 0;
}

.no-flexbox .modal-dialog {
	left: 10px!important;
}