article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

.page-container {
	min-width: 1200px;
}

/*************************************
PIXREM based on 62.5% font size, but large padding values get effected
because they need to be *16 not *10 that the default 62.5% inflicts
*************************************/
.page-bg {
	padding: 228px 0 96px;
}

.hero {
	padding-top: 180px;
}

.crest {
	background: url('/img/wonderland-crest.png') no-repeat center;
}

.banner {
	background: url('/img/wonderland-logo.png') no-repeat center;
}

.form-holder {
	width: 500px;
}

.form-holder.wide {
	width: 700px;
}

.loader {
	margin-top: 0;
	background-image: url('/img/loading-fallback.png');
	behavior: url('/css/compiled/backgroundsize.min.htc');
}

.loader.pos-static {
	position: relative;
}

.party-image-container {
	height: 125px;
}

.party-image-container .party-image-selecter {
	border: none;
}

.party-image-container.selected .party-image-selecter {
	border: 3px solid #007eac;
}

.share-title { 
	behavior: url('/css/compiled/backgroundsize.min.htc');
}