@model ForgottenPasswordForm

@using (Html.BeginUmbracoForm<ForgottenPasswordSurfaceController>("HandleForgottenPasswordForm", FormMethod.Post, new { ng_submit="processing=true" }))
{
    @Html.AntiForgeryToken()


    <div class="grid-8 grid-tablet-12 margin-bottom-large">

        <h4>Your details</h4>

        <p>Enter your email address.</p>


        <label for="EmailAddress">Email</label>
        @Html.TextBoxFor(x => x.EmailAddress, new { @m_radius_picker="small", @ng_readonly="processing", @ng_class="{'error': errorEmailMessage.length>0}" })
        <div class="margin-bottom-small" ng-show="errorEmailMessage.length>0" ng-init="errorEmailMessage='@Html.ValidationMessageFor(x => x.EmailAddress)'">@Html.ValidationMessageFor(x => x.EmailAddress)</div>
    </div>

    <div class="grid-12">
        <hr />

        <button type="submit" class="btn-primary float-right" m-radius-picker="small" ng-disabled="processing">Reset password <span class="icon-icon_chevron_right"></span></button>
        <a href="/login/" class="cancel margin-right-1 float-right">Cancel</a> @* TODO: remove hardcoded url *@
        <div class="loader" ng-show="processing"></div>

    </div>
}