@inherits UmbracoViewPage<RegisterGuest>
@{
    Layout = "~/Views/SitePage.cshtml";
}

<div class="page-bg">


    <div class="container gutter">

        <div class="wgrid-main centered wgrid-no-bottom-margin">

            <div class="boxx radius-bottom-0" m-radius-picker="large">

                <h1 class="error"><span class="lighter"><span class="icon-icon_alert margin-right-small"></span>Payment </span><br/><span class="bigger margin-top-medium">failed</span></h1>

            </div>

        </div>

        @* TODO: need model object to display side bar event info *@
        @*<div class="wgrid-side parent wgrid-no-bottom-margin">

            <div class="boxx collapse radius-tablet-0" m-radius-picker="medium">

                @Html.Partial("PartyDetailsSide")

            </div>

        </div>*@



        <div class="wgrid-main centered">

            <div class="boxx radius-top-0" m-radius-picker>

                <hr/>

                @ViewData["errorMessage"]


                <hr/>

                @* TODO: need guid to go back to the join party page *@
                @* @Matt - this page will be rendered for any failed transaction or cancelled transaction, the party url will be : @Model.PartyHost.PartyUrl *@
                
                <span class="cancel margin-right-1 float-right">Go back</span>

            </div>

        </div>


    </div>

</div>