@inherits UmbracoViewPage<RegisterGuest>
@{
    Layout = "~/Views/SitePage.cshtml";
}

<div class="page-bg">

    <div class="container gutter">

        <div class="wgrid-main centered">

            <div class="boxx" m-radius-picker>

                <h1><span class="lighter"><span class="icon-icon_person lighter margin-right-small"></span><span class="bigger">Join <br/></span></span><span>@Model.PartyHost.FirstName's Party</span></h1>

                <hr/>

                @(Html.Action<RegisterGuestSurfaceController>("RenderRegisterGuestForm"))

            </div>

        </div>

    </div>

</div>