@inherits UmbracoViewPage<RegisterGuest>
@{
    Layout = "~/Views/SitePage.cshtml";
}


<div class="page-bg">

    <div class="container gutter">

        <div class="wgrid-main wgrid-no-bottom-margin">

            <div class="boxx radius-bottom-0" m-radius-picker="large">

                <h1><span class="bigger">Join <br/></span><span>the Party</span></h1>

            </div>

        </div>




        <div class="wgrid-side parent wgrid-no-bottom-margin">

            <div class="boxx collapse radius-tablet-0" m-radius-picker="medium">

                @Html.Partial("PartyDetailsSide")

            </div>

        </div>


        <div class="wgrid-main">

            <div class="boxx radius-top-0" m-radius-picker>

                <hr/>

                <div class="grid-8 grid-mobile-12 parent centered margin-top-3 margin-bottom-3">
                    <div m-facebook-login-button label="'Register with Facebook'" login-url="@(Url.GetUmbracoApiService<FacebookApiController>("RegisterGuest"))?partyGuid=@Model.PartyHost.PartyGuid"></div>
                </div>


                <hr/>

                @(Html.Action<RegisterGuestSurfaceController>("RenderRegisterGuestForm"))

            </div>

        </div>


    </div>

</div>