@inherits UmbracoViewPage<IEnumerable<SitePage>> 
<header id="siteHeader">
  <a class="btn primary">Host a party ></a>
  <nav>
    <ul>
        @* Model is just a collection of site pages *@
        @foreach (SitePage sitePage in Model)
        {
            <li><a href="@sitePage.Url">@sitePage.Name</a></li>
        }
    </ul>
  </nav>
  <a class="btn secondary">Log in</a>
</header>
