@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<header id="siteHeader">
  <a class="btn primary">Host a party ></a>
  <nav>
      <ul>
      @for( var i = 0; i < 4; i++ ) {
        <li><a href="#">Nav link</a></li>
      }
      </ul>
  </nav>
  <a class="btn secondary">Log in</a>
</header>
