@inherits UmbracoViewPage<SiteSettings> 
<header id="siteHeader">
  <nav class="nav">
    <a class="btn-primary">Host a party ></a>
    <ul class="toolbar">
      @foreach (SitePage sitePage in Model.HeaderNavigation)
      {
        <li><a href="@sitePage.Url">@sitePage.Name</a></li>
      }
    </ul>
    <div class="wonderland-crest-logo"></div>
    <a class="btn-secondary" href="@Model.LoginUrl">Login</a>
  </nav>
  <div class="snow-brush-overlay"></div>
</header>
