@inherits UmbracoViewPage<IEnumerable<SitePage>> 
<header id="siteHeader">
  <nav class="nav">
    <a class="btn-primary">Host a party ></a>
      <ul class="toolbar">
        @* Model is just a collection of site pages *@
        @foreach (SitePage sitePage in Model)
        {
          <li><a href="@sitePage.Url">@sitePage.Name</a></li>
        }
      </ul>
    <a class="btn-secondary">Login</a>
  </nav>
  <div class="header-overlay"> </div>
</header>
