@inherits UmbracoViewPage<SiteSettings> 
<header id="siteHeader">
    <nav class="nav">
    <a class="btn-primary" href="@Model.RegisterHostUrl">Host a party ></a>
    <ul class="toolbar">
    @foreach (SitePage sitePage in Model.HeaderNavigation)
    {
        <li><a href="@sitePage.Url">@sitePage.Name</a></li>
    }
    </ul>
    <a href="/" class="wonderland-crest-logo hidden-phone">Wonderland Home</a>
    <a class="btn-secondary" href="@Model.LoginUrl">Login</a>
    </nav>
    <div class="snow-brush-overlay"></div>
</header>
