@inherits UmbracoViewPage<IEnumerable<PartyIdeaTile>>



<div class="hero" ng-init="guidePartyIdeas=@Json.Encode(
                                                Model.Select(x =>
                                                    new
                                                    {
                                                        imageUrl =  x.TileSize == PartyIdeaTileSize.Wide ? x.TileImage.GetResponsiveCropUrl("Letterbox") : x.TileImage.GetResponsiveCropUrl("Square"),
                                                        tileType = x.TileType, // decoration, fashion, playlist, recipe, fundraising
                                                        tileHeading = x.TileHeading,
                                                        tileCopy= x.TileCopy,
                                                        link = (x is FashionTile ? ((FashionTile)x).PinterestBoardUrl : (x is DecorationTile ? ((DecorationTile)x).PinterestBoradUrl : x.Url)),
                                                        spotify = x is PlaylistTile,
                                                        pinterest = x is FashionTile || x is DecorationTile,
                                                        wide = x.TileSize == PartyIdeaTileSize.Wide
                                                    }
                                               )
                                        )">

    <h1 class="secondary margin-bottom-4">Party <br/><span class="bigger">Ideas</span></h1>

    @{
        IEnumerable<string> tileTypes = this.Model.Select(x => x.TileType).Distinct();
        if (tileTypes.Count() > 1)
        {
            <div class="text-align-center">
                <select class="auto-width" ng-model="guideIdeaFilter">
                    <option value="">Show All</option>
                    @foreach (string tileType in tileTypes)
                    {
                        <option value="@tileType">@tileType</option>
                    }
                </select>
            </div>
        } else {

        <div class="wgrid-full text-align-center">
            <a class="back" href="@Umbraco.TypedContentSingleAtXPath("//" + PartyIdeas.Alias).Url"><span class="icon-icon_back"></span>Show all party ideas</a>
        </div>

        }
    }

</div>

<div class="planking pad-top-4 pad-bottom-10">

    <div class="container gutter home-content-adjust">

        <div class="wgrid-full">

            <div masonry='{ "transitionDuration" : "0.4s", "columnWidth": ".idea-sizer", "itemSelector" : ".idea-tile"}' masonry-filter-change="{{ guideIdeaFilter }}">

                <div class="idea-sizer"></div>

                <div class="idea-tile" masonry-tile ng-repeat="item in guidePartyIdeas | filter: {tileType: guideIdeaFilter}" ng-class="{'wide': item.wide}">

                    <div class="idea" m-rotate m-rotate-hover m-image-loaded-broadcaster>

                        <a class="hide-span" ng-href="{{ item.link }}" target="{{ item.pinterest ? '_blank' : '_self' }}">
                            <img class="idea-polaroid" ng-src="{{ item.imageUrl|mQuality:50|mWidth:600 }}" width="100%" m-image-loaded-notifier />
                            <div class="idea-details" ng-class="{'over-the-top': item.spotify, 'wide': item.wide}" m-vertical-align="{{ item.spotify }}">
                                <div class="body-small margin-small" ng-bind="item.tileType"></div>
                                <h1 class="margin-bottom-small" ng-class="{'smaller': !item.wide}" ng-bind="item.tileHeading"></h1>
                                <div class="body-mini margin-bottom-small" ng-bind="item.tileCopy|striptags" ng-show="item.spotify"></div>
                                <div class="spotify-logo" ng-show="item.spotify"></div>
                                <div class="pinterest-ico" ng-show="item.pinterest"></div>
                            </div>
                            <span>Goto idea</span>
                        </a>
                    </div>

                </div>

                <div class="clear"></div>
            </div>

        </div>

    </div>
</div>