@inherits UmbracoViewPage<PartyKit>

<h1>Party Kit (partial) used on PistePoints and FundraisingIdeas pages</h1>

<dl>
    <dt>Heading</dt>
    <dd>@Model.Heading</dd>

    <dt>Images</dt>
    <dd></dd>

    <dt>Link Text</dt>
    <dd>@Model.LinkText</dd>

    <dt>Copy</dt>
    <dd>@Model.Copy</dd>
</dl>
