@inherits UmbracoViewPage<IEnumerable<PartyIdeaTile>>



<div class="hero" ng-init="guidePartyIdeas=@Json.Encode(
                                                Model.Select(x =>
                                                    new
                                                    {
                                                        imageUrl = x.TileImage.Url,
                                                        tileType = x.TileType, // decoration, fashion, playlist, recipe, fundraising
                                                        tileHeading = x.TileHeading,
                                                        tileCopy= x.TileCopy,
                                                        link = x.Url,
                                                        spotify = x is PlaylistTile,
                                                        pinterest = x is FashionTile || x is DecorationTile,
                                                        wide = x.TileSize == PartyIdeaTileSize.Wide
                                                    }
                                               )
                                        )">

    <h1 class="secondary margin-bottom-4"><span class="icon-icon_cutlery margin-right-small"></span>Party <br/><span class="bigger">Ideas</span></h1>

    @{
        IEnumerable<string> tileTypes = this.Model.Select(x => x.TileType).Distinct();
        if (tileTypes.Count() > 1)
        {
            <div class="text-align-center">
                <select class="auto-width" ng-model="guideIdeaFilter">
                    <option value="">Show All</option>
                    @foreach (string tileType in Model.Select(x => x.TileType).Distinct())
                    {
                        <option value="@tileType">@tileType</option>
                    }
                </select>
            </div>
        }
    }

</div>

<div class="planking pad-top-4 pad-bottom-10">

    <div class="container gutter home-content-adjust">

        <div class="wgrid-full">

            <div masonry='{ "transitionDuration" : "0.4s", "columnWidth": ".idea-sizer", "itemSelector" : ".idea-tile"}' masonry-filter-change="{{ guideIdeaFilter }}">

                <div class="idea-sizer"></div>

                <div class="idea-tile" masonry-tile ng-repeat="item in guidePartyIdeas | filter: {tileType: guideIdeaFilter}" ng-class="{'wide': item.wide}">

                    <div class="idea" m-rotate>
                        <img class="idea-polaroid" ng-src="{{ item.imageUrl }}" width="100%" />
                        <div class="idea-details" ng-class="{'over-the-top': item.spotify, 'wide': item.wide}">
                            <div class="body-small margin-bottom-small" ng-bind="item.tileType"></div>
                            <div class="icon-icon_snowflake margin-bottom-small" ng-show="item.spotify && item.wide"></div>
                            <h1 class="margin-bottom-small" ng-class="{'smaller': !item.wide}" ng-bind="item.tileHeading"></h1>
                            <div class="body-mini margin-bottom-small" ng-bind="item.tileCopy|striptags" ng-show="item.spotify"></div>
                            <div class="spotify-logo" ng-show="item.spotify"></div>
                            <div class="pinterest-ico" ng-show="item.pinterest"></div>
                        </div>
                        <a class="idea-link" ng-href="{{ item.link }}">Goto idea</a>
                    </div>

                </div>

                <div class="clear"></div>
            </div>

        </div>

    </div>
</div>