<div class="share-title margin-bottom-large"></div>
<div class="share-group">
    <a class="share-facebook hide-span" m-radius-picker="small" ng-href="https://www.facebook.com/sharer/sharer.php?u={{ currentPageUrl|escape }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=368,width=600');return false;">Share<span> on Facebook</span></a>
    <a class="share-twitter hide-span" m-radius-picker="small" ng-href="https://twitter.com/share?url={{ currentPageUrl|escape }}&text=Share+a+winter+wonderland!" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=368,width=600');return false;">Share<span> on Twitter</span></a>
    <a class="share-email hide-span" m-radius-picker="small" href="mailto:enter@email.com?subject=Winter%20Wonderland!&body={{ currentPageUrl|escape }}" target="_blank"><span>Email</span></a>
</div>