@model ProfileImageForm

@using (Html.BeginUmbracoForm<ProfileSurfaceController>("HandleProfileImageForm", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="ng-hide" m-ios-version m-min-ios="6" m-ios-remove-class="ng-hide">
        <div class="choose-file-wrapper icon-icon_camera margin-bottom-small width-mobile-100p" ng-class="{'disabled': pageFeedback.profileImageProcessing}">
            <input class="choose-file" type="file" name="profileImage" accept="image/jpeg,image/gif,image/png" m-file-selected="submit()" ng-disabled="pageFeedback.profileImageProcessing" />
        </div>

        <div class="warning clickable body-mini" ng-click="submitBlank()" ng-show="pageProfile.imageUrl"><span class="icon-icon_x margin-right-tiny"></span>Remove current profile image</div>
    </div>

    <div class="ng-hide" m-ios-version m-max-ios="5" m-ios-remove-class="ng-hide" m-class-only-on-ios>
        <div class="errorred">Your version of iOS does not support image uploads, you need to have iOS 6 or above</div>
    </div>

}