@model ProfileTShirtSizeForm

@using (Html.BeginUmbracoForm<ProfileSurfaceController>("HandleProfileTShirtSizeForm", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="">
        <h4>T-Shirt Size</h4>
        @foreach (string tShirtSize in this.ViewBag.TShirtSizes)
        {
            @Html.RadioButtonFor(x => x.TShirtSize, tShirtSize) @tShirtSize
        }
    </div>

    <div class="grid-12 parent">
        <button type="submit" class="btn-primary float-right" m-radius-picker="small" ng-disabled="">Change T-Shirt Size ></button>
        <div class="loader" ng-show=""></div>
    </div>

}