@model RegisterGuestForm

<h1>Register Guest</h1>

@using (Html.BeginUmbracoForm<RegisterGuestSurfaceController>("HandleRegisterGuestForm"))
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel()
    
    <button type="submit">Submit</button>
}
