<?xml version="1.0"?>
<FileSystemProviders>
  <Provider alias="media" type="AST.S3.FileSystem.S3FileSystem,AST.S3">
    <Parameters>
      <add key="virtualRoot" value="~/media/" />
      <add key="awsAccessKey" value="AKIAJGFQT56XNLQBAQSA" />
      <add key="awsSecretKey" value="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" />
      <add key="awsBucketName" value="paperwonderland" />
      <add key="awsSaveMediaToS3" value="true" />
    </Parameters>
  </Provider>
  <!-- Media -->
</FileSystemProviders>