@inherits UmbracoViewPage<Donate>
@{
    Layout = "~/Views/SitePage.cshtml";
}


<div class="page-bg" ng-init="guidePartyHost = {
        partyHeading: 'Amelia\'s winter warm-up',
        profileImage: null,
        partyImage: '/img/test_default_image_2.jpg',
        partyDateTime: moment(),
        partyDetailsFormattedAddress: '234 Eastbourne Road, London, N1 6PY'
    };">

    <div class="container gutter">

        <div class="wgrid-main">

            <div class="boxx" m-radius-picker>

                <h1><span class="lighter"><span class="icon-icon_tick margin-right-medium"></span><span class="bigger">Thanks</span></span><br/><span> for the donation</span></h1>

                <h3>You're going to Amelia's wonderland party</h3>
                <p>Thank you message goes here. Review your order details, then go join the conversation  on the <span class="body-highlight">party page wall</span></p>

                <hr/>

                <h4>Order details</h4>

                <table>
                    <tr><td>Payment #:</td><td>@Model.DonationRow.VendorTxCode</td></tr>
                    <tr><td>Payment status:</td><td>Complete</td></tr>
                    <tr><td>Date:</td><td ng-bind="guidePartyHost.partyDateTime|datePreviewFormat">@Model.DonationRow.Timestamp</td></tr>
                    <tr><td>Total amount:</td><td>£@Model.DonationRow.Amount</td></tr>
                </table>

                <hr class="margin-top-large margin-bottom-large"/>

                <a href="@Model.PartyHost.PartyUrl" class="btn-primary float-right" m-radius-picker="small medium">Go to the party page ></a>

            </div>

        </div>


        <div class="wgrid-side parent">

            <div class="wgrid-full parent">

                <div class="boxx collapse" m-radius-picker="medium">

                    <div class="wgrid-full wgrid-no-bottom-margin">
                        <div class="grid-12 party-main-image side" ng-style="{'background-image': 'url(' + guidePartyHost.partyImage +')'}"></div>
                    </div>


                    <div class="wgrid-full pad-large">

                        <div m-profile-image="{{ guidePartyHost.profileImage }}" m-radius-picker="small"></div>
                        <div class="party-details">
                            <h3 class="top pad-right-3 margin-bottom-4 margin-mobile-bottom-0" ng-bind="guidePartyHost.partyHeading"></h3>

                            <div class="anti-image-shift-details body-small float-left margin-right-medium">
                                <span class="icon-icon_clock"></span>
                                <span ng-bind="guidePartyHost.partyDateTime|datePreviewFormat"></span>
                            </div>
                            <div class="anti-image-shift-details body-small float-left">
                                <span class="icon-icon_fingerpost"></span>
                                <span ng-bind="guidePartyHost.partyDetailsFormattedAddress"></span>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <div class="wgrid-full">

                <div class="boxx radius-v1-small">
                    <div>
                        <span class="body-mega">£<span>100</span></span>
                        <span>raised of the </span>
                        <span class="body-highlight">£200</span>
                        <span>target</span>
                    </div>

                    <div class="totaliser">
                        <div class="current-total" style="width: 50%"></div>
                    </div>

                    <div class="form-info">
                        <span class="float-left">50%</span>
                        <span class="float-right">Ranked #423 of 423 parties</span>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
