@inherits UmbracoViewPage<Donate>
@{
    Layout = "~/Views/SitePage.cshtml";
}

<p>Donate to '@Model.PartyHost.FirstName @Model.PartyHost.LastName'</p>

@(Html.Action<DonateSurfaceController>("RenderDonateForm"))
