@inherits UmbracoViewPage<Donate>
@{
    Layout = "~/Views/SitePage.cshtml";
}


<div class="page-bg">


    <div class="container gutter">

        <div class="wgrid-main centered wgrid-no-bottom-margin">

            <div class="boxx radius-bottom-0" m-radius-picker="large">

                <h1><span>That party </span><br/><span class="bigger margin-top-medium">wasn't found</span></h1>

            </div>

        </div>



        <div class="wgrid-main centered">

            <div class="boxx radius-top-0" m-radius-picker>

                <hr/>

                <p>Copy to explain that the party wasn't found and that they can still donate but only through the Macmillan website.</p>

                <hr/>

                @* TODO: need url for macmillan donation link *@
                <span class="cancel margin-right-1 float-right">Donate on Macmillan's website</span>

            </div>

        </div>


    </div>

</div>