@model RegisterHostPartyKitForm

<h1>Register Host Party Kit Form Partial</h1>

@using (Html.BeginUmbracoForm<RegisterHostSurfaceController>("HandleRegisterHostPartyKitForm"))
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel()

    <button type="submit">Submit</button>
}