@inherits UmbracoViewPage<RegisterHost>
@{
    Layout = "~/Views/SitePage.cshtml";
}



<div class="page-bg">

    <div class="container gutter">

        <div class="wgrid-main centered">

            <div class="boxx" m-radius-picker>

                <h1><span class="bigger">Register</span></h1>

                <hr/>

                @(Html.Action<RegisterHostSurfaceController>("RenderRegisterHostPartyKitForm"))


            </div>

        </div>

    </div>

</div>