@inherits UmbracoViewPage<RegisterHost>
@{
    Layout = "~/Views/SitePage.cshtml";
}



<div class="page-bg">

    <div class="container gutter">

        <div class="wgrid-main centered">

            <div class="boxx" m-radius-picker>

                <h1 class="margin-bottom-large"><span class="icon-icon_fingerpost lighter margin-right-small"></span><span class="lighter">Register<br/></span><span class="bigger">Add your Details</span></h1>

                <hr/>

                @(Html.Action<RegisterHostSurfaceController>("RenderRegisterHostPartyKitForm"))


            </div>

        </div>

    </div>

</div>