@inherits UmbracoViewPage<RegisterHost>
@{
    Layout = "~/Views/SitePage.cshtml";
}


<div class="page-bg">

    <div class="container gutter">

        <div class="wgrid-main centered">

            <div class="boxx" m-radius-picker>

                <h1 class="margin-bottom-large"><span class="icon-icon_fingerpost lighter margin-right-small"></span><span class="lighter">Register<br/></span><span class="bigger">Host Party Url</span></h1>

                <hr/>

                <h3>TBC: What is the status of this page?</h3>

                @(Html.Action<RegisterHostSurfaceController>("RenderRegisterHostPartyUrlForm"))


                <hr/>

                <a href="@(((IPartier)this.Members.GetCurrentMember()).PartyUrl)" class="btn-primary float-right" m-radius-picker="small">Go to my party <span class="icon-icon_chevron_right"></span></a>

            </div>

        </div>

    </div>

</div>