@inherits UmbracoViewPage<RegisterHost>
@{
    Layout = "~/Views/SitePage.cshtml";
}



<div class="page-bg">

    <div class="container gutter">

        <div class="wgrid-main centered">

            <div class="boxx" m-radius-picker>

                <h1 class="margin-bottom-large"><span class="icon-icon_fingerpost lighter margin-right-small"></span><span class="lighter">Register<br/></span><span class="bigger">Host Party Kit</span></h1>

                <hr/>

                @(Html.Action<RegisterHostSurfaceController>("RenderRegisterHostPartyKitForm"))

                @*<div class="grid-8 grid-mobile-12 margin-bottom-large">

                    <h3>Your details</h3>

                    <label for="email">Email</label>
                    <input name="email" type="text" m-radius-picker="small"/>

                    <label for="currentPassword">Password</label>
                    <div class="pos-relative">
                        <span class="form-field-ico icon-icon_padlock"></span>
                        <input name="currentPassword" type="password" m-radius-picker="small"/>
                    </div>

                    <label for="repeatPassword">Repeat password</label>
                    <div class="pos-relative">
                        <span class="form-field-ico icon-icon_padlock"></span>
                        <input name="repeatPassword" type="password" m-radius-picker="small"/>
                    </div>
                </div>

                <div class="grid-12">
                    <hr/>
                    <h3>Your address</h3>
                    <p class="form-info">Please enter the address in which you require your party pack to be sent to, not necessarily where your party will take place!</p>
                </div>

                <div class="grid-8 grid-mobile-12">

                    <label for="Address1">Address 1</label>
                    <input name="Address1" type="text" m-radius-picker="small"/>

                    <label for="Address2">Address 2</label>
                    <input name="Address2" type="text" m-radius-picker="small"/>

                    <label for="TownCity">Town/City</label>
                    <input name="TownCity" type="text" m-radius-picker="small"/>

                    <label for="Postcode">Postcode</label>
                    <input class="margin-bottom-3" name="Postcode" type="text" ng-model="partyDetailsData.Postcode" m-radius-picker="small"/>

                </div>

                <div class="grid-12">
                    <hr/>
                    <a href="#" class="btn-primary float-right" m-radius-picker="small">Register <span class="icon-icon_chevron_right"></span></a>
                    <a href="/" class="cancel margin-right-1 float-right">Cancel</a>
                </div>*@

            </div>

        </div>

    </div>

</div>