@model CustomPartyImageForm


<div m-image-upload m-on-success-event="partyImageUrlUpdated">
    @using (Html.BeginUmbracoForm<PartySurfaceController>("HandleCustomPartyImageForm", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="choose-file-wrapper icon-icon_camera margin-bottom-small" ng-class="{'choose-file-change': upload.mp3.size}">
            <input class="choose-file" type="file" name="customPartyImage" accept="image/jpeg,image/gif,image/png" m-file-selected="submit()" />
        </div>
    }
</div>
