@model FundraisingTargetForm

<div ng-init="fundraisingTargetDataInit(@Html.Raw(Json.Encode(Model)))"></div>


<script type="text/ng-template" id="partials/fundraisingTargetForm.html">


    <label><input type="radio" name="selectar" ng-click="showChoose=false" ng-model="fundraisingTargetData.FundraisingTarget" value="100" />£100</label>
    <label><input type="radio" name="selectar" ng-click="showChoose=false" ng-model="fundraisingTargetData.FundraisingTarget" value="250" />£250</label>
    <label><input type="radio" name="selectar" ng-click="showChoose=false" ng-model="fundraisingTargetData.FundraisingTarget" value="300" />£300</label>
    <label><input type="radio" name="chooser" ng-click="fundraisingTargetData.FundraisingTarget=0" ng-model="showChoose" value="true" ng-init="showChoose=false"  />I'll choose</label>
    <input type="text" ng-model="fundraisingTargetData.FundraisingTarget" ng-show="showChoose" />

    @using (Html.BeginUmbracoForm<PartySurfaceController>("HandleFundraisingTargetForm", FormMethod.Post, new { m_serialized="", m_post_on_submit="fundraisingTargetData", m_on_success_event="fundraisingTargetDataUpdated" }))
    {
        @*@Html.AntiForgeryToken()*@

        <input type="text" name="fundraisingTarget" ng-model="fundraisingTargetData.FundraisingTarget" />

        <button type="submit">Save Changes</button>
    }
</script>