@model PartyWallForm

<h2>Leave a message on the party wall</h2>

@using (Html.BeginUmbracoForm<PartySurfaceController>("HandlePartyWallForm"))
{
    @Html.AntiForgeryToken()

    @Html.EditorForField(x => x.Message)

    <label for="wallIamge">Upload image</label>
    <input type="file" name="wallImage" id="wallImage" />
    
    <button type="submit">Post Message</button>
}