@model PartyWallImageForm

<div m-image-upload m-on-success-event="wallImageUrlUploaded">
    @using (Html.BeginUmbracoForm<PartySurfaceController>("HandlePartyWallImageForm", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <label for="partyWallImage">Upload image</label>
        <input type="file" name="partyWallImage" accept="image/jpeg,image/gif,image/png" m-file-selected="submit()" />

        @*<button type="submit">Upload</button>*@
    }
</div>