@model PartyImageForm

<div ng-init="partyImageDataInit(@Html.Raw(Json.Encode(Model)))"></div>


<script type="text/ng-template" id="partials/partyImageForm.html">

    <div class="image-selecter-holder">
        <h2>Default Images</h2>


        @* Dynamic defaults *@
        @*<label ng-repeat="defaultImage in partyImageData.DefaultImages">
            <input type="radio" name="urlSelectar" ng-model="partyImageData.PartyImage" value="defaultImage"  />
            <img ng-src="{{ defaultImage }}" alt="" width="50" height="50"/>
        </label>
        <div ng-show="partyImageData.DefaultImages.length<=0">No default images... yet</div>@*


        @* hardcoded defaults *@
        <label>
            <input type="radio" name="urlSelectar" ng-model="partyImageData.PartyImage" value="/img/test_default_image_1.jpg"  />
            <div class="party-image-selecter" style="background-image: url(/img/test_default_image_1.jpg)" ng-class="{'selected': partyImageData.PartyImage=='/img/test_default_image_1.jpg'}"></div>
        </label>

        <label>
            <input type="radio" name="urlSelectar" ng-model="partyImageData.PartyImage" value="/img/test_default_image_2.jpg"  />
            <div class="party-image-selecter" style="background-image: url(/img/test_default_image_2.jpg)" ng-class="{'selected': partyImageData.PartyImage=='/img/test_default_image_2.jpg'}"></div>
        </label>

        <label>
            <input type="radio" name="urlSelectar" ng-model="partyImageData.PartyImage" value="/img/test_default_image_3.jpg"  />
            <div class="party-image-selecter" style="background-image: url(/img/test_default_image_3.jpg)" ng-class="{'selected': partyImageData.PartyImage=='/img/test_default_image_3.jpg'}"></div>
        </label>

    </div>


    <div class="image-selecter-holder">
        <h2>Custom Image</h2>

        <div ng-show="partyCustomImage.url">
            <label>
                <input type="radio" name="urlSelectar" ng-model="partyImageData.PartyImage" value="{{ partyCustomImage.url }}"  />
                <div class="party-image-selecter" ng-style="{'background-image': 'url(' + partyCustomImage.url + ')'}" ng-class="{'selected': partyImageData.PartyImage==partyCustomImage.url}"></div>
            </label>
        </div>

        <div>
            @(Html.Action<PartySurfaceController>("RenderCustomPartyImageForm"))
        </div>
    </div>

    <hr/>

    <div>
        @using (Html.BeginUmbracoForm<PartySurfaceController>("HandlePartyImageForm", FormMethod.Post, new { m_serialized="", m_post_on_submit="partyImageData", m_on_success_event="partyImageUpdated" }))
        {
            @Html.AntiForgeryToken()

            @*@Html.EditorForModel()*@

            <input name="PartyImage" type="hidden" ng-model="partyImageData.PartyImage">

            <button type="submit">Save Party Image</button>
        }
    </div>
</script>