@model PartyCopyForm

<div ng-init="partyCopyDataInit(@Html.Raw(Json.Encode(Model)))"></div>

<script type="text/ng-template" id="partials/partyCopyData.html">
    @using (Html.BeginUmbracoForm<PartySurfaceController>("HandlePartyCopyForm", FormMethod.Post, new { post_on_submit="partyCopyData" }))
    {
        @Html.AntiForgeryToken()

        @*@Html.EditorForModel()*@

        <textarea name="Copy" ng-model="partyCopyData.Copy"></textarea>

        <button type="submit">Save Changes</button>
    }
</script>