@model ProfileImageForm

<script type="text/ng-template" id="partials/profileImageForm.html">

    <h4 class="top">Profile image</h4>

    <div class="boxx internal" m-radius-picker="small">

        @* display the profile picture *@
        <div m-profile-image="{{ profileImage.url }}" m-radius-picker="small"></div>


        <div class="image-shift-details">
            <div m-image-upload m-on-success-event="profileImageUrlUpdated">
                @using (Html.BeginUmbracoForm<PartySurfaceController>("HandleProfileImageForm", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="choose-file-wrapper icon-icon_camera margin-bottom-small">
                        <input class="choose-file" type="file" name="profileImage" accept="image/jpeg,image/gif,image/png" m-file-selected="submit()" />
                    </div>
                }
            </div>

            <div class="successful" ng-show="profileImage.showFeedbackSuccess">Image uploaded successfully</div>
            <div class="errorred" ng-show="profileImage.showFeedbackError">Oops something went wrong!</div>

            <div class="file-upload-info margin-left-0">Recommended dimensions of 500x500</div>
            <div class="file-upload-info margin-left-0">Maximum file size of 1MB</div>
        </div>
    </div>

</script>