@model ProfileImageForm

@using (Html.BeginUmbracoForm<PartySurfaceController>("HandleProfileImageForm", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @*@Html.EditorForModel() // doesn't render upload field*@
    
    <label for="profileImage">Upload image</label>
    <input type="file" name="profileImage" id="profileImage" />
        
    <button type="submit">Save Changes (upload profile image)</button>
}