@model SuggestedDonationForm

<div ng-init="suggestedDonationDataInit(@Html.Raw(Json.Encode(Model)))"></div>

<script type="text/ng-template" id="partials/suggestedDonationForm.html">
    @using (Html.BeginUmbracoForm<PartySurfaceController>("HandleSuggestedDonationForm", FormMethod.Post, new { m_serialized="", m_post_on_submit="suggestedDonationData", m_on_success_event="suggestedDonationDataUpdated" }))
    {
        @Html.AntiForgeryToken()

        @Html.EditorForModel()

        <label><input type="radio" name="SuggestedDonation" value="10" ng-model="suggestedDonationData.SuggestedDonation" /><span>10</span></label>
        <label><input type="radio" name="SuggestedDonation" value="15" ng-model="suggestedDonationData.SuggestedDonation" /><span>15</span></label>
        <label><input type="radio" name="SuggestedDonation" value="20" ng-model="suggestedDonationData.SuggestedDonation" /><span>20</span></label>
        <label><input type="radio" name="SuggestedDonation" value="25" ng-model="suggestedDonationData.SuggestedDonation" /><span>25</span></label>


        <button type="submit">Save Changes (suggested donation)</button>
    }
</script>