@model SuggestedDonationForm

<div ng-init="suggestedDonationDataInit(@Html.Raw(Json.Encode(Model)))"></div>

<script type="text/ng-template">
    @using (Html.BeginUmbracoForm<PartySurfaceController>("HandleSuggestedDonationForm"))
    {
        @*@Html.AntiForgeryToken()*@

        // TODO: UI for 10 / 15/ 20 / 25 selection

        @Html.EditorForModel()

        <button type="submit">Save Changes (suggested donation)</button>
    }
</script>